@model FormBot.Entity.Job.JobScheduling
@using FormBot.Helper;

@{ ////Todo
                //bool isAddEditJobScheduling = false;
                //bool isDeleteJobScheduling = false;
                //bool isJobSchedulingView = false;

                bool isAddEditJobScheduling = true;
                bool isDeleteJobScheduling = true;
                bool isJobSchedulingView = true;

                if (TempData.ContainsKey(SystemEnums.TempDataKey.RoleMenu.ToString()))
                {
                    ((List<FormBot.Main.Controllers.MenuIdList>)TempData[SystemEnums.TempDataKey.RoleMenu.ToString()]).ForEach(d =>
                    {
                        if (d.MenuId == (int)SystemEnums.MenuId.JobSchedulingAddEdit) { isAddEditJobScheduling = true; }
                        if (d.MenuId == (int)SystemEnums.MenuId.JobSchedulingDelete) { isDeleteJobScheduling = true; }
                        if (d.MenuId == (int)SystemEnums.MenuId.JobSchedulingView) { isJobSchedulingView = true; }
                    });
                } }

<div class="alert alert-success alert-dismissible" role="alert" id="alertAssignTime" style="display: none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>

<div class="job-com-box">
    <div class="sub-title">
        <h4>
            Schedule an installer :<span id="VisitHeader"></span>
        </h4>
        @if (Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.FormBotSuperAdmin) == FormBot.Helper.ProjectSession.UserTypeId ||
             Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.FormBotComplianceOfficer) == FormBot.Helper.ProjectSession.UserTypeId ||

             Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.ResellerAdmin) == FormBot.Helper.ProjectSession.UserTypeId ||
             Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.ResellerAccountManager) == FormBot.Helper.ProjectSession.UserTypeId ||

             Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.SolarCompanyAdmin) == FormBot.Helper.ProjectSession.UserTypeId ||
             Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.SolarSubContractorAdmin) == FormBot.Helper.ProjectSession.UserTypeId ||
             Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.SolarConnectionsOfficer) == FormBot.Helper.ProjectSession.UserTypeId)
        {
            if (isAddEditJobScheduling && !(Model.lstJobSchedule.Count > 0))
            {
                <div class="title-btn">
                    <button type="button" class="btn primary icon-btn" id="btnAddVisit">
                        <span class="sprite-img add_ic"></span>Add a Visit
                    </button>
                </div>
            }
            else
            {
                <div class="title-btn">
                    <button type="button" class="btn primary icon-btn" id="btnAddVisit" style="display:none;">
                        <span class="sprite-img add_ic"></span>Add a Visit
                    </button>
                </div>
            }
        }
    </div>

    <div class="alert alert-danger alert-dismissible" role="alert" id="errorMsgRegionJobVisit" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" id="successMsgRegionJobVisit" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>

    <div class="panel-group" role="tablist" aria-multiselectable="true" id="jobVisitDetail" visitcount="@Model.lstJobSchedule.Count">

        @if (Model.lstJobSchedule != null && Model.lstJobSchedule.Count > 0)
        {
            foreach (var lstJobSchedule in Model.lstJobSchedule)
            {
<div class="panel" name="JobSchedule" data-panelid="@lstJobSchedule.JobSchedulingID">
    <div class="schedule-heading panel-heading" id="headingOne">
        <div class="visit-id">
            <label>Visit ID :</label>
            <span class="color-text">@lstJobSchedule.UniqueVisitID</span>
        </div>
        <div>
            <label>Electrician :</label>
            <span class="color-text">@lstJobSchedule.UserName</span>
        </div>
        <div>
            <label>Visit Status :</label>
            @if (lstJobSchedule.VisitStatus == 1)
            {<span class="color-text clsVisitStatus">Open</span>}
            else
            {
<span class="color-text clsVisitStatus">Completed</span>}
        </div>
        <div class="panel-title">
            <ul class="schedule-option">
                <li>
                    <a class="expand-btn" data-toggle="collapse" data-parent="#schedule" href="#@lstJobSchedule.JobSchedulingID" aria-expanded="true" aria-controls="collapseOne">
                        <span class="icon expand-view sprite-img">
                            @*<img src='@Url.Content("~/images/expand-view.png")' alt="">*@
                        </span>Expand View
                    </a>
                </li>
                <li>
                    <span class="icon">

                        @if (lstJobSchedule.IsDefaultSubmission == true)
                        {
    <input class="visit-list-check" type="checkbox" id="visitDefaultSubmission" jobid="@lstJobSchedule.JobID" jobschedulingid="@lstJobSchedule.JobSchedulingID" checked="checked"> }
                        else
                        {
    <input class="visit-list-check" type="checkbox" id="visitDefaultSubmission" jobid="@lstJobSchedule.JobID" jobschedulingid="@lstJobSchedule.JobSchedulingID">}
                    </span>Default Submission
                </li>
                <li>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" id="visitAction">
                            @if (isAddEditJobScheduling)
                            {
        <li>
            <a href="#" title="Edit" onclick="showJobSchedulingDetail(@lstJobSchedule.JobSchedulingID,event)">Edit</a>
        </li>}
                            @if (isJobSchedulingView && !isAddEditJobScheduling)
                            {
        <li>
            <a href="#" title="View" onclick="showJobSchedulingDetail(@lstJobSchedule.JobSchedulingID,event)">View</a>
        </li>}
                            @if (Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.SolarCompanyAdmin) == FormBot.Helper.ProjectSession.UserTypeId ||
                                 Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.SolarSubContractorAdmin) == FormBot.Helper.ProjectSession.UserTypeId ||
                                 Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.SolarConnectionsOfficer) == FormBot.Helper.ProjectSession.UserTypeId ||
                                 Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.FormBotSuperAdmin) == FormBot.Helper.ProjectSession.UserTypeId ||
                                 Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.FormBotComplianceOfficer) == FormBot.Helper.ProjectSession.UserTypeId ||
                                 Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.ResellerAdmin) == FormBot.Helper.ProjectSession.UserTypeId ||
                                Convert.ToInt32(FormBot.Helper.SystemEnums.UserType.ResellerAccountManager) == FormBot.Helper.ProjectSession.UserTypeId)
                            {
                                if (isDeleteJobScheduling)
                                {
        <li>
            <a href="#" title="Delete" onclick="DeleteJobScheduling(@lstJobSchedule.JobSchedulingID, @lstJobSchedule.UserId,event)">Delete</a>
        </li>}
                            }
                            <li>
                                <a href="#" title="View Signatures" onclick="ViewVisitSignature(@lstJobSchedule.JobSchedulingID,event)">View Signatures</a>
                            </li>

                            <li class="loose-credits">
                                <span class="enabled-box">
                                    <label class="switch">

                                        @if (lstJobSchedule.VisitStatus == 1)
                                        {
                    <input type="checkbox" jobscedulingid="@lstJobSchedule.JobSchedulingID" id="chkVisitStatus" visitstatus="@lstJobSchedule.VisitStatus" onclick="VisitStatusChange(this)"> }
                                        else
                                        {
                    <input type="checkbox" jobscedulingid="@lstJobSchedule.JobSchedulingID" id="chkVisitStatus" visitstatus="@lstJobSchedule.VisitStatus" checked="" onclick="VisitStatusChange(this)">}

                                        <div class="slider-round">
                                            <span class="slider-text enabled">Open</span>
                                            <span class="slider-text disabled">Completed</span>
                                        </div>
                                        @*@if (lstJobSchedule.VisitStatus == 1)
                                            {
                                                <div class="slider-round">
                                                    <span class="slider-text enabled">Open</span>
                                                    <span class="slider-text disabled">Completed </span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="slider-round">
                                                    <span class="slider-text enabled">Completed</span>
                                                    <span class="slider-text disabled">Open</span>
                                                </div>
                                            }*@
                                        @*<input type="checkbox" jobscedulingid="@lstJobSchedule.JobSchedulingID" id="chkVisitStatus" visitstatus="@lstJobSchedule.VisitStatus">
                                            <div class="slider-round">
                                                @if (lstJobSchedule.VisitStatus == 1)
                                                {
                                                    <span class="slider-text enabled">Open</span>
                                                    <span class="slider-text disabled">Completed </span>
                                                }
                                                else
                                                {
                                                    <span class="slider-text enabled">Completed</span>
                                                    <span class="slider-text disabled">Open </span>
                                                }
                                            </div>*@
                                    </label>
                                </span>
                            </li>

                            <li>
                                <a href="#" title="Populate Signatures" onclick="PopulateSignature(@lstJobSchedule.JobID,@lstJobSchedule.JobSchedulingID,event)">Populate Signatures</a>
                            </li>
                            <li>
                                @if (lstJobSchedule.VisitStatus == 1)
                                {
                                    <a href="#" title="Request Job Data" onclick="RequestJobData(@lstJobSchedule.JobID,@lstJobSchedule.JobSchedulingID,event)">Request Job Data</a>
                                }
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </div>

    <div class="panel-collapse collapse" id="@lstJobSchedule.JobSchedulingID" role="tabpanel" aria-labelledby="headingOne">

        <div class="row schedule-installer">
            <div class="col-md-6">
                <ul class="visiter-details">
                    <li>
                        <span class="icon sprite-img inverter-icon">
                            @*<img src='@Url.Content("~/images/inverter.png")' alt="">*@
                        </span>
                        <strong>@lstJobSchedule.Label </strong><br>
                        @lstJobSchedule.Detail
                    </li>
                    <li>
                        <span class="icon sprite-img date-icon">
                            @*<img src='@Url.Content("~/images/date-icon.png")' alt="">*@
                        </span>
                        <p><strong>Electrician : </strong>@lstJobSchedule.UserName</p>
                        <p><strong>Start Date : </strong>@lstJobSchedule.strVisitStartDate</p>
                    </li>

                    @if (lstJobSchedule.CheckListTemplateId > 0)
                    {
<li>
    <span class="icon sprite-img checklist">
        @*<img src='@Url.Content("~/images/checklist.png")' alt="">*@
    </span>
    <strong>@lstJobSchedule.CheckListTemplateName : </strong>(@lstJobSchedule.TotalCompletedItemCount/@lstJobSchedule.TotalItemCount Completed)
</li>}

                </ul>
            </div>

            <div class="col-md-6">
                <div class="visit-notes mCustomScrollbar">
                    <div class="nots-status">
                        <span class="icon sprite-img visit-notes-icon">
                            @*<img src='@Url.Content("~/images/visit-notes.png")' alt="">*@
                        </span>
                        <strong>Visit Notes:</strong> (@Model.NewNotesCount New  Notes Available)
                    </div>

                    <div class="nots-list">
                        <ul id="jobNotesUL">
                            @if (Model.lstJobNotes != null && Model.lstJobNotes.Count > 0)
                            {
                                int noteCount = 0;
                                for (int c = 0; c < Model.lstJobNotes.Count; c++)
                                {
                                    if (Model.lstJobNotes[c].JobSchedulingId == lstJobSchedule.JobSchedulingID)
                                    {
        <li number="@(++noteCount)">
            <p>@Model.lstJobNotes[c].Notes</p>
            <p class="date">@Model.lstJobNotes[c].Created   @Model.lstJobNotes[c].strCreatedDate</p>
        </li>}
                                }
                            }
                        </ul>
                        @*@if (Model.lstJobNotes != null && Model.lstJobNotes.Count > 2)*@
                        @if (Model.lstJobNotes != null && Model.lstJobNotes.AsEnumerable().Where(a => a.JobSchedulingId == lstJobSchedule.JobSchedulingID).ToList().Count > 2)
                        {
    <a href="#" title="View Now" id="viewMoreNotes" isshowmore="0" style="margin-left:10px;">Show More Notes</a>}
                    </div>

                </div>

            </div>

        </div>

        <div class="visit-completed" status="@lstJobSchedule.VisitStatus" id="@lstJobSchedule.JobSchedulingID">
            <p class="completed-status" id="displayStatus">
                <strong>Visit Status : </strong>
                <span id="openStatus">Open</span>
                <span id="completedStatus" style="display:none;">Completed</span>
                @*@if (lstJobSchedule.VisitStatus == 1)
                    {
                        <span id="openStatus">Open</span>
                    }
                    else
                    {
                        <span id="completedStatus">Completed</span>
                    }*@
            </p>
            <p id="displayCompletedDate"><strong>Complete Date : </strong><span>@lstJobSchedule.strCompletedDate</span></p>
            @*@if (lstJobSchedule.VisitStatus == 2)
                {
                    <p id="displayCompletedDate"><strong>Complete Date : </strong>@lstJobSchedule.strCompletedDate</p>
                }*@
        </div>
    </div>
</div>}
            }
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnAddVisit").click(function (e) {
            debugger;
            addVisit();
        });
    });

</script>