@model IEnumerable<FormBot.Entity.Email.EmailMessageWithAttachments>

    <ul class="chat-block">
        @foreach (var item in Model)
        {
            if (item.IsSendFromSender)
            {
                <li class="right-msg attachment">
                    <h5 class="username">@item.SenderName Said...</h5>
                    <p>
                        @Html.Raw(item.body_text)
                    </p>
                    <p class="chat-date-time">@item.full_date</p>
                    @if (item.Attachments.Count > 0)
                    {
                        <ul class="attachment-ber">
                            <li class="attachment-title"><strong>Attachment :</strong></li>
                            @foreach (var attachment in item.Attachments)
                            {
                                <li>@Html.Raw(attachment)</li>
                            }
                        </ul>
                    }
                </li>
            }
            else
            {
                <li class="left-msg attachment">
                    <h5 class="username">@item.SenderName Said...</h5>
                    <p>
                        @Html.Raw(item.body_text)
                    </p>
                    <p class="chat-date-time">@item.full_date</p>
                    @if (item.Attachments.Count > 0)
                    {
                        <ul class="attachment-ber">
                            <li class="attachment-title"><strong>Attachment :</strong></li>
                            @foreach (var attachment in item.Attachments)
                            {
                                <li>@Html.Raw(attachment)</li>
                            }
                        </ul>
                    }
                </li>
            }
        }
    </ul>


@*<div class="chat-text-box">
    <div class="textarea-box attachment">
        <textarea placeholder="Send a reply..."></textarea>
        <ul class="attachment-ber">
            <li class="attachment-title"><strong>Attachment :</strong></li>
            <li><a href="#"><img alt="" src='@Url.Content("~/Images/attach_document.png")' class="mCS_img_loaded">document (15kb)></a></li>
            <li><a href="#"><img alt="" src='@Url.Content("~/Images/attach_document.png")' class="mCS_img_loaded">pdf (20kb)></a></li>
            <li><a href="#"><img alt="" src='@Url.Content("~/Images/attach_document.png")' class="mCS_img_loaded">Exl (65kb)></a></li>

        </ul>
    </div>
    <div class="send-block">
        <button class="send-msg-btn"></button>
        <button class="manage-attachment-btn"></button>
    </div>
</div>*@


@*@foreach (var item in Model)
{
    if (item.IsSendFromSender)
    {
        <div class="row">
            <div class="col-md-offset-10">
                @item.SenderName "Said...."<br />
                @item.body_text
                @foreach (var attachment in item.Attachments)
                {
                    @Html.Raw(attachment)
                    <br />
                }
                <br />
                @item.msg_date
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-offset-1">
                @item.SenderName "Said...."<br />
                @item.body_text
                <br />
                @foreach (var attachment in item.Attachments)
                {
                    @Html.Raw(attachment)
                    <br />
                }
                <br />
                @item.msg_date
            </div>
        </div>
    }
    <br />
}*@
