<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>GreenBot</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon.ico")" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/datatableCSS")*@
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")*@
    @*@Scripts.Render("~/datatableJs")*@

        @Scripts.Render("~/bundles/CommonJS")

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="@FormBot.Helper.ProjectSession.Theme" class="login-bg">
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
    </html>