@model FormBot.Entity.AccreditedInstallers
@using FormBot.Helper;

@*@Html.AntiForgeryToken()*@
@Html.ValidationSummary(true)

<div class="container-fluid">
    <h1 class="title">Accredited Installers List</h1>
    <div class="alert alert-success" id="successMessage" style="display:none;">
        File has been imported successfully.
        <button type="button" class="close" onclick="$(this).parent().hide();" aria-hidden="true">×</button>
    </div>
    <div class="alert alert-danger" id="failureMessage" style="display:none;">
        Invalid file format.
        <button type="button" class="close" onclick="$(this).parent().hide();" aria-hidden="true">×</button>
    </div>
    <div class="alert alert-success" id="successMessageSyncJson" style="display:none;">
        AccerditedInstaller Json Sync successfully.
        <button type="button" class="close" onclick="$(this).parent().hide();" aria-hidden="true">×</button>
    </div>
    <div class="alert alert-danger" id="ErrorMessageSyncJson" style="display:none;">
       Something wrong in AccerditedInstaller Json Syncing. 
        <button type="button" class="close" onclick="$(this).parent().hide();" aria-hidden="true">×</button>
    </div>
    
    @using (Html.BeginForm("AccreditedInstallers", "CERImport", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-block", @style = "margin-bottom:8px;" }))
    {
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Accreditation number:</label>
                @Html.TextBoxFor(model => model.AccreditationNumber, new { @class = "form-control", @maxlength = "12" })
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Name:</label>
                <input type="text" id="Name" class="form-control" maxlength="100" />
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Account name:</label>
                @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control", @maxlength = "100" })
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Licensed electrician number:</label>
                @Html.TextBoxFor(model => model.LicensedElectricianNumber, new { @class = "form-control", @maxlength = "20" })
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Grid type:</label>
                @Html.TextBoxFor(model => model.GridType, new { @class = "form-control", @maxlength = "50" })
            </div>
        </div>

        <div class="form-group col-xs-12">
            <input type="button" id="btnSendRequest" value="Search" class="primary search_ic">
            <div class="default btn icon-btn" onclick="ResetSearchFilters();">
                <span class="sprite-img reset_ic"></span>
                <input type="button" id="btnReset" value="Reset" class="">
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-2">
            <div class="grid_topbar">
                <p class="job_result" id="numRecords"></p>
            </div>
        </div>
        <div class="col-sm-8 fco">
            <div class="control-label" style="text-align:right;line-height:35px;" id="headerTitle">
                @ViewBag.Version
            </div>
        </div>
        <div class="col-sm-1 fco">
            <div class="form-group">
                <div class="fileUpload primary upload_ic">
                    <span>Upload</span>
                    <input type="file" id="fileUpload" class="upload" value="Upload" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 fco">
            <div class="form-group">
                <div class="fileUpload primary">
                    <span>Sync Installers</span>
                    <input type="button" id="fileSync" class="upload" value="Upload" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="grid" class="col-xs-12">
            <!-- Grid start -->
            <div class="table-responsive">
                <table id="datatable" class="table table-hover">
                    <thead>
                        <tr>
                            <th width="10%"><span>@Html.DisplayName("Greenbot Status") </span></th>
                            <th width="10%"><span>@Html.DisplayName("Installer Status") </span></th>
                            <th width="10%"><span>@Html.DisplayName("Accreditation Number")</span></th>
                            <th width="10%"><span>@Html.DisplayName("First Name")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Last Name")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Account Name")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Mailing Address Unit Type")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Mailing Address Unit Number")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Mailing Address Street Number")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Mailing Address Street Name") </span></th>
                            <th width="10%"><span>@Html.DisplayName("Mailing Address Street Type")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Mailing City")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Mailing State")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Postal Code")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Mailing Country")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Phone")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Fax")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Mobile")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Email")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Grid Type")</span></th>
                            <th width="10%"><span>@Html.DisplayName("SPS")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Solar Installer Full Award Date")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Solar Installer Provisional Award Date")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Solar Installer Expiry Date")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Suspension Start Date")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Suspension End Date")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Licensed Electrician Number")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Endorsements")</span></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/datatableCSS")
<style type="text/css">
    #grid .table-responsive th {
        vertical-align: top;
        background-position: right 14px calc() !important;
        white-space: nowrap !important;
    }

    #grid .table-responsive td {
        white-space: nowrap !important;
    }
</style>
@section scripts{
    @*<script src="~/Scripts/jquery-ui-1.0.js"></script>
        <script src="~/Scripts/jquery.fileupload.js"></script>
        <script src="~/Scripts/FormBot.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/bootstrap-datepicker.js"></script>
        @Scripts.Render("~/datatableJs")
        @Scripts.Render("~/bundles/jqueryval")*@
    <script>

        $(document).ready(function () {
            if (@ProjectSession.UserTypeId==3) {
                $('.fco').hide();
            }

            $(":file").change(function (e) {
                $("#successMessage").hide();
                $("#failureMessage").hide();

                var fileUpload = $("#fileUpload").get(0);
                var files = fileUpload.files;

                if(files[0].name.split('.').pop().toLowerCase() == 'xlsx' || files[0].name.split('.').pop().toLowerCase() == 'xls')
                {
                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    $.ajax({
                        url: '@Url.Action("AccreditedInstallersFile", "CERImport")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            if (result[0] == "success") {
                                $("#successMessage").show();
                                $("#failureMessage").hide();
                                $("#headerTitle").html(result[1]);
                                Searching('', '', '', '', '');
                            }
                            else if (result[0] == "false") {
                                $("#failureMessage").show();
                                $("#successMessage").hide();
                            }
                            else {
                                $("#failureMessage").html(result[0]).show();
                                $("#successMessage").hide();
                            }
                            //$('.alert').fadeOut(2000);
                        }
                    });
                }
                else {
                    $("#failureMessage").html('Please upload file with ".xlsx" or ".xls" extension only.').show();
                    $("#successMessage").hide();
                }
                this.value = null;
            });

            $('#btnSendRequest').click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                searchAccreditedInstaller();
            });

            $('#datatable').DataTable({
                iDisplayLength: 10,
                lengthMenu:@ProjectConfiguration.GetPageSize,
                language: {
                    sLengthMenu: "Page Size: _MENU_"
                },

                columns: [
                        { 'data': 'SendRequest',
                            "render": function (data, type, full, meta) {
                                var returnHTML = '';
                                if(full.SendRequest == "No")
                                {
                                    var viewHref ="";
                                    imgview = 'background:url(../Images/view-icon.png) no-repeat center; text-decoration:none;';
                                    viewHref = ("@Url.Action("Create", "User")?Id=" + full.Id);
                                    returnHTML +='<a href="' + viewHref + '" class="action view" style="' + imgview + '" title="Send Request">' + '&nbsp; &nbsp; &nbsp; &nbsp;' + '</a>';
                                }
                                return returnHTML;
                            }
                        },
                        { 'data': 'InstallerStatus', "orderable": true },
                        { 'data': 'AccreditationNumber' },
                        { 'data': 'FirstName' },
                        { 'data': 'LastName' },
                        { 'data': 'AccountName' },
                        { 'data': 'MailingAddressUnitType' },
                        { 'data': 'MailingAddressUnitNumber' },
                        { 'data': 'MailingAddressStreetNumber' },
                        { 'data': 'MailingAddressStreetName' },
                        { 'data': 'MailingAddressStreetType' },
                        { 'data': 'MailingCity' },
                        { 'data': 'MailingState' },
                        { 'data': 'PostalCode' },
                        { 'data': 'MailingCountry' },
                        { 'data': 'Phone' },
                        { 'data': 'Fax' },
                        { 'data': 'Mobile' },
                        { 'data': 'Email' },
                        { 'data': 'GridType' },
                        { 'data': 'SPS' },
                        {
                            'data': 'InstallerFullAwardDate',
                            "render": function (data) {
                                return ConvertToDateWithFormat(data,'@FormBot.Helper.ProjectConfiguration.GetDateFormat');
                            }
                        },
                        {
                            'data': 'InstallerProvisionalAwardDate',
                            "render": function (data) {
                                return ConvertToDateWithFormat(data,'@FormBot.Helper.ProjectConfiguration.GetDateFormat');
                            }
                        },
                        {
                            'data': 'InstallerExpiryDate',
                            "render": function (data) {
                                return ConvertToDateWithFormat(data,'@FormBot.Helper.ProjectConfiguration.GetDateFormat');
                            }
                        },
                        {
                            'data': 'SuspensionStartDate',
                            "render": function (data) {
                                return ConvertToDateWithFormat(data,'@FormBot.Helper.ProjectConfiguration.GetDateFormat');
                            }
                        },
                        {
                            'data': 'SuspensionEndDate',
                            "render": function (data) {
                                return ConvertToDateWithFormat(data,'@FormBot.Helper.ProjectConfiguration.GetDateFormat');
                            }
                        },
                        { 'data': 'LicensedElectricianNumber' },
                        { 'data': 'Endorsements' },
                ],
                dom: "<<'table-responsive tbfix't><'paging grid-bottom prevar'p><'bottom'l><'clear'>>",
                bServerSide: true,
                sAjaxSource: '@Url.Action("GetAccreditedInstallersList", "CERImport")',
                "fnDrawCallback": function () {
                    $("#datatable_wrapper").find(".bottom").find(".dataTables_paginate").remove();
                    $(".paging a.previous").html("&nbsp");
                    $(".paging a.next").html("&nbsp");
                    $('.grid-bottom span:first').attr('id', 'spanMain');
                    $("#spanMain span").html("");
                    $(".ellipsis").html("...");

                    if ($(".paging").find("span").length > 1) {
                        $("#datatable_length").show();
                    } else if ($("#datatable").find("tr").length >11) { $("#datatable_length").show();  } else { $("#datatable_length").hide(); }

                    //--------To show display records from total records-------------------
                    var table = $('#datatable').DataTable();
                    var info = table.page.info();

                    if(info.recordsTotal==0){
                        document.getElementById("numRecords").innerHTML = '<b>' + 0 + '</b>  of  <b>' + info.recordsTotal +'</b>  Accredited Installer(s) found';
                    }
                    else{
                        document.getElementById("numRecords").innerHTML = '<b>' + $('#datatable >tbody >tr').length + '</b>  of  <b>' + info.recordsTotal +'</b>  Accredited Installer(s) found';
                    }
                    //------------------------------------------------------------------------------------------------------------------------------
                }
            });

            $("#AccreditationNumber,#Name,#AccountName,#LicensedElectricianNumber,#GridType").keypress(function (e) {
                if (e.which == 13) {
                    $('#btnSendRequest').click();
                }
            });

            $("#AccreditationNumber").focus();
        });


        function ResetSearchFilters() {
            $("#AccreditationNumber").val('');
            $("#Name").val('');
            $("#AccountName").val('');
            $("#LicensedElectricianNumber").val('');
            $("#GridType").val('');
            Searching('', '', '', '', '', '');
            $("#AccreditationNumber").focus();
        }

        function Searching(accreditationNumber, name, accountName, licensedElectricianNumber, gridType) {
            var accreditationNumber = accreditationNumber;
            var name = name;
            var accountName = accountName;
            var licensedElectricianNumber = licensedElectricianNumber;
            var gridType = gridType;
            var dTable = $("#datatable").dataTable();
            var dSettings = dTable.fnSettings();
            dSettings.sAjaxSource = '@Url.Action("GetAccreditedInstallersList", "CERImport")' + '?accreditationNumber=' + accreditationNumber + "&name=" + name + "&accountName=" + accountName + "&licensedElectricianNumber=" + licensedElectricianNumber + "&gridType=" + gridType;
            $('#datatable').DataTable().ajax.reload();
        }

        function searchAccreditedInstaller() {
            var accreditationNumber = $("#AccreditationNumber").val();
            var name = $("#Name").val();
            var accountName = $("#AccountName").val();
            var licensedElectricianNumber = $("#LicensedElectricianNumber").val();
            var gridType = $("#GridType").val();
            Searching(accreditationNumber, name, accountName, licensedElectricianNumber, gridType);
        }
        $("#fileSync").click(function () {
                $.ajax({
                    url: '@Url.Action("SyncAccreditedInstallersList", "CERImport")',
                    type: "GET",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: {},
                    success: function (result) {
                        if (result.status) {
                            $("#successMessageSyncJson").show();
                            $("#successMessage").hide();
                            $("#headerTitle").html(result.message[0]);
                            $('#datatable').DataTable().ajax.reload();
                        }
                        else {
                            $("#ErrorMessageSyncJson").show();
                            $("#successMessage").hide();
                        }
                    },
                });
            })
    </script>
}