@model FormBot.Entity.CERImport

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="container-fluid">
    <h1 class="title">Import Files</h1>
    @using (Html.BeginForm("index", "CERImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.ValidationSummary()
                </div>
            </div>
        </div>
 
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.Label("File Type :", new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.FileId, new SelectList(Model.FileType, "Value", "Text"), "-- Select File --", new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    @Html.Label("Select File :", new { @class = "control-label" })
                    <input type="file" name="FileUpload" class="control-label" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="submit" name="submit" value="Upload" class="primary" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")*@
}

<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>



