@model FormBot.Entity.User
@{
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";//"~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<style>
    .faq-block.fix-width {
        padding-top: 0px;
    }

    .title-hed td {
        vertical-align: middle;
    }

    .title-hed .had-logo {
        max-height: 80px;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Terms And Conditions</title>
</head>
<body class="center">

    <div class="container-fluid faq-block fix-width">
        <div class="title-hed">
            <table width="100%" style="width:100%;">
                <tr>
                    <td valign="middle">
                        @*<h1 class="title">Emerging Energy Solutions Group PTY LTD <span>ACN 152 953 412</span></h1>*@
                        <h1 class="title">@Model.ResellerName<span>ABN @Model.CompanyABN</span></h1>
                    </td>
                    <td class="pull-right" valign="middle">
                        @*<img class="had-logo" src="~/Images/tandclogo.jpg" /></td>*@
                        <img class="had-logo" src='@Url.Content(FormBot.Helper.ProjectSession.UploadedDocumentPath +"UserDocuments" + "/" + FormBot.Helper.ProjectSession.Logo)' />
                    </td>
                </tr>
            </table>
        </div>
        @*<h1 class="title">Emerging Energy Solutions Group PTY LTD ACN 152 953 412<img width="150" height="70" src="~/Images/temp.png" /> </h1>*@

        <h4 class="sub-title">TRADING TERMS AND CONDITIONS</h4>
        <h4 class="sub-title">DEFINITIONS</h4>

        <p>For this agreement, the definitions of the words within this agreement are to be given their meaning in the usual sense, unless otherwise listed below: </p>
        <p><b>Accept</b> means, in respect of a Submitted Assignment Agreement, the process by which EE becomes bound by that Assignment Agreement.</p>
        <p><b>Accredited Certificate Provider (ACP)</b> has the meaning given in the <i>Electricity Supply Act</i> 1995 (NSW).</p>
        <p><b>Administrator</b> includes a liquidator, receiver or receiver and manager (whether provisional or otherwise).</p>
        <p><b>Agreement</b> means this agreement.</p>
        <p>
            <b>Assignment Agreement</b> means an agreement between EE and a System Owner, in which the System Owner assigns its rights to create a
            Parcel of Environmental Certificates to EE.
        </p>
        <p>
            <b>Client</b> generally, a solar retailer, wholesaler or individual engaged in renewable energy activity
            to which the legislation applies.
        </p>
        <p><b>CER</b> means the Clean Energy Regulator.</p>
        <p><b>Certificate Settlement Amount</b> has the meaning given in the Certificate Settlement Request.</p>
        <p><b>Certificate Settlement Fee</b> has the meaning given in the Certificate Settlement Request.</p>
        <p><b>Certificate Settlement Period</b> has the meaning given in clause 6.</p>
        <p><b>Certificate Settlement Request</b> means a document in the form set out in Schedule C.</p>
        <p>
            <b>Code of Conduct</b> means any set of rules or other obligations that are a condition of
            membership of an industry association to which a Party belongs.
        </p>
        <p><b>Counter party</b> mean the client.</p>
        <p><b>Data</b> means information contained within Greenbot, including Form Data and Solution Data.</p>
        <p><b>Defaulting Party</b> means the party in breach of this agreement.</p>
        <p>
            <b>Delivered Volume</b> means the volume of Environmental Certificates to be created through Assignment Agreements Submitted under a
            Price Lock In arrangement.
        </p>

        <p><b>Energy Saving Certificate</b> has the meaning given in the <i>Electricity Supply Act</i> 1995 (NSW).</p>
        <p><b>Energy Saver Information Sheet</b> means the document with this title specified by IPART </p>
        <p>
            <b>Environmental Certificate</b> means a tradeable certificate that can be created to represent the environmental improvement created through the
            deployment of a System, and includes Smallscale Technology Certificates, Large Generation Certificates, Victorian Energy Efficiency Certificates, and Energy Saving Certificates.
        </p>
        <p><b>ESC</b> means Essential Services Commission.</p>
        <p><b>Expected Volume</b> means the amount specified in the Price Lock In Request.</p>
        <p><b>Failed assignment</b> is when STCs are failed by the CER, due to missing information, expiry, ineligibility or otherwise.</p>
        <p><b>Form Data</b> means Data that is presented to Retailer by GEO to assist in the entry of Solution Data.</p>
        <p><b>EE</b> has the meaning given at the commencement of this document.</p>
        <p><b>GEO</b> has the meaning given in recital D.</p>
        <p><b>GST</b> means Goods and Services Tax, as that phrase is in defined in the <i>New Tax System (Goods and Services Tax) Act</i> 1999 (Cth).</p>
        <p><b>Injured Party</b> has the meaning given in clause 10.</p>
        <p><b>Insolvent</b> means the occurrence of any one or more of the following events in respect of a person:</p>
        <p>a) An application is made that it be wound up,declared bankrupt or that an Administrator be appointed;</p>
        <p>b) An Administrator is appointed to any of its assets; </p>
        <p>c) It enters into an arrangement with its creditors (or proposes to do so);</p>
        <p>d) It makes an assignment to benefit one or more creditors (or proposes to do so);</p>
        <p>e) It is insolvent, states that it is insolvent or it is presumed to be insolvent under an applicable law;</p>
        <p>f) It becomes an insolvent under administration or action is taken which could result in that event;</p>
        <p>g) A writ of execution is levied against it or its property;</p>
        <p>h) It ceases to carry on business or threatens to do so; or</p>
        <p>i) Anything occurs under the law of any applicable jurisdiction which has a substantially similar effect to paragraphs a) - h) above.</p>
        <p><b>Invoicing Period</b> has the meaning given in a Certificate Settlement Request</p>
        <p><b>IPART</b> means Independent Pricing and Regulatory Tribunal.</p>
        <p><b>Large scale Generation Certificate</b> has the meaning given in the <i>Renewable Energy (Electricity) Act</i> 2000 (Cth).</p>
        <p><b>Lock-In Price</b> has the meaning given in a Price Lock-In Request.</p>
        <p><b>NSW-ESS</b> means New South Wales Energy Savings Scheme.</p>
        <p>
            <b>Offer Price</b> means, on any given day and in respect of a particular type of Environmental Certificate, the price specified on EE’s website
            for that particular type of Environmental Certificate on that day.
        </p>
        <p><b>On-line Portal Request</b> means a document in the form set out in Schedule A.</p>
        <p>
            <b>Parcel of Environmental Certificates</b> means, in respect of a specific System, the Environmental Certificates that may be created
            as a result of the installation or operation of that System.
        </p>
        <p>
            <b>Parcel Volume</b> means, in respect of a particular Parcel of Environmental Certificates, the number of Environmental Certificates contained
            in that parcel.
        </p>
        <p><b>Parties</b> means EE and Retailer and their transferees, assigns and successors in title.</p>
        <p><b>Payment Direction</b> means a written communication in which one Party directs the other to make payments in a particular way.</p>
        <p><b>Penalty Interest Rate</b> means the rate specified in the <i>Penalty Interest Rates Act </i> 1983 (Vic).</p>
        <p><b>Price Lock-In Request</b> means a document in the form.</p>
        <p><b>Pricing hedge</b> means a future price locked in against a trading commodity.</p>
        <p><b>Privacy Act</b> means the Privacy Act 1988 (Cth).</p>
        <p><b>Private Area</b> means the part of GEO in which Solution Data is owned by Retailer to the exclusion of EE</p>
        <p>
            <b>Regulator</b> means a government department or agency that has responsibility for the administration of programs involving or associated with Environmental Certificates, and
            includes the CER, the ESC and IPART.
        </p>
        <p><b>Settlement Date</b> has the meaning given in a Price Lock-In Request. Shared Area means the part of GEO in which Solution Data is owned by EE and licenced to Retailer.</p>
        <p><b>Small-scale Technology Certificate</b> has the meaning given in the <i>Renewable Energy (Electricity) Act</i> 2000 (Cth).</p>
        <p><b>Solution Data</b> means Data entered into GEO by the Retailer that is not Form Data.</p>
        <p><b>Spot purchasers</b> means purchasers who acquire renewable commodities at the current market price.</p>
        <p>STCs- small scale technology certificates</p>
        <p><b>STC Aggregation</b> means accumulation of unregistered or registered STCs</p>
        <p>
            <b>Retailer</b> means any organization or individual who is engaged in the sale or supply of solar PV, Solar Hot Water or any other activity
            defined under the ‘Renewable Energy Target Act’ as eligible to receive
        </p>
        <p><b>Retailer Assignment Agreement</b> means an Assignment Agreement that directs EE to make a payment to Retailer.</p>
        <br />
        <p>
            <b>Submit</b> means, in respect of an Assignment Agreement, delivery to EE for Acceptance and processing by either physical or electronic
            means. System means equipment which can be installed or removed to enable the creation of Environmental Certificates.
        </p>
        <p><b>System Administration Purposes</b> means activities directed at maintaining and enhancing the effective operations of GEO.</p>
        <p><b>System Owner</b> means, in respect of a specific System, the person entitled to create the Environmental Certificates associated with the System.</p>
        <p><b>T + method</b> means t indicating the day of lodgment, and the + indicating the additional days for payment from submission.</p>
        <p><b>Unregistered STC assignments</b> means the right to create STCs</p>
        <p><b>Victorian Energy Efficiency Certificate</b> has the meaning given in the <i>Victorian Energy Efficiency Target Act</i> 2007 (Vic).</p>
        <br />
        <h4 class="sub-title">INTERPRETATION FOR THE PURPOSES OF THIS AGREEMENT:</h4>
        <p><b>Plural and Singular:</b> Words importing the singular number include the plural and vice versa.</p>
        <p>
            <b>Persons:</b> References to persons include references to individuals, companies, corporations, firms, partnerships, joint ventures,
            associations, organisations, trusts, states or agencies of state, government departments and local and municipal authorities, whether or not
            having separate legal personality.
        </p>
        <p><b>Headings:</b> Clause and other headings are for ease of reference only and do not form any part of the context or to affect the interpretation of this Agreement.</p>
        <p><b>Background and Schedules:</b> The background and schedules to this Agreement form part of the Agreement.</p>
        <br />

        <h4 class="sub-title">RECITALS</h4>

        <br />
        <table>
            <tr>
                <td width="30px"><b>A.</b></td>
                <td>
                    Emerging Energy is a key stakeholder in environmental markets and accredits as well as assists in the formation of
                    environmental certificates and theirconversion to monetary payables.
                </td>
            </tr>
            <tr>
                <td width="30px"><b>B.</b></td>
                <td>
                    The client is involved with one or more of manufacturing, supply and installation of solar powered systems on either residential or commercial properties for system owners.
                </td>
            </tr>
            <tr>
                <td width="30px"><b>C.</b></td>
                <td>
                    The client has approached Emerging Energy to work alongside it in relation to joint business ventures,
                    outsourcing, once off engagements and any other transactions which may relate to system owners.
                </td>
            </tr>
            <tr>
                <td width="30px"><b>D.</b></td>
                <td>
                    The client’s acceptance of these terms and conditions is paramount in Emerging Energy committing to trade with you at any time.
                </td>
            </tr>
            <tr>
                <td width="30px"><b>E.</b></td>
                <td>
                    This agreement constitutes the terms and conditions under which Emerging Energy and the client agree to trade and purchase unregistered STCs with the client.
                </td>
            </tr>
            <tr>
                <td width="30px"><b>F.</b></td>
                <td>
                    Emerging Energy enters this contract to purchase unregistered STCs (or to attain the right to create STCs).
                </td>
            </tr>
            <tr>
                <td width="30px"><b>G.</b></td>
                <td>
                    These terms and conditions outline the roles and responsibilities of each party and shall assist in governing the processing of STC trade which relate to the client.
                </td>
            </tr>
            <tr>
                <td width="30px"><b>H.</b></td>
                <td>
                    Upon agreeing to these terms and conditions, both parties are taken to have accepted this agreement in its entirety in order to work together.
                </td>
            </tr>
        </table>
        <p><b>1 General Obligations </b></p>
        <p>1.1 During the course of this Agreement, Retailer must: </p>
        <table>
            <tr><td width="40px"></td><td>a) Comply with directions and advice issued by EE and its associates;</td></tr>
            <tr><td width="40px"></td><td>b) Ensure that its employees, agents and independent contractors comply with this Agreement; </td></tr>
            <tr><td width="40px"></td><td>c) Promptly advise EE if its becomes aware of any action that a third party is taking or may take that could result in a claim being made against Retailer or result in a requirement for Retailer to notify its insurer;</td></tr>
            <tr><td width="40px"></td><td>d) Not represent that it can bind EE in any way; </td></tr>
            <tr><td width="40px"></td><td>e) Comply with all applicable privacy and confidentiality laws. </td></tr>
            <tr><td width="40px"></td><td>f) Submit Assignment Agreements to EE promptly and at least 1 month prior to any relevant regulatory deadline. </td></tr>
        </table>
        <p><b>2. STC Price </b></p>
        <table>
            <tr>
                <td>
                    <p>
                        @*2.1 Subject to the effectiveness of other clause within this agreement, Emerging Energy Solutions Group Pty Ltd will pay the price for each STC*@
                        2.1 Subject to the effectiveness of other clause within this agreement, @Model.ResellerName will pay the price for each STC
                        proposed to be issued from a submission as per the terms of the trade which will be defined clearly prior to each individual trade.
                        The STC price and settlement period will both be clearly defined.
                    </p>
                    <p>
                        The retailer acknowledges that by making the submission and selecting the STC price it accepts the price offered by Emerging Energy on the terms
                        offered by Emerging Energy. The retailer acknowledges that the price is subject to market change and an offer to trade can be withdrawn at any time.
                    </p>
                </td>
            </tr>
        </table>
        <p><b>3. Supplementary agreements covering fixed rate quotes and spot pricing </b></p>
        <table>
            <tr>
                <td width="30px">3.1</td>
                <td>
                    From time to time, Emerging Energy may offer a fixed rate quote for spot purchases of STCs. This may or may not be for a fixed quantity of STCs.
                    In the event that such an offer is made (usually via a pricing hedge) the supplementary agreement will apply, even though our website or other materials
                    may indicate a different purchase price. The price may be subject to change based on market conditions.
                </td>
            </tr>
            <tr>
                <td width="30px">3.2</td>
                <td>The Client may seek that a price lock-in be agreed upon with Emerging Energy. EE may accept or deny this request. </td>
            </tr>
            <tr>
                <td width="30px">3.3</td>
                <td>
                    If EE accepts a Price Lock-In Request, then by no later than the Settlement Date, Retailer must Submit sufficient Assignment
                    Agreements to generate the volume of Environmental Certificates specified in the Price Lock-In Request.
                </td>
            </tr>
            <tr>
                <td width="30px">3.4</td>
                <td>
                    If Retailer Submits an Assignment Agreement that will generate Environmental Certificates in excess of the Expected Volume,
                    the amount paid for the additional Environmental Certificates will be the Offer Price at the time the Assignment Agreement is Accepted by EE.
                </td>
            </tr>
        </table>
        <p><b>4 Certificate Settlement  </b></p>
        <table>
            <tr>
                <td width="30px">4.1</td>
                <td>At any time, Retailer may request that EE settle amounts owing to Retailer by transfer of Environmental Certificates by submitting a Certificate Settlement Request. </td>
            </tr>
            <tr>
                <td width="30px">4.2</td>
                <td>If Retailer submits a Certificate Settlement Request then EE may accept or decline the request in its absolute discretion.</td>
            </tr>
            <tr>
                <td width="30px">4.3</td>
                <td>
                    If EE Accepts the Certificate Settlement Request, then the Certificate Settlement Period begins on the later of the date
                    specified in the Certificate Settlement Request and the date of Acceptance, and ends on the date specified in the Certificate Settlement Request.
                </td>
            </tr>
            <tr>
                <td width="30px">4.4</td>
                <td>
                    During the Certificate Settlement Period,each time EE receives a Retailer Assignment
                    Agreement, it will satisfy its payment obligation through the transfer of Environmental Certificates in accordance with this clause.
                </td>
            </tr>
            <tr>
                <td>4.5</td>
                <td>
                    At the end of each Invoicing Period, EE will provide an invoice to System Supplier setting out the Certificate Settlement Fee for that Invoicing Period. The Certificate
                    Settlement Fee will be calculated in accordance with the formula set out in the Certificate Settlement Request.
                    <table>
                        <tr>
                            <td width="30px">a)</td>
                            <td>
                                Where Certificate Settlement applies to more than one type of Environmental Certificate, the
                                Certificate Settlement Fee will be  calculated separately for each  certificate type, and itemised on the invoice.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30px">4.6</td>
                <td>
                    Providing the Retailer's account is maintained in good order, EE will transfer to Retailer an amount of Environmental
                    Certificates equal to the Certificate Settlement Amount within 2 business days of payment of the Certificate Settlement Fee invoice.
                    <table>
                        <tr>
                            <td width="30px">a)</td>
                            <td>
                                Where this Certificate Settlementapplies to more than one type of
                                Environmental Certificate, the Certificate Settlement Amount will be calculated separately for each certificate type.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="30px">4.7</td>
                <td>
                    During the Certificate Settlement Period, EE will meet the following service levels:
                    <table>
                        <tr>
                            <td width="30px">a)</td>
                            <td>
                                Within 10 business days of receipt of a Retailer Assignment Agreement, EE will advise Retailer whether rework is required.
                            </td>
                        </tr>
                        <tr>
                            <td width="=30px">b)</td>
                            <td>If rework is required, Retailer must arrange for the Assignment Agreement to be amended, put in a form suitable for processing, and then returned to EE. </td>
                        </tr>
                        <tr>
                            <td width="=30px">i.</td>
                            <td>For the purpose of calculating the Certificate Settlement Fee, the returned Assignment Agreement will not be treated as a new Assignment Agreement. </td>
                        </tr>
                        <tr>
                            <td width="=30px">ii.</td>
                            <td>For the purpose of EE’s service level commitments, the returned Assignment Agreement will then be treated as if it were a new Assignment Agreement.</td>
                        </tr>
                        <tr>
                            <td width="=30px">c)</td>
                            <td>If no rework is required EE will submit the Assignment Agreement to the Regulator for approval within 10 business days of receipt. </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <p><b>5. Payments </b></p>
        <table>
            <tr>
                <td width="30px">5.1</td>
                <td>
                    Subject to other clauses in this agreement, Emerging Energy will make payment to the counter party on the agreed date as selected by way of mutual agreement during the
                    submission period. Payment date is calculated using the ‘t+ method’. For example, a payment option of t + 14 would indicate a payment term of 14 days from submission.
                </td>
            </tr>
            <tr>
                <td width="30px">5.2</td>
                <td>
                    Payments will only be made after the specified number of days of the terms selected has elapsed. For this purpose, a ‘day’ is considered to be any business day,
                    excluding public holidays. Any submissions after standard business hours, will qualify as the next business day irrespective of the
                    actual date the STCs are submitted
                </td>
            </tr>
            <tr>
                <td width="30px">5.3</td>
                <td>
                    There are no fees or charges for standard trading with Emerging Energy. Special promotions or offers may attract fees and
                    charges which will clearly be disclosed to
                </td>
            </tr>
            <tr>
                <td width="30px">5.4</td>
                <td>
                    GST will be paid on unregistered STC assignments where the submission is considered to constitute a taxable supply. For this purpose, we consider a taxable
                    supply to occur in the event that the rights to create the STCs are being purchased from an individual who is registered for GST. The rights to purchase the STCs are not being
                    purchased from the retailer, rather the property owner. In general terms, GST will only be applied to STC assignments for commercial solar installations. This will be
                    determined on a case by case basis and any decision to pay GST will be in accordance with ATO guidelines only.
                </td>
            </tr>
        </table>
        <p><b>6. Third Party Requests and Directions</b></p>
        <table>
            <tr>
                <td>6.1 In the course of running its business EE may interact with third parties including Regulators. </td>
            </tr>
            <tr>
                <td>
                    6.2 As a result of the interactions described in clause 8.1, or otherwise, a third party may:
                    <table>
                        <tr>
                            <td width="30px"></td>
                            <td>a) Make requests of and issue directions to EE; </td>
                        </tr>
                        <tr>
                            <td width="30px"></td>
                            <td>b) Bring proceedings against EE; or c) Otherwise impose costs on EE. </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    6.3 Where the matters described in clause 6.2 relate to Retailer’s actions (or failure to act) or those of its subcontractors, customers or associates, Retailer must:
                    <table>
                        <tr>
                            <td width="30px"></td>
                            <td>a) Provide any assistance that EE may require in order to respond to or comply with the third party’s requests and directions; and </td>
                        </tr>
                        <tr>
                            <td width="30px"></td>
                            <td>
                                b) Indemnify EE for all its costs (both direct and indirect) associated with responding to and complying with the
                                requests and directions (to avoid doubt, these may include the costs of professional services including consulting, legal, tax, accounting and engineering).
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <p><b>7. Disputed Amounts</b></p>
        <table>
            <tr>
                <td>
                    7.1 In the event there is a dispute relating to the STCs, Emerging Energy may withhold the proportion of payment of sums due to the
                    Retailer that it disputes in good faith until the dispute has been resolved and without notice.
                </td>
            </tr>
            <tr>
                <td>
                    7.2 In the event that Emerging Energy believes on reasonable grounds that the Retailer has a contingent liability to it, it may withhold the
                    proportion of payment of sums due to the Retailer that would meet that contingent liability. Such sum may be applied in
                    satisfaction of any such liability and without notice;
                </td>
            </tr>
            <tr>
                <td>
                    For the avoidance of doubt, this netting provision is applicable to any amounts owed to / claimed by EE, including amounts resulting from:
                    <table>
                        <tr><td width="40px"></td><td>a) The terms of this Agreement; </td></tr>
                        <tr><td width="40px"></td><td>b) A breach of this Agreement;</td></tr>
                        <tr><td width="40px"></td><td>c) The invalidity of any Environmental Certificates;</td></tr>
                        <tr><td width="40px"></td><td>d) The operation of the common law or applicable statutes; or e) Any other actions taken by Retailer. </td></tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Upon resolution the determination of the amount due, Emerging Energy will promptly pay the amount owing from Emerging Energy. </td>
            </tr>
        </table>
        <p><b>8. Failed Assignment and Surrender</b></p>
        <table>
            <tr>
                <td width="30px">8.1</td>
                <td>
                    In the event that for any reason an STC is not created upon request, or an STC assigned to Emerging Energy is not capable
                    of being converted to money (each referred to as “a failed assignment”), then the entry of any credit applied by Emerging Energy
                    in favor of the Retailer in respect of such failed assignment shall be reversed. Thereafter the Retailer shall indemnify
                    Emerging Energy against any loss or expense arising in respect thereof. In that case the Retailer shall (if it requires
                    Emerging Energy to accept the assignment of STCs which were the subject of a failed assignment) re-make a submission which
                    shall be considered made upon resubmission. An adjustment may also be made for the amount resulting from the failed
                    assignment from any future payments that are to be made to the retailer without notice.
                </td>
            </tr>
            <tr>
                <td width="30px">8.2</td>
                <td>
                    Upholding all clauses of this agreement, specifically those surrounding payment, in the event that Emerging Energy requests the
                    assistance of the Retailer to assist in rectifying a failed assignment the Retailer will use its best endeavors to do so and will
                    not delay the resubmission of information.
                </td>
            </tr>
            <tr>
                <td width="30px">8.3</td>
                <td>
                    If the Clean Energy Regulator (CER) seeks the surrender of any STCs that EESG created after relying on information provided to EESG from the
                    retailer/information provider or agent, for any reason, then, on written notice by EESG either the STCs that needs be surrendered
                    must be transferred to EESG (plus reasonable costs) or the cost of STCs must be paid to EESG in full by the retailer
                    and/or information provider. The rate is to be determined by EESG only at the time surrender is required, taking into account
                    market fluctuations. If the STCs or funds are not provided, then the company and director(s) will be held personally liable for
                    any losses that are incurred.
                </td>
            </tr>
        </table>
        <p><b>9. Additional Requirements in respect of NSW-ESS</b></p>
        <table>
            <tr>
                <td>9.1. IPART has established minimum conduct requirements for ACPs under the NSW-ESS. </td>
            </tr>
            <tr>
                <td>
                    9.2. When EE Accepts an Assignment Agreement Submitted by Retailer that relates to the NSW-ESS, EE is the ACP for the
                    transaction and all parties involved must comply with IPARTs conduct requirements. This extends to every individual involved in the
                    energy savings activity, including employees and subcontractors.
                </td>
            </tr>
            <tr>
                <td>
                    9.3. Each time Retailer Submits an Assignment Agreement in respect of Energy Savings Certificates, it represents and warrants to EE that:
                    <table>
                        <tr>
                            <td width="40px"></td>
                            <td>a) It will comply with all NSW-ESS requirements; </td>
                        </tr>
                        <tr>
                            <td width="40px"></td>
                            <td>b) All persons involved in the energy saving activity are:</td>
                        </tr>
                        <tr>
                            <td width="40px"></td>
                            <td>i. Aged 18 years or over;</td>
                        </tr>
                        <tr>
                            <td width="40px"></td>
                            <td>ii. Either an employee or direct contractor of Retailer; </td>
                        </tr>
                        <tr>
                            <td width="40px"></td>
                            <td>iii. Appropriately trained and sufficiently informed to provide an overview of the NSW-ESS and the specific activity being undertaken. </td>
                        </tr>
                        <tr>
                            <td width="40px"></td>
                            <td>
                                iv. Able to comply with all EE procedures relevant to their role (such as lux level testing); and Fully aware of the relevant legislative and regulatory
                                requirements that may impact their role (including controls on telemarketing and door-to-door activities, and occupational health and safety requirements); and
                            </td>
                        </tr>
                        <tr>
                            <td width="40px"></td>
                            <td>c) With regards to customer service, it: </td>
                        </tr>
                        <tr>
                            <td width="40px"></td>
                            <td>
                                i. Maintains a documented customer service procedure for managing and resolving
                                complaints, ensuring that all parties identify themselves and properly explain the scheme to the System Owner;
                            </td>
                        </tr>
                        <tr>
                            <td width="40px"></td>
                            <td>
                                ii. Provided System Owner with a copy of the Energy Saver Information Sheet and EE’s contact details as ACP;
                            </td>
                        </tr>
                        <tr>
                            <td width="40px"></td>
                            <td>
                                iii. Properly explained the contents of the Assignment Agreement before obtaining the System Owner’s signature.
                            </td>
                        </tr>
                        <tr>
                            <td width="40px"></td>
                            <td>
                                iv. Provided System Owner with details of the make, model and electrical characteristics of any lighting equipment installed.
                            </td>
                        </tr>
                        <tr>
                            <td width="40px"></td>
                            <td>
                                v. Confirmed that the System Owner is satisfied with the product as installed.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    9.4. Retailer will provide and keep current all necessary details of all employees and subcontractors engaged in activities under the
                    NSW-ESS for the purposes of EE maintaining a register of representatives.
                </td>
            </tr>
        </table>
        <p><b>10. Goods and Services Tax </b></p>
        <p>
            Further to the GST component explained in the ‘payment’ clause of this agreement, to the extent that GST is applicable to the transactions
            relating to this Agreement, the Parties agree to comply with any public rulings or other explanatory material published by the Australian Tax Office.
        </p>
        <p><b>11. Indemnity</b></p>
        <table>
            <tr>
                <td>
                    11.1 The Retailer indemnifies Emerging Energy against any loss claim action or demand of any nature arising from the installation and the
                    creation or registration by Emerging Energy of the STCs pursuant to this agreement.
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="30px">11.2</td>
                            <td>
                                The Retailer acknowledges that the arrangements for recovery of STC payments generally involve and require the
                                parties to act honestly, diligently, and in good faith. The retailer will ensure that its servants and agents do so.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <p><b>12. Dispute Resolution </b></p>
        <table>
            <tr>
                <td>
                    12.1 In the event that a dispute may arise between the parties, the aggrieved party shall, in writing, make known their concerns to the other
                    party. In an attempt to resolve the dispute in an amicable and timely manner, the other party must respond within 7 days of being notified of
                    the dispute.
                </td>
            </tr>
            <tr>
                <td>
                    12.2 The parties must first attempt to resolve the dispute internally, with the assistance of their own dispute resolution teams.
                </td>
            </tr>
            <tr>
                <td>
                    12.3 In the event both parties are unable to resolve the dispute, at the notice of any party, shall nominate at least one representative and/or agent on their behalf to engage in informal dispute resolution.
                </td>
            </tr>
            <tr>
                <td>
                    12.4 In the event that any external dispute resolution services are utilized, the cost is to be split between the parties. If a party is noncomplying
                    with the requirements of the dispute resolution steps of this agreement, Emerging Energy may bring legal proceedings
                    immediately notwithstanding that all of the steps set out in this clause have not yet been completed. Costs will be sought and the client is
                    consensual to paying costs.
                </td>
            </tr>
        </table>
        <p><b>13. Non-Disclosure </b></p>
        <table>
            <tr>
                <td>
                    13.1 The Parties consent to the liability of complying with the non-disclosure requirements of this agreement, as stipulated below: Either
                    party may not disclose information relating to or shared under this agreement to any person except:
                    <table>
                        <tr><td width="40px"></td><td>a) To the extent that it is already in the public domain; </td></tr>
                        <tr><td width="40px"></td><td>b) With the written consent of the other Party;  </td></tr>
                        <tr><td width="40px"></td><td>Signed for and on behalf of Retailer by its Authorised Officer: </td></tr>
                        <tr><td width="40px"></td><td>c) To its officers, employees and professional advisers; or </td></tr>
                        <tr>
                            <td width="40px"></td>
                            <td>
                                d) As required by an applicable law or Code of Conduct after first consulting
                                (to the extent lawful and reasonably practical) with the other Party about the form and content of the disclosure.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="40px">13.2</td>
                            <td>
                                Where permitted disclosures are made by a Party on any basis other than clause 11.1.a), they will use reasonable endeavours to
                                ensure the disclosed material is kept confidential by the Party to whom it has been shared.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <p><b>14. Breach and Termination</b></p>
        <p>The client will notify Emerging Energy if it is in default of this agreement. </p>
        <p>The client will be in default of this agreement if it: </p>
        <table>
            <tr>
                <td width="40px"></td>
                <td>a) fails to comply with any term of this agreement</td>
            </tr>
            <tr>
                <td width="40px"></td>
                <td>b) becomes insolvement</td>
            </tr>
        </table>
        <p>Upon defaulting, Emerging Energy is entitled to: </p>
        <table>
            <tr>
                <td width="40px"></td>
                <td>a) immediately terminate this agreement by way of providing written notice and/or; </td>
            </tr>
            <tr>
                <td width="40px"></td>
                <td>b) recover damages in respect to any losses </td>
            </tr>
        </table>
        <p>
            If the client does not pay any damages within 14 days of the request for payment in written form, interest will accrue at 11% per annum or the
            penalty interest rate, whichever is greater from the date of the default. If the Emerging Energy holds any monies, Environmental Certificates or
            other property, rights or interests on behalf of the Client or is obliged to make payments to EE, then EE is entitled to utilise these items to
            satisfy any damages claimed under this Agreement. This right is additional to the rights created elsewhere in this Agreement.
            When EE has made a claim for damages, and it remains unpaid for a period of 30 days, then EE may engage a recovery agent to assist with the
            recovery of this amount. If EE does this, then EE or the recovery agent may add a commission or other fee to the amount sought from the Retailer
            to cover the costs of recovery. Either Party may Terminate this Agreement by 30 days written notice. If this Agreement is terminated, then:
        </p>
        <table>
            <tr>
                <td width="40px"></td>
                <td>a) Any Assignment Agreements that were received by EE prior to the termination becoming effective will be managed as if this Agreement </td>
            </tr>
            <tr>
                <td width="40px"></td>
                <td>b) It will deal with EE in good faith and respond promptly to EEs reasonable requests for additional information or other support that may be required. </td>
            </tr>
        </table>
        <p><b>15. Governing Law and Jurisdiction</b></p>
        <table>
            <tr>
                <td width="30px">15.1</td>
                <td>This document is governed by and is to be interpreted in accordance with the laws of Victoria</td>
            </tr>
            <tr>
                <td width="30px"></td>
                <td>
                    The parties irrevocably and unconditionally submit to the non-exclusive jurisdiction of the Courts of Victoria and any courts,
                    which have jurisdiction to hear appeals from any of those courts. The parties waive any right to object to any proceedings
                    being brought in those courts because the venue is inconvenient, the courts lack jurisdiction or any other reason.
                </td>
            </tr>
        </table>
        <p><b>16. Severability</b></p>
        <table>
            <tr>
                <td width="30px">16.1</td>
                <td>
                    Any provision of this document which is prohibited or unenforceable in any jurisdiction is ineffective in that
                    jurisdiction to the extent of the prohibition or unenforceability. That does not invalidate the remaining provisions of this document.
                </td>
            </tr>
        </table>
        <p><b>17. Waiver and Variation </b></p>
        <table>
            <tr>
                <td width="30px">17.1</td>
                <td>
                    A provision or a right created under this Agreement may not be:
                    <table>
                        <tr>
                            <td width="20px"></td>
                            <td>(a) Waived except in writing by the party granting the waiver; or</td>
                        </tr>
                        <tr>
                            <td width="20px"></td>
                            <td>(b) Varied except in writing signed by the parties; </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td width="30px">17.2</td>
                <td>For the avoidance of doubt, the parties may vary the information contained in the schedule by agreement in writing and executed by both parties. </td>
            </tr>
        </table>
        <p><b>18. Costs </b></p>
        <p>Each Party to this agreement must attend to their own expenses in relation with this agreement, its preparation, review and execution. </p>
        <p><b>19. Independent Legal and Financial Advice</b></p>
        <p>Each party is liable to seek and arrange for their own independent legal and financial advice prior to the execution of this agreement.</p>
        <p><b>20. Entire Agreement </b></p>
        <table>
            <tr>
                <td>
                    20.1 This document constitutes the entire agreement of the parties about its subject matter and any previous agreements, understandings
                    and negotiations on the subject matter cease to have any effect.
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="30px">20.2</td>
                            <td>The invalidity of any part or provision of this agreement shall not affect the enforceability of any other provision within this agreement </td>
                        </tr>
                        <tr>
                            <td width="30px">20.2</td>
                            <td>3This agreement is intended to be legally binding upon all parties.</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <p><b>PAYMENT TO YOUR ACCOUNT</b></p>
        <p>
            Please confirm the payment details for the deposit of money due to you. These details will be reflected
            on your payment advice. Please ensure the correct details are reflected in the online profile of your
            @*registered Emerging Energy Solutions Group PTY LTD account.*@
            registered @Model.ResellerName.
        </p>
        <p>
            <ul id="termsTable" class="termstable">
                <li>
                    <span class="lblTerm">ABN FOR PAYMENT:</span>
                    <span class="inputvalue">@Model.CompanyABN</span>
                </li>
                <li>
                    <span class="lblTerm">ACCOUNT NAME:</span>
                    <span class="inputvalue">@Model.AccountName</span>
                </li>
                <li>
                    <span class="lblTerm">BSB: </span>
                    <span class="inputvalue">@Model.BSB</span>
                </li>
                <li>
                    <span class="lblTerm">ACCOUNT NUMBER: </span>
                    <span class="inputvalue">@Model.AccountNumber</span>
                </li>
                <li>
                    <span class="lblTerm">NAME/POSITION: </span>
                    <span class="inputvalue"></span>
                </li>
                @*<li>
                        <span class="lblTerm">SIGNATURE: </span>
                        <span class="inputvalue"></span>
                    </li>*@
                <li>
                    <span class="lblTerm">DATE: </span>
                    <span class="inputvalue"></span>
                </li>
            </ul>

        </p>
        <br /><br /><br /><br />
        <div style="text-align:center"><b>Acceptance</b></div><br />
        <p><b>By trading on Greenbot, you have read, understood and accepted the terms and conditions mentioned in this contract.</b></p>
        @*<div style="text-align:center"><b>Acceptance and Signing Page </b></div><br />
    <p><b>We hereby confirm we have read, understood and accepted the terms and conditions mentioned in this contract. By way of consent, we sign below:</b></p>
    <p><b><u>CLIENT</u></b></p>
    <p>___________________________________________________________(name of organisation) </p>
    <p>___________________________________________________________ABN/ACN </p>
    <table style="width:100%"><tr><td>Director (print name and sign)</td><td align="right">Date</td></tr></table><br /><br />
    <p>________________________________________________________________________</p>
    <p><b><u>EMERGING ENERGY</u></b></p>
    @*<p>Emerging Energy Solutions Group PTY LTD (ACN: 152 953 412)</p>*@
        @*<p>@Model.ResellerName (ABN : @Model.CompanyABN) </p>
        <table style="width:100%"><tr><td>Authorised Representative (print name and sign) </td><td align="right">Date</td></tr></table><br /><br />
        <p>________________________________________________________________________</p>*@
    </div>


    <div class="row">

        <br />
        <br />


    </div>

</body>
</html>
