@model List<FormBot.Entity.Dashboard.Dashboard>
@using FormBot.Helper;

<div class="grid_topbar" style="display:none">
    <p class="job_result" id="numRecords"></p>
</div>

<div class="row">
    <div id="grid" class="col-xs-12 popupgrid">
        <div class="table-responsive" style="max-height:350px; overflow-y:scroll;">
            <table id="datatable" class="table table-hover completedJobs" style="width:100% !important;">
                <thead>
                    <tr>
                        <th width="25%"><span>@Html.DisplayName("Date")</span></th>
                        <th width="15%"><span>@Html.DisplayName("Solar Company")</span></th>
                        <th width="25%"><span>@Html.DisplayName("Client Details")</span></th>
                        <th width="20%"><span>@Html.DisplayName("Visit Description")</span></th>
                        <th width="15%"><span>@Html.DisplayName("Job Stage")</span></th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>

<script type="text/javascript">
    var chkCount1 = 0;

    $(document).ready(function () {
        $('.completedJobs').DataTable({
            iDisplayLength: 10,
            lengthMenu:@ProjectConfiguration.GetPageSize,
            language: {
                sLengthMenu: "Page Size: _MENU_"
            },
            columns: [
                    //{ 'data': 'JobSchedulingID' },

                     { 'data': 'VisitStartDate',
                         "render": function (data, type, full, meta) {
                             if(full.VisitStartDate != null){
                                 return ConvertToDateWithFormat(full.VisitStartDate,'@ProjectConfiguration.GetDateFormat');
                             }
                             else
                                 return '';
                         }},

                    { 'data': 'CompanyName'},

                     { 'data': 'ClientDetails', "orderable": false},

                     { 'data': 'VisitDescription', "orderable": false},

                     { 'data': 'JobStage'}
            ],

            dom: "<<'table-responsive tbfix't><'paging grid-bottom prevar'p><'bottom'l><'clear'>>",
            initComplete: function (settings, json) {
                $('.grid-bottom span:first').attr('id', 'spanMain');
                $("#spanMain span").html("");
                $(".ellipsis").html("...");
            },

            bServerSide: true,
            sAjaxSource: '@Url.Action("GetListForCurrentJobs", "Dashboard")',

            "fnDrawCallback": function () {
                chkCount=0;
                $("#datatable_wrapper").find(".bottom").find(".dataTables_paginate").remove();
                $(".paging a.previous").html("&nbsp");
                $(".paging a.next").html("&nbsp");
                $('.grid-bottom span:first').attr('id', 'spanMain');
                $("#spanMain span").html("");
                $(".ellipsis").html("...");

                //if ($(".paging").find("span").length > 1) {
                //    $("#datatable_length").show();
                //} else if ($(".completedJobs").find("tr").length >11) { $("#datatable_length").show();  } else { $("#datatable_length").hide(); }

                //--------To show display records from total records-------------------
                //var table = $('.completedJobs').DataTable();
                //var info = table.page.info();

                //if(info.recordsTotal==0){
                //    document.getElementById("numRecords").innerHTML = '<b>' + 0 + '</b>  of  <b>' + info.recordsTotal +'</b>  Current Job(s) found';
                //}
                //else{
                //    document.getElementById("numRecords").innerHTML = '<b>' + $('.completedJobs >tbody >tr').length + '</b>  of  <b>' + info.recordsTotal +'</b>  Current Job(s) found';
                //}
                //------------------------------------------------------------------------------------------------------------------------------

                $('[data-toggle="tooltip"]').tooltip();
            },

            "fnServerParams": function (aoData) {  //These are the extra parameters for our custom filters
                aoData.push({ "name": "isCurrent", "value": 0});
            }
        });

        $('#datatable_length').hide();
        $('#datatable_info').hide();
        $('#datatable_filter').hide();
        $('.paging').hide();
        $('.bottom').hide();
    });


</script>
