@model List<FormBot.Entity.Dashboard.DashboardJobList>
@using FormBot.Helper;

<div class="grid_topbar" style="display:none">
    <p class="job_result" id="numRecords"></p>
</div>

<div class="row">
    <div id="grid" class="col-xs-12 popupgrid">
        <div class="table-responsive" style="max-height:400px; overflow-y:scroll;">
            <table id="datatable" class="table table-hover currentJobs dataTable" style="width:100% !important;">
                <thead>
                    <tr>
                        <th width="10%"><span>@Html.DisplayName("Date")</span></th>
                        <th width="20%"><span>@Html.DisplayName("Solar Company")</span></th>
                        <th width="40%"><span>@Html.DisplayName("Client Details")</span></th>
                        <th width="20%"><span>@Html.DisplayName("Job Description")</span></th>
                        <th width="10%"><span>@Html.DisplayName("Job Stage")</span></th>
                    </tr>
                </thead>
                <tbody class="JobRequest-Grid-tbody">

                </tbody>
            </table>
        </div>

    </div>
</div>

<script type="text/javascript">
    var chkCount1 = 0;
    var newjobsrequests_IsLast = false;
    var newjobsrequests_pageIndex = 1;
    var newjobsrequests_count = 0;
    var newjobsrequests_IsProcessOn = 0;
    var imgaccept = 'background:url(../Images/ic-accept.png) no-repeat center; text-decoration:none;';
    var imgreject = 'background:url(../Images/ic-reject.png) no-repeat center; text-decoration:none;';
    JobRequestGridBind();
    $(document).ready(function () {
        $(".table-responsive").on("scroll", function (e) {
            if (newjobsrequests_IsLast == false) {
                if (newjobsrequests_pageIndex == 1 && newjobsrequests_count > 0 && newjobsrequests_IsProcessOn == 1) {
                    newjobsrequests_count = 0;
                    return false;
                }
                newjobsrequests_IsProcessOn = 1
                var $o = $(e.currentTarget);
                if ($o[0].scrollHeight - $o.scrollTop() <= $(".table-responsive").height()) {
                    if (isNaN(newjobsrequests_pageIndex)) {
                        newjobsrequests_pageIndex = 1;
                    } else { newjobsrequests_pageIndex = newjobsrequests_pageIndex + 1; }
                    newjobsrequests_count = newjobsrequests_pageIndex;
                    JobRequestGridBind();
                }
            }
        });
    });
    function JobRequestGridBind() {
         $.ajax({
            url: '@Url.Action("GetNewJobRequestList", "Dashboard")',
            type: "POST",
            async: false,
             data: JSON.stringify({ "pageIndex": newjobsrequests_pageIndex,"pageSize": 10 }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data != '') {
                    if (newjobsrequests_pageIndex == 1) {
                        $(".JobRequest-Grid-tbody").html("");
                    }
                    if (data.length < 10) {
                        newjobsrequests_IsLast = true;
                    }

                    $(data).each(function (text, value) {
                        if (value.IsAccept == 1) {
                            var acceptHref = "javascript:void(0)";
                            acceptButton = '&nbsp;&nbsp;' + '<a href="' + acceptHref + '" class="action delete disabled" style="' + imgaccept + '" title="Accept">' + '&nbsp; &nbsp; &nbsp; &nbsp;' + '</a>';
                        }
                        else {
                            var acceptHref = "javascript:AcceptRejectJobToSSC('" + value.Id + "'" + ",'accepted')";
                            acceptButton = '&nbsp;&nbsp;' + '<a href="' + acceptHref + '" class="action delete" style="' + imgaccept + '" title="Accept">' + '&nbsp; &nbsp; &nbsp; &nbsp;' + '</a>';
                        }
                        var rejectHref = "javascript:AcceptRejectJobToSSC('" + value.Id + "'" + ",'rejected')";
                        rejectButton = '&nbsp;&nbsp;' + '<a href="' + rejectHref + '" class="action delete" style="' + imgreject + '" title="Reject">' + '&nbsp; &nbsp; &nbsp; &nbsp;' + '</a>';
                        var CreatedDate = "";

                        $(".JobRequest-Grid-tbody").append(
                            "<tr>"
                            + "<td>"
                            + ConvertToDateWithFormatFOrJobRequest(value.CreatedDate,'@ProjectConfiguration.GetDateFormat')
                            //+ value.CreatedDate
                            + "</td>"
                            + "<td>"
                            + value.CompanyName
                            + "</td>"
                            + "<td>"
                            + value.ClientDetails
                            + "</td>"
                            + "<td>"
                            + value.Description
                            + "</td>"
                            + "<td>"
                            + (acceptButton + rejectButton)
                            + "</td>"
                            + "</tr>"
                        );
                    });
                }
                else {
                    if (newjobsrequests_pageIndex == 1) {
                        $(".JobRequest-Grid-tbody").append('<tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">No Record(s) Found.</td></tr>');
                    }
                }
                newjobsrequests_IsProcessOn = 0;
            },
        });
    }
    function ConvertToDateWithFormatFOrJobRequest(data, format) {
        if (data != null) {
            var date = new Date(data);
            switch (format) {
                case 'dd/mm/yyyy':
                    return ("0" + date.getDate()).slice(-2) + '/' + ("0" + (date.getMonth() + 1)).slice(-2) + '/' + date.getFullYear();
                    break;
                case 'mm/dd/yyyy':
                    return ("0" + (date.getMonth() + 1)).slice(-2) + '/' + ("0" + date.getDate()).slice(-2) + '/' + date.getFullYear();
                    break;
                case 'yyyy/mm/dd':
                    return date.getFullYear() + '/' + ("0" + (date.getMonth() + 1)).slice(-2) + '/' + ("0" + date.getDate()).slice(-2);
                    break;
                case 'dd-mm-yyyy':
                    return ("0" + date.getDate()).slice(-2) + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + date.getFullYear();
                    break;
                case 'mm-dd-yyyy':
                    return ("0" + (date.getMonth() + 1)).slice(-2) + '-' + ("0" + date.getDate()).slice(-2) + '-' + date.getFullYear();
                    break;
                case 'yyyy-mm-dd':
                    return date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + ("0" + date.getDate()).slice(-2);
                    break;
                default:
                    return '';
            }
        }
        else {
            return '';
        }
    }

function AcceptRejectJobToSSC(jobID,role){

    $.ajax({
        url: '@Url.Action("AcceptRejectJobToSSC", "Job")',
        type: "POST",

        async: false,
        data: JSON.stringify({ jobID: jobID ,role:role }),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            if (data.success) {
                $(".alert").hide();
                $("#successMsgRegion").html("Job has been "+ data.success+" successfully.");
                $("#successMsgRegion").show();                
                //$("#datatable").dataTable().fnDraw();
                newjobsrequests_pageIndex = 1;
                JobRequestGridBind();
            }
        },
    });
        }

</script>
