@using FormBot.Entity.Dashboard;
@using FormBot.Helper;

@{
    ViewBag.Title = "SSC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="msgSection">
    @Html.RenderMessages()
</div>
<div class="container-fluid sca_dashboard">
    <div class="title">
        <h1>Dashboard</h1>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" id="successMsgRegion" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div>
                <h3 class="sca-heding">Database</h3>
                <div class="jobsearch_list">
                    <div id="scrollId" style="max-height:400px; overflow-y:auto">
                        <ul class="searchresult_listing" id="Database">
                            <li class="findJobDraggable">
                                <a href="@Url.Action("PhotovoltaicModules", "CERImport")" class="DBtitle">
                                    <span class="DbLink">Accredited PV Module List</span>
                                    <p class="last-update">Last Updated: @ViewBag.PVModules</p>
                                </a>
                            </li>
                            <li class="findJobDraggable">
                                <a href="@Url.Action("ApprovedInverters", "CERImport")" class="DBtitle" style="width:auto; line-height: 25px;">
                                    <span class="DbLink">Accredited Inverter List</span>
                                    <p class="last-update">Last Updated: @ViewBag.Inverters</p>
                                </a>
                            </li>
                            <li class="findJobDraggable">
                                <a href="@Url.Action("AccreditedInstallers", "CERImport")" class="DBtitle" style="width:auto; line-height: 25px;">
                                    <span class="DbLink">Accredited Installer List</span>
                                    <p class="last-update">Last Updated: @ViewBag.Installers</p>
                                </a>
                            </li>
                            <li class="findJobDraggable">
                                <a href="@Url.Action("HWBrandModel", "CERImport")" class="DBtitle" style="width:auto; line-height: 25px;">
                                    <span class="DbLink">Accredited SWH List</span>
                                    <p class="last-update">Last Updated: @ViewBag.SWH</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <!-- ===Reports Summary======================================= -->
            <div class="reports-summary">
                <h3 class="sca-heding">New Request & Sign Ups</h3>
                <div class="submission-filters">
                    <ul>
                        <li><a href="@Url.Action("RedirectToSEPending", "Dashboard", new { status = "Pending" })" title="Pending Solar Electrician">Pending Solar Electrician<span>@ViewBag.PendingSolarElectrician</span></a></li>
                        <li><a href="@Url.Action("Index", "SolarSubContractorRequest" )" title="SSC Removal Request">SSC Removal Request<span>@ViewBag.SSCRemovalRequest</span></a></li>
                    </ul>
                </div>
            </div>

            <!-- ===quick-links======================== -->

            <div class="quick-links">
                <h3 class="sca-heding">Quick Links</h3>
                <ul>
                    <li id="dCreateUser"><a href="@Url.Action("create", "User" )" title="Create New User"><span class="icon"><img src="~/images/User-List.png" alt=""></span>Create New User</a></li>
                </ul>
            </div>

        </div>


        <div class="col-md-8 col-lg-9">
            <div class="news-feed">
                <h3 class="sca-heding">Reports<p class="pull-right">Last 30 Days Data</p></h3>
                <div class="history-filter-div">
                    <span style="font-weight: bold; padding: 5px;" class="vertical-middle">Displaying Reseller</span>
                    <select class="report-search-box" id="report-reseller-filter" multiple="multiple" placeholder="All Reseller"></select>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <b style="color:black;margin-left:40%;">STC General Report</b>
                        <div id="dvSTCGeneralChart" style="height: 400px; width: 100%;"></div>
                    </div>
                    <div class="col-md-6">
                        <b style="color:black;margin-left:40%;">REC Failure Report</b>
                        <div id="dvRECFailureChart" style="height: 400px; width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="news-feed">
                <h3 class="sca-heding">STC Job Statuses</h3>

                <div class="clearfix">
                    <div class="form-inline">
                        @if (ProjectSession.UserTypeId == 1)
{
    <div class="form-group">
        <div class="job-status-filter-div">
            <span class="control-label vertical-middle">Displaying FCO</span>
            @*<select class="FCO-search-box" id="job-FCO-filter" multiple="multiple" placeholder="All Compliance Officer"></select>*@
            @if (ViewBag.FCO != null)
            {
                
                    @Html.DropDownList("FCO", ViewBag.FCO as IEnumerable<SelectListItem>, "Select All", new { @class = "form-control" })
                
            }
        </div>
    </div>
}
                        <div class="form-group">
                            <div class="job-status-filter-div" id="ResellerDiv">
                                @if (ProjectSession.UserTypeId == 1)
                                {
                                <span class="control-label vertical-middle">BY</span>
                                }
                                else if (ProjectSession.UserTypeId == 3)
                                {
                                <span class="control-label vertical-middle">Displaying Reseller</span>
                                }
    <select class="job-search-box form-control" id="job-reseller-filter" multiple="multiple" placeholder="All Reseller"></select>
                               
                            </div>
                        </div>
                    </div>
                

                    @*<div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group job-status-filter-div" id="ResellerDiv">

                            @if (ProjectSession.UserTypeId == 1)
                            {
                                <span style="font-weight: bold; padding: 5px;" class="vertical-middle">BY</span>
                            }
                            else if (ProjectSession.UserTypeId == 3)
                            {
                                <span style="font-weight: bold; padding: 5px;" class="vertical-middle">Displaying Reseller</span>
                            }
                            <select class="job-search-box form-control" id="job-reseller-filter" multiple="multiple" placeholder="All Reseller"></select>
                        </div>
                    </div>*@
                </div>
                @*<div class="job-status-filter-div col-md-4" id="FCODiv">
                    <span style="font-weight: bold; padding: 5px;" class="vertical-middle">BY</span>
                    @if (ViewBag.FCO != null)
                    {
                    @Html.DropDownList("FCO", ViewBag.FCO as IEnumerable<selectlistitem>
                        , new { @class = "form-control" })
                        }
                </div>*@
                @*<div class="job-status-filter-div col-md-4" id="ResellerDiv">
                    <span style="font-weight: bold; padding: 5px;" class="vertical-middle">Displaying Reseller</span>
                    <select class="job-search-box" id="job-reseller-filter" multiple="multiple" placeholder="All Reseller"></select>
                </div>*@
                @*<hr />*@
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" id="STCJobStaus">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    hr {
        margin: 10px 30px 10px 30px;
    }
    .vertical-middle {
        color: #494949;
        font-weight:normal !important;
    }
    .SumoSelect > .CaptionCont {
        border-color: #e2e2e2 !important; height:35px;
    } .status-block {
        background-color: #fff;
        padding: 0px;
        /*display: table;*/
        margin: 10px;
    }

    .blue-title {
        color: #1b94da;
    }

    .stc-amount-block {
        padding: 20px;
    }

        .stc-amount-block ul li.active, .stc-amount-block ul li:hover, .stc-amount-block ul li:focus {
            background-color: green;
        }

    .history-filter-div, .job-status-filter-div {
        padding: 17px 0px 0px 10px;
    }

    .vertical-middle, .SumoSelect {
        vertical-align: middle;
        
    }


    #reseller-filter {
        border: 0;
        color: green;
        font-weight: bold;
    }
    .DBtitle {
        color: #121212;
        font-size: 18px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .DbLink {
        display: block;
        font-size: 18px;
        text-transform: uppercase;
    }
    .last-update {
        color: #1b94da;
        font-size: 15px;
        font-style: italic;
    }
    .submission-filters ul li > a > span {min-width:25px; text-align:center;
    } .submission-filters ul li {
        vertical-align: top;
    }

    .form-inline .control-label {
        margin-right: 5px;
    }
</style>

<link href="~/Content/Charts/c3.css" rel="stylesheet" />

@*<script src="~/Scripts/Charts/d3.v3.min.js"></script>
<script src="~/Scripts/Charts/c3.js"></script>*@
@*<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>*@
@System.Web.Optimization.Scripts.Render("~/ChartJs")

<script src="~/Scripts/jquery.sumoselect.min.js"></script>
<link href="~/Content/sumoselect.css" rel="stylesheet" />
<script>
    var reportReseller, jobReseller, FCO;
    var fcoCount = 0;

    $(document).ready(function () {
        $("#loading-image").show();
        reportReseller = $('.report-search-box').SumoSelect({ csvDispCount: 3, search: true, searchText: 'Search..', selectAll: true, okCancelInMulti: true });
        jobReseller = $('.job-search-box').SumoSelect({ csvDispCount: 3, search: true, searchText: 'Search..', selectAll: true, okCancelInMulti: true });
        //FCO = $("#job-FCO-filter").SumoSelect({ csvDispCount: 3, search: true, searchText: 'Search..', selectAll: true, okCancelInMulti: true });

        getResellers();

        if ($('#CreateNewUser').length > 0)
        {
            $('#dCreateUser').show();
            $('#dCreateUser').show();
        }
        else
        {
            $(".quick-links").hide();
            $('#dCreateUser').hide();
        }

        $("#loading-image").hide();

        $('div.history-filter-div p.btnOk').click(function () {
            loadSTCGeneralReport();
            loadRECFailureReport();
        });

        $("div#ResellerDiv p.btnOk").click(function () {
            GetSTCJobStatus();
        });

        //$("div#FCODiv p.btnOk").click(function () {
        //    GetSTCJobStatus();
        //});

        $("#FCO").change(function () {
            var i = 0;
            while (i < fcoCount) {
                $(".job-search-box")[0].sumo.remove(0);
                i++;
            }
            getResellerByFCO();
            //GetSTCJobStatus();
        });

        getResellerByFCO();

    });

    function getFCO() {
        var selectedResellers;
        var resellersId = $('.job-search-box').val();
        if (resellersId) {
            selectedResellers = resellersId.join();
        }

        //selectedResellers = '692,508';
        $.ajax({
            url: '@Url.Action("FCO", "Dashboard")',
            type: "GET",
            dataType: "json",
            data: { resellerIds: selectedResellers },
            //processData: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: bindFCO,
            error: function (e) {
                console.log(e);
            }
        });
        return false;
    }

    function getResellerByFCO() {

        var userId;

        if('@ProjectSession.UserTypeId' == 1)
        {
            userId = $("#FCO").val();
            if (userId == "")
                userId = 0;
        }
        else if('@ProjectSession.UserTypeId' == 3)
        {
            userId = '@ProjectSession.LoggedInUserId';
        }


        $.ajax({
            url: '@Url.Action("ResellerByFCO", "Dashboard")',
                type: "GET",
                dataType: "json",
                //processData: false,
                data: { userId: userId },
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: bindResellersByFCO,
                error: function (e) {
                    console.log(e);
                }
            });
        return false;
    }

    function getResellers() {
        $.ajax({
            url: '@Url.Action("Reseller", "Dashboard")',
            type: "GET",
            dataType: "json",
            processData: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: bindResellers,
            error: function (e) {
                console.log(e);
            }
        });
        return false;
    }

    function bindResellers(result) {
        if (result != null && result.length > 0) {
            for (var i = 0; i < result.length; i++) {
                $('.report-search-box')[0].sumo.add(result[i].Value, result[i].Text);
                //$('.job-search-box')[0].sumo.add(result[i].Value, result[i].Text);
            }
            var length = (result.length > 5) ? 5 : result.length;
            for (var i = 0; i < length; i++) {
                $('.report-search-box')[0].sumo.selectItem(i);
            }
            //$('.job-search-box')[0].sumo.selectAll();
        }
        loadSTCGeneralReport();
        loadRECFailureReport();
        //getFCO();
    }

    function bindResellersByFCO(result) {
        if (result != null && result.length > 0) {
            fcoCount = result.length;
            for (var i = 0; i < result.length; i++) {
                $('.job-search-box')[0].sumo.add(result[i].ResellerID, result[i].ResellerName);
            }
            $('.job-search-box')[0].sumo.selectAll();
        }
        else
            fcoCount = 0;

        GetSTCJobStatus();
    }

    function bindFCO(result) {
        if (result != null && result.length > 0) {
            for (var i = 0; i < result.length; i++) {
                $('#job-FCO-filter')[0].sumo.add(result[i].UserId, result[i].Name);
            }
            $('#job-FCO-filter')[0].sumo.selectAll();
        }
    }

    function loadSTCGeneralReport() {
        var dateFormatMoment = '@FormBot.Helper.ProjectConfiguration.GetDateFormat.ToUpper()';
        var startDate = new Date();
        var endDate = new Date();
        var resellersId, selectedResellers;

        startDate.setDate(startDate.getDate() - 30);

        var tickStartDate = Date.parse(startDate);
        fDate = moment(tickStartDate).format(dateFormatMoment);
        var tickEndDate = Date.parse(endDate);
        tDate = moment(tickEndDate).format(dateFormatMoment);

        resellersId = $('.report-search-box').val();
        if (resellersId) {
            selectedResellers = resellersId.join();
        }


        var data = {
            StartDate: fDate,
            EndDate: tDate,
            hdnFormBotResellerAssignedUser: selectedResellers,
            hdnSTCSubmissionStatusAssigned: '10,11,12,13,14,15,16,17,18,19,20,21,22',
        };

        $.ajax({
            url: '@Url.Action("STCGeneralReport", "Dashboard")',
            type: "POST",
            dataType: "json",
            data: JSON.stringify(data),
            processData: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (Data) {

                if (Data != null && Data.dsSTCGeneralDashboardChart.length != 0) {
                    var resultData = Data.dsSTCGeneralDashboardChart;
                    var groupedData = {};
                    var xAxis = ['xAxis'];
                    var dataGroup = ["Not Yet Submitted", "Re-submission", "Ready to Trade", "Awaiting Authorization", "CER Failed", "Cannot re-create", "Under Review", "Compliance Issues", "Requires Call Back", "Ready To Create", "Pending Approval", "New Submission", "CER Approved"];
                    var data1 = ["Not Yet Submitted"];
                    var data2 = ["Re-submission"];
                    var data3 = ["Ready to Trade"];
                    var data4 = ["Awaiting Authorization"];
                    var data5 = ["CER Failed"];
                    var data6 = ["Cannot re-create"];
                    var data7 = ["Under Review"];
                    var data8 = ["Compliance Issues"];
                    var data9 = ["Requires Call Back"];
                    var data10 = ["Ready To Create"];
                    var data11 = ["Pending Approval"];
                    var data12 = ["New Submission"];
                    var data13 = ["CER Approved"];

                    for (var i = 0; i < resultData.length; i++) {
                        var item = resultData[i];
                        xAxis.push(item.ResellerName);
                        data1.push(item.NotYetSubmitted);
                        data2.push(item.ReSubmission);
                        data3.push(item.ReadyToTrade);
                        data4.push(item.AwaitingAuthorization);
                        data5.push(item.CERFailed);
                        data6.push(item.CannotReCreate);
                        data7.push(item.UnderReview);
                        data8.push(item.ComplianceIssues);
                        data9.push(item.RequiresCallBack);
                        data10.push(item.ReadyToCreate);
                        data11.push(item.PendingApproval);
                        data12.push(item.NewSubmission);
                        data13.push(item.CERApproved);
                    }

                    var result = [];
                    result.push(xAxis);
                    result.push(data1);
                    result.push(data2);
                    result.push(data3);
                    result.push(data4);
                    result.push(data5);
                    result.push(data6);
                    result.push(data7);
                    result.push(data8);
                    result.push(data9);
                    result.push(data10);
                    result.push(data11);
                    result.push(data12);
                    result.push(data13);

                    BindChart('dvSTCGeneralChart', result, xAxis, 'bar', dataGroup);
                }
                else {
                    $('#dvSTCGeneralChart').html('<p style="text-align: center;line-height: 400px;">No Records Found</p>');
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
        return false;
    }

    function loadRECFailureReport() {
        var dateFormatMoment = '@FormBot.Helper.ProjectConfiguration.GetDateFormat.ToUpper()';
        var startDate = new Date();
        var endDate = new Date();
        var resellersId, selectedResellers;

        startDate.setDate(startDate.getDate() - 30);

        var tickStartDate = Date.parse(startDate);
        fDate = moment(tickStartDate).format(dateFormatMoment);
        var tickEndDate = Date.parse(endDate);
        tDate = moment(tickEndDate).format(dateFormatMoment);

        resellersId = $('.report-search-box').val();
        if (resellersId) {
            selectedResellers = resellersId.join();
        }

        var data = {
            StartDate: fDate,
            EndDate: tDate,
            //hdnFormBotResellerAssignedUser: '60'
            hdnFormBotResellerAssignedUser: selectedResellers
        };

        $.ajax({
            url: '@Url.Action("GetRECFailureReasonsReportsList", "Dashboard")',
            type: "POST",
            dataType: "json",
            data: JSON.stringify(data),
            processData: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (resultData) {
                if (resultData && resultData.length > 0) {
                    var xAxis = ['xAxis'];
                    var groupedData = {};
                    var result = [];

                    for (var i = 0; i < resultData.length; i++) {
                        var item = resultData[i];
                        if (!groupedData[item.CompanyName]) {
                            groupedData[item.CompanyName] = [];
                        }

                        groupedData[item.CompanyName].push({

                            Status: item.Status.substring(0, 20) + '...' + item.Status.substr(item.Status.length - 10),
                            FailureCount: item.AmountOfFailure
                        });

                        if ($.inArray(item.CompanyName, xAxis) == -1) {
                            xAxis.push(item.CompanyName);
                        }
                    }
                    var dataGroup = [];
                    result.push(xAxis);
                    for (var x in groupedData) {
                        if (Object.prototype.hasOwnProperty.call(groupedData, x)) {
                            var item = groupedData[x];
                            for (var j = 0; j < item.length; j++) {
                                var temp = [item[j].Status];
                                temp.push(item[j].FailureCount);
                                dataGroup.push(item[j].Status);
                                result.push(temp);
                            }
                        }
                    }
                    BindChart('dvRECFailureChart', result, xAxis, 'bar', dataGroup);
                }
                else {
                    $('#dvRECFailureChart').html('<p style="text-align: center;line-height: 400px;">No Records Found</p>')
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
        return false;
    }

    //charts
    function BindChart(element, result, xAxis, chartType, dataGroup) {
        var chartdiv = c3.generate({
            bindto: '#' + element,
            data: {
                columns: result,
                type: chartType,
                x: 'xAxis',
                groups: [dataGroup]
            },
            axis: {
                x: {
                    type: 'category',
                    categories: xAxis
                }
            },
            bar: {
                width: {
                    ratio: 0.3,
                    max: 30
                },
            },
            tooltip: {
                format: {
                    value: function (value, ratio, id, index) {
                        if (chartType == 'pie') {
                            return value + ' (' + (ratio * 100).toFixed(2) + '%)';
                        }
                        else
                            return value;
                    }
                }
            }
        });
    }

    function GetSTCJobStatus() {
        var resellerIds = '', complianceOfficeIds = '', isAllReseller, isAllComplianceOfficer;

        var RA = $('.job-search-box').val();
        if (RA) {
            resellerIds = RA.join();
        }

        //var FCO = $('.FCO-search-box').val();
        //if (FCO) {
        //    complianceOfficeIds = FCO.join();
        //}

        isAllReseller = 0;
        //if ($('div#ResellerDiv p.select-all.selected').length > 0 && $('div#ResellerDiv p.select-all.selected.partial').length == 0) {
        //    isAllReseller = 1;
        //}
        //isAllComplianceOfficer = 0;
        //if ($('div#FCODiv p.select-all.selected').length > 0 && $('div#FCODiv p.select-all.selected.partial').length == 0) {
        //    isAllComplianceOfficer = 1;
        //}

        $.ajax({
            url: '@Url.Action("GetSTCJobParts", "Dashboard")',
            type: "GET",
            dataType: "html",
            data: { resellerIds: resellerIds, isAllReseller: isAllReseller },
            //processData: false,
            cache: false,
            success: function (result) {
                if (result)
                    $("#STCJobStaus").html(result);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>