@model IEnumerable<FormBot.Entity.Email.EmailMessage>

@foreach (var item in Model)
{
    <li class="@item.MessageClass" data-messageid="@item.id" data-seen="@item.flags" data-target="#mail-box2">
        <!--<div class="em-fright size"><span>15KB</span></div>-->
        <div class="em-fright date"><span>@item.short_date</span></div>
        <div class="em-fleft">
            <span>
                <input type="checkbox" value="" class="chkmark" name="" data-messageid="@item.id" >
            </span>
        </div>
        <div class="em-fright"><a href="#" class="ic_attach @(item.has_attachments == true ? "open" : "")" title="Attachment"><img src="@Url.Content("~/images/ic-attachment.png")" alt="Attachment" /></a></div>

        <div class="message-body">
            <div class="em-fleft sender"><span>@Html.Raw(item.from)</span></div>
            <div class="em-fleft subject"><span>@Html.Raw(item.subject)</span></div>
        </div>
    </li>
    @*<li class="@item.MessageClass" data-messageid="@item.id" data-seen="@item.flags">
            <div class="em-fright">
                <div class="dropdown mydrop">
                    <a data-toggle="dropdown" id="dropdownMenu1" class="item-dropdown" href="#"></a>
                    <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-right">
                        <li><a class="rep" href="#">Reply</a></li>
                        <li><a class="fwd" href="#">Forward</a></li>
                        <li><a class="trash" href="#">Delete</a></li>
                    </ul>
                </div>
            </div>
            <div class="em-fright date"><span>@item.short_date</span></div>
            @if (@item.has_attachments)
            {
                <div class="em-fright"><a href="#" class="ic_attach"><img src="../../images/ic-attachment.png" alt="" /></a></div>
            }

            <div class="em-fleft"><span><input type="checkbox" data-messageid="@item.id" value="" class="chkmark" name=""></span></div>
            <div class="em-fleft"><i class="ic"></i></div>
            <div class="message-body">
                <div class="em-fleft sender"><span>@Html.Raw(item.from)</span></div>
                <div class="em-fleft subject"><span>@Html.Raw(item.subject) </span></div>
            </div>
        </li>*@
}
@*<li class="unread">
        <div class="em-fright">
            <div class="dropdown mydrop">
                <a data-toggle="dropdown" id="dropdownMenu1" class="item-dropdown" href="#"></a>
                <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-right">
                    <li><a class="rep" href="#">Reply</a></li>
                    <li><a class="fwd" href="#">Forward</a></li>
                    <li><a class="trash" href="#">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="em-fright date"><span>18/05/15</span></div>
        <div class="em-fleft"><span><input type="checkbox" value="" class="chkmark" name=""></span></div>
        <div class="em-fleft"><i class="ic"></i></div>
        <div class="message-body">
            <div class="em-fleft sender"><span>Dr. Gerardo Schneider III</span></div>
            <div class="em-fleft subject"><span>Provident voluptates doloribus velit dolore expedita quod aperiam ut consequatur</span></div>
        </div>
    </li>
    <li class="opened">
        <div class="em-fright">
            <div class="dropdown mydrop">
                <a data-toggle="dropdown" id="dropdownMenu1" class="item-dropdown" href="#"></a>
                <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-right">
                    <li><a class="rep" href="#">Reply</a></li>
                    <li><a class="fwd" href="#">Forward</a></li>
                    <li><a class="trash" href="#">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="em-fright date"><span>18/05/15</span></div>
        <div class="em-fleft"><span><input type="checkbox" value="" class="chkmark" name=""></span></div>
        <div class="em-fleft"><i class="ic"></i></div>
        <div class="message-body">
            <div class="em-fleft sender"><span>Dr. Gerardo Schneider III</span></div>
            <div class="em-fleft subject"><span>Provident voluptates doloribus velit dolore expedita quod aperiam ut consequatur</span></div>
        </div>
    </li>
    <li class="forwarded">
        <div class="em-fright">
            <div class="dropdown mydrop">
                <a data-toggle="dropdown" id="dropdownMenu1" class="item-dropdown" href="#"></a>
                <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-right">
                    <li><a class="rep" href="#">Reply</a></li>
                    <li><a class="fwd" href="#">Forward</a></li>
                    <li><a class="trash" href="#">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="em-fright date"><span>18/05/15</span></div>
        <div class="em-fleft"><span><input type="checkbox" value="" class="chkmark" name=""></span></div>
        <div class="em-fleft"><i class="ic"></i></div>
        <div class="message-body">
            <div class="em-fleft sender"><span>Dr. Gerardo Schneider III</span></div>
            <div class="em-fleft subject"><span>Provident voluptates doloribus velit dolore expedita quod aperiam ut consequatur</span></div>
        </div>
    </li>
    <li class="replied">
        <div class="em-fright">
            <div class="dropup mydrop">
                <a data-toggle="dropdown" id="dropdownMenu1" class="item-dropdown" href="#"></a>
                <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-right">
                    <li><a class="rep" href="#">Reply</a></li>
                    <li><a class="fwd" href="#">Forward</a></li>
                    <li><a class="trash" href="#">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="em-fright date"><span>18/05/15</span></div>
        <div class="em-fleft"><span><input type="checkbox" value="" class="chkmark" name=""></span></div>
        <div class="em-fleft"><i class="ic"></i></div>
        <div class="message-body">
            <div class="em-fleft sender"><span>Dr. Gerardo Schneider III</span></div>
            <div class="em-fleft subject"><span>Provident voluptates doloribus velit dolore expedita quod aperiam ut consequatur</span></div>
        </div>
    </li>*@