@model FormBot.Entity.CreateVEEC
@using FormBot.Helper;
@Scripts.Render("~/bundles/jqueryval")
<div id="grid" class="col-xs-12">
    <div class="table-responsive">
        <table id="datatableVEECInstaller" class="table table-hover datatableVEECInstaller" style="width:100%">
            <thead>
                <tr>
                    <th style="background-image:none !important;"></th>
                    <th><span>@Html.DisplayName("FullName")</span></th>
                    <th><span>@Html.DisplayName("Acreditation Number")</span></th>
                    <th><span>@Html.DisplayName("Electrical Complience Number")</span></th>
                    <th><span>@Html.DisplayName("Phone")</span></th>
                    <th><span>@Html.DisplayName("Email")</span></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
