@model Xero.Api.Core.Endpoints.ItemsEndpoint
@{
    ViewBag.Title = "Items";
}

<h2>Items list with details</h2>
@{

    if (Model != null)
    {

        var itemList = Model.Find().ToList();
        <h3>Total Item(s): @itemList.Count() </h3>




        for (int i = 0; i < itemList.Count(); i++)
        {
            @Html.Raw("<b>Item: </b>" + (i + 1) + "<br>");
    @Html.Raw("<b>Id: </b>" + itemList[i].Id + "<br>");
    @Html.Raw("<b>Code: </b>" + itemList[i].Code + "<br>");
    @Html.Raw("<b>Name: </b>" + itemList[i].Name + "<br>");
    @Html.Raw("<Br>");
    @Html.Raw("<b>IsTrackedAsInventory: </b>" + itemList[i].IsTrackedAsInventory + "<br>");
    @Html.Raw("<b>InventoryAssetAccountCode: </b>" + itemList[i].InventoryAssetAccountCode + "<br>");
    @Html.Raw("<Br>");
    @Html.Raw("<b>PurchaseDetails.UnitPrice: </b>" + itemList[i].PurchaseDetails.UnitPrice + "<br>");
    @Html.Raw("<b>PurchaseDetails: </b>" + itemList[i].PurchaseDetails.COGSAccountCode + "<br>");
    @Html.Raw("<b>PurchaseDetails.TaxType: </b>" + itemList[i].PurchaseDetails.TaxType + "<br>");
    @Html.Raw("<b>PurchaseDetails.PurchaseDescription: </b>" + itemList[i].PurchaseDescription + "<br>");
    @Html.Raw("<Br>");
    @Html.Raw("<b>SalesDetails UnitPrice: </b>" + itemList[i].SalesDetails.UnitPrice + "<br>");
    @Html.Raw("<b>SalesDetails.AccountCode: </b>" + itemList[i].SalesDetails.AccountCode + "<br>");
    @Html.Raw("<b>SalesDetails.TaxType: </b>" + itemList[i].SalesDetails.TaxType + "<br>");
    @Html.Raw("<b>Description: </b>" + itemList[i].Description + "<br>");
    @Html.Raw("<Br>");
    @Html.Raw("<b>QuantityOnHand: </b>" + itemList[i].QuantityOnHand + "<br>");
    @Html.Raw("<b>IsSold: </b>" + itemList[i].IsSold + "<br>");
    @Html.Raw("<b>IsPurchased: </b>" + itemList[i].IsPurchased + "<br>");
    @Html.Raw("<b>TotalCostPool: </b>" + itemList[i].TotalCostPool + "<br>");
    @Html.Raw("<b>ValidationStatus: </b>" + itemList[i].ValidationStatus + "<br>");
    @Html.Raw("<b>Warnings: </b>" + itemList[i].Warnings + "<br>");
    @Html.Raw("==============================<br>");



        }
    }
}





