@model List<FormBot.Entity.GlobalBillableTerms>

<style>
    .blue-title {
        color: #1b94da;
    }

    .currentPage {
        background-color: #50b3d3 !important;
        color: white !important;
    }

    .pagination-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .status-box ol {
        list-style: decimal !important;
        padding: 0 40px !important;
        margin: 13px 0 !important;
    }

    .status-box ul {
        list-style: disc !important;
        padding: 0 40px !important;
        margin: 13px 0 !important;
    }

    .status-box ol li {
        list-style-type: decimal !important;
    }

    .status-box ul li {
        list-style-type: disc !important;
    }

    .status-box em {
        font-style: italic !important;
    }

    .history-box .created-date {
        float: right;
    }

    #divCustom .history-block {
        margin: 0px !important;
    }

    .history-block {
        display: block;
        background-color: #fff;
        margin: 15px
    }

        .history-block > :first-child {
            border-top: 1px solid #e3e3e3
        }

    .history-box {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #eaeaea;
        /*padding: 15px 30px;*/
        padding: 25px 30px 25px 40px;
        position: relative
    }

        .history-box:hover .border-icon {
            -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both
        }

        .history-box:hover .border-icon {
            -webkit-animation-name: bounceInDown;
            animation-name: bounceInDown
        }

        .history-box p {
            margin-bottom: 5px
        }

        .history-box label {
            font-size: 13px;
            font-weight: 400;
            color: #474747;
            line-height: 16px;
            font-family: OpenSansSemibold
        }

        .history-box a {
            color: #1b94da;
            font-size: 13px;
            line-height: 16px;
            /*pointer-events: none;*/
        }


        .history-box .list li {
            display: inline;
            font-size: 13px;
            margin-right: 5px;
            margin-bottom: 10px
        }

            .history-box .list li > span {
                color: #474747
            }

        .history-box .attachment-ber {
            padding: 0
        }

        .history-box ol {
            list-style: decimal !important;
            padding: 0 40px !important;
            margin: 13px 0 !important;
        }

        .history-box ul {
            list-style: disc !important;
            padding: 0 40px !important;
            margin: 13px 0 !important;
        }

        .history-box ol li {
            list-style-type: decimal !important;
        }

        .history-box ul li {
            list-style-type: disc !important;
        }

        .history-box em {
            font-style: italic !important;
        }

        .history-box blockquote {
            font-style: italic;
            font-family: Georgia, Times, "Times New Roman", serif;
            border-style: solid;
            border-color: #ccc;
            border-left-width: 5px;
            padding-left: 20px;
            padding-right: 8px;
        }
</style>

<div class="message-box">
    @*<div style="margin-bottom: 15px; height: 300px; overflow-y: auto;" id="historyList">*@
    <div style="margin-bottom: 15px; overflow-y: auto;" id="historyList">
        <div class="col-sm-12 newHistoryView">
            <div id="divCustom">
                <div class="history-block" id="divHistoryList">
                    @ListLoad()
                </div>
                <div id="norecords"></div>
            </div>
        </div>
    </div>
</div>

@helper ListLoad()
{
    if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            string categoryClass = string.Empty;
            @*<li class="history-box @categoryClass @item.strNotesTypeValue" data-NoteId="@item.NoteId">*@
            <li class="history-box @categoryClass" data-NoteId="@item.NoteId">
                <span class="border-icon fas" title="@item.HistoryCategory" style="font-size:30px;"></span>
                <p>
                    @if (item.CategoryID != 18 && item.CategoryID != 69 && item.CategoryID != 70 && item.CategoryID != 31)
                    {
                        <b class="blue-title" title="@item.Modifier">@item.Modifier </b>
                    }
                    <span class="created-date" style="margin-left:10px">@item.CreateDate</span>
                    @Html.Raw(item.HistoryMessage)
                </p>
            </li>
        }
    }
}