@model FormBot.Main.Models.ForgotPasswordViewModel
@using FormBot.Helper
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div id="loading-image" class="loadingOverlay loading-image" style="display: none;"><img src="/images/loader.gif" alt="loading..." align="middle"></div>
<div id="login">
    <div class="panel login-panel forgotPass">
        <div class="col-md-5 col-sm-5 loginleft">
            <div class="panel-heading">
                <div class="logo">
                    <a href="#">
                        @if (ProjectSession.Logo == "Images/logo.png")
                        {
                            <img src="~/Images/login_logo.png" alt="" id="imgLogo">
                        }
                        else
                        {
                            <img src='@Url.Content(ProjectSession.UploadedDocumentPath + "UserDocuments" + "/" + ProjectSession.Logo)' al alt="" id="imgLogo"/>
                        }
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-7 loginright">
            <div id="msgSection">
                @Html.RenderMessages()
            </div>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "loginform", role = "form" }))
            {
                @*@Html.AntiForgeryToken()*@

                <h1 class="title">Forgot Password</h1>


                <div class="alert alert-danger alert-dismissible" role="alert" id="errorMsgRegion" style="display: none">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @autofocus = true, @tabindex = "1" })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div class="form-group">
                    @*<div class="fup">@Html.ActionLink("Back to Login", "Login")</div>*@
                    <div class="fup">
                        <a href="@Model.ResellerUrl" style="text-decoration:none;cursor:pointer;" id="backLogin">Back to Login</a>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Reset Password" tabindex="2" id="reset-password"/>
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        var UploadedDocumentPath = '@FormBot.Helper.ProjectSession.UploadedDocumentPath';
        var MaxImageSize = '@FormBot.Helper.ProjectSession.MaxImageSize';
        var ProjectImagePath = '@FormBot.Helper.ProjectConfiguration.ProjectImagePath';
        $(document).ready(function () {

            if ('@FormBot.Helper.ProjectSession.LoginCompanyName' != null) {
                if ('@ProjectSession.Logo' != null && '@ProjectSession.Logo' != '') {
                    if ('@ProjectSession.Logo' == 'Images/logo.png') {
                        $('#imgLogo').attr('src', ('@ProjectSession.SiteUrlBase' + 'Images/login_logo.png'));
                    }
                    else {
                        var proofDocumentURL = UploadedDocumentPath;
                        var logo = '@ProjectSession.Logo';
                        var SRC = proofDocumentURL + 'UserDocuments' + '/' + logo;
                        $('#imgLogo').attr('src', SRC);
                    }
                    $('body').attr('id', '@ProjectSession.Theme');
                }
            }

            $("#reset-password").click(function () {
                $("#loading-image").show();
            })
        });

    </script>
}
