@model FormBot.Main.Models.ResetPasswordViewModel
@using FormBot.Helper
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    string url = Model.ResellerUrl;
}

<div id="login">
    <div class="panel login-panel reset">
        <div class="col-md-5 col-sm-5 loginleft">
            <div class="panel-heading">
                <div class="logo">
                    <a href="#">
                        @if (ProjectSession.Logo == "Images/logo.png")
                        {
                            <img src="~/Images/login_logo.png" alt="" id="imgLogo">
                        }
                        else
                        {
                            <img src='@Url.Content(ProjectSession.UploadedDocumentPath + "UserDocuments" + "/" + ProjectSession.Logo)' alt="" id="imgLogo" />
                        }
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-7 loginright">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "loginform", role = "form" }))
            {
                @Html.HiddenFor(model => model.Code)
                @Html.HiddenFor(model => model.ResellerUrl)
                @Html.HiddenFor(model => model.currentDate)
                <h1 class="title">Reset Password</h1>

                <div id="msgSection">
                    @Html.RenderMessages()
                </div>
                if (@System.Configuration.ConfigurationManager.AppSettings["OTPbasedPwdReset"] == "false")
                {

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @autofocus = true, @tabindex = "1" })
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                }
                else
                {
                    @Html.Hidden("r-url", url)
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @autofocus = true, @readonly = "readonly", @tabindex = "1" })
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                }

                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @tabindex = "2" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @tabindex = "3" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                @*<div class="form-group">
                <div class="fup">@Html.ActionLink("Back to Login", "Login")</div>
            </div>*@
                <div class="form-group">
                    @*<div class="fup">@Html.ActionLink("Back to Login", "Login")</div>*@
                    <div class="fup">
                        <a href="@Model.ResellerUrl" style="text-decoration:none;cursor:pointer;" id="backLogin">Back to Login</a>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Reset Password" tabindex="4" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var UploadedDocumentPath = '@FormBot.Helper.ProjectSession.UploadedDocumentPath';
        var MaxImageSize = '@FormBot.Helper.ProjectSession.MaxImageSize';
        var ProjectImagePath = '@FormBot.Helper.ProjectConfiguration.ProjectImagePath';
       
        $(document).ready(function () {
            if ('@FormBot.Helper.ProjectSession.LoginCompanyName' != null) {
                if ('@ProjectSession.Logo' != null && '@ProjectSession.Logo' != '') {
                    if ('@ProjectSession.Logo' == 'Images/logo.png') {
                        $('#imgLogo').attr('src', ('@ProjectSession.SiteUrlBase' + 'Images/login_logo.png'));
                    }
                    else {
                        var proofDocumentURL = UploadedDocumentPath;
                        var logo = '@ProjectSession.Logo';
                        var SRC = proofDocumentURL + 'UserDocuments' + '/' + logo;
                        $('#imgLogo').attr('src', SRC);
                    }
                    $('body').attr('id', '@ProjectSession.Theme');
                }
            }
        });

    </script>

}
