@model FormBot.Entity.Job.ListColumnMaster
@{
    ViewBag.Title = "Add Columns";
    Layout = null;
}
@Scripts.Render("~/bundles/jqueryval")
<link href="~/Content/lightbox.css" rel="stylesheet" />
<div class="alert alert-danger alert-dismissible" role="alert" id="errorMsgRegionColumnMaster" style="display: none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
<div class="form-group">
    <input type="text" class="form-control" id="search-box" placeholder="Search...">
</div>
<div class="add-new-column checklist-block ">
    <ul class="checklist columnmaster niceScroll" style="max-height:453px;">
        @if (Model.lstStcInvoiceDetails != null && Model.lstStcInvoiceDetails.Count > 0)
        {
            if (Model.lstStcInvoiceDetails[0].MenuId == FormBot.Helper.SystemEnums.MenuId.STCInvoiceView.GetHashCode())
            {
                for (int i = 0; i < Model.lstStcInvoiceDetails.Count; i++)
                {
                    <li class="collection-item" data-columnid="@Model.lstStcInvoiceDetails[i].ColumnID" data-columndisplay="@Model.lstStcInvoiceDetails[i].DisplayName">
                        <span class="accept">
                            <i class="border-btn sprite-img"></i>
                        </span>
                        <span class="dynamic-column-cat">@Model.lstStcInvoiceDetails[i].EditColDisplayName <span>  STC Invoice Details</span></span>
                    </li>
                }
            }

        }
        @if (Model.lstBasicDetails != null && Model.lstBasicDetails.Count > 0)
        {
            for (int i = 0; i < Model.lstBasicDetails.Count; i++)
            {
                if (Model.lstBasicDetails[i].ColumnID == 2)
                {
                    <li class="collection-item" data-columnid="@Model.lstBasicDetails[i].ColumnID" data-columndisplay="@Model.lstBasicDetails[i].DisplayName">
                        <span class="accept">
                            <i class="border-btn sprite-img"></i>
                        </span>
                        <span class="dynamic-column-cat">@Model.lstBasicDetails[i].EditColDisplayName <span>  Basic Details</span></span>
                    </li>
                }
                else
                {
                    <li class="collection-item" data-columnid="@Model.lstBasicDetails[i].ColumnID" data-columndisplay="@Model.lstBasicDetails[i].DisplayName">
                        <span class="accept">
                            <i class="border-btn sprite-img"></i>
                        </span>
                        <span class="dynamic-column-cat">@Model.lstBasicDetails[i].EditColDisplayName  <span>  Basic Details</span> </span>
                    </li>
                }
            }
        }
        @if (Model.lstOwnerDetails != null && Model.lstOwnerDetails.Count > 0)
        {

            for (int i = 0; i < Model.lstOwnerDetails.Count; i++)
            {
                <li class="collection-item" data-columnid="@Model.lstOwnerDetails[i].ColumnID" data-columndisplay="@Model.lstOwnerDetails[i].DisplayName">
                    <span class="accept">
                        <i class="border-btn sprite-img"></i>
                    </span>
                    <span class="dynamic-column-cat">@Model.lstOwnerDetails[i].EditColDisplayName <span>  Owner Details</span></span>
                </li>
            }

        }
        @if (Model.lstInstallationDetails != null && Model.lstInstallationDetails.Count > 0)
        {

            for (int i = 0; i < Model.lstInstallationDetails.Count; i++)
            {
                <li class="collection-item" data-columnid="@Model.lstInstallationDetails[i].ColumnID" data-columndisplay="@Model.lstInstallationDetails[i].DisplayName">
                    <span class="accept">
                        <i class="border-btn sprite-img"></i>
                    </span>
                    <span class="dynamic-column-cat">@Model.lstInstallationDetails[i].EditColDisplayName <span>  Installation Details</span></span>
                </li>
            }

        }
        @if (Model.lstSystemDetails != null && Model.lstSystemDetails.Count > 0)
        {

            for (int i = 0; i < Model.lstSystemDetails.Count; i++)
            {
                <li class="collection-item" data-columnid="@Model.lstSystemDetails[i].ColumnID" data-columndisplay="@Model.lstSystemDetails[i].DisplayName">
                    <span class="accept">
                        <i class="border-btn sprite-img"></i>
                    </span>
                    <span class="dynamic-column-cat">@Model.lstSystemDetails[i].EditColDisplayName <span>  System Details</span></span>
                </li>
            }

        }
        @if (Model.lstSTCDetails != null && Model.lstSTCDetails.Count > 0)
        {

            for (int i = 0; i < Model.lstSTCDetails.Count; i++)
            {
                <li class="collection-item" data-columnid="@Model.lstSTCDetails[i].ColumnID" data-columndisplay="@Model.lstSTCDetails[i].DisplayName">
                    <span class="accept">
                        <i class="border-btn sprite-img"></i>
                    </span>
                    <span class="dynamic-column-cat">@Model.lstSTCDetails[i].EditColDisplayName <span>  STC Details</span></span>
                </li>
            }
        }
        @if (Model.lstInstallerDetails != null && Model.lstInstallerDetails.Count > 0)
        {

            for (int i = 0; i < Model.lstInstallerDetails.Count; i++)
            {
                <li class="collection-item" data-columnid="@Model.lstInstallerDetails[i].ColumnID" data-columndisplay="@Model.lstInstallerDetails[i].DisplayName">
                    <span class="accept">
                        <i class="border-btn sprite-img"></i>
                    </span>
                    <span class="dynamic-column-cat">@Model.lstInstallerDetails[i].EditColDisplayName <span>  Installer Details</span></span>
                </li>
            }

        }
        @if (Model.lstDesignerDetails != null && Model.lstDesignerDetails.Count > 0)
        {

            for (int i = 0; i < Model.lstDesignerDetails.Count; i++)
            {
                <li class="collection-item" data-columnid="@Model.lstDesignerDetails[i].ColumnID" data-columndisplay="@Model.lstDesignerDetails[i].DisplayName">
                    <span class="accept">
                        <i class="border-btn sprite-img"></i>
                    </span>
                    <span class="dynamic-column-cat">@Model.lstDesignerDetails[i].EditColDisplayName <span>  Designer Details</span></span>
                </li>
            }

        }
        @if (Model.lstElectricianDetails != null && Model.lstElectricianDetails.Count > 0)
        {

            for (int i = 0; i < Model.lstElectricianDetails.Count; i++)
            {
                <li class="collection-item" data-columnid="@Model.lstElectricianDetails[i].ColumnID" data-columndisplay="@Model.lstElectricianDetails[i].DisplayName">
                    <span class="accept">
                        <i class="border-btn sprite-img"></i>
                    </span>
                    <span class="dynamic-column-cat">@Model.lstElectricianDetails[i].EditColDisplayName <span>  Electrician Details</span></span>
                </li>
            }

        }
        @if (Model.lstSolarCompanyDetails != null && Model.lstSolarCompanyDetails.Count > 0)
        {

            for (int i = 0; i < Model.lstSolarCompanyDetails.Count; i++)
            {
                <li class="collection-item" data-columnid="@Model.lstSolarCompanyDetails[i].ColumnID" data-columndisplay="@Model.lstSolarCompanyDetails[i].DisplayName">
                    <span class="accept">
                        <i class="border-btn sprite-img"></i>
                    </span>
                    <span class="dynamic-column-cat">@Model.lstSolarCompanyDetails[i].EditColDisplayName <span>  SolarCompany Details</span></span>
                </li>
            }

        }
        @if (Model.lstExtraSpecialColumns != null && Model.lstExtraSpecialColumns.Count > 0)
        {

            for (int i = 0; i < Model.lstExtraSpecialColumns.Count; i++)
            {
                <li class="collection-item" data-columnid="@Model.lstExtraSpecialColumns[i].ColumnID" data-columndisplay="@Model.lstExtraSpecialColumns[i].DisplayName">
                    <span class="accept">
                        <i class="border-btn sprite-img"></i>
                    </span>
                    <span class="dynamic-column-cat">@Model.lstExtraSpecialColumns[i].EditColDisplayName <span>  Extra Special Details</span></span>
                </li>
            }

        }
        @if (Model.lstValidationColumns != null && Model.lstValidationColumns.Count > 0)
        {

            for (int i = 0; i < Model.lstValidationColumns.Count; i++)
            {
                <li class="collection-item" data-columnid="@Model.lstValidationColumns[i].ColumnID" data-columndisplay="@Model.lstValidationColumns[i].DisplayName">
                    <span class="accept">
                        <i class="border-btn sprite-img"></i>
                    </span>
                    <span class="dynamic-column-cat">@Model.lstValidationColumns[i].EditColDisplayName <span>  Validation Details</span></span>
                </li>
            }

        }
        @if (Model.lstStcInvoiceDetails != null && Model.lstStcInvoiceDetails.Count > 0)
        {
            if (Model.lstStcInvoiceDetails[0].MenuId == FormBot.Helper.SystemEnums.MenuId.STCSubmissionView.GetHashCode() || Model.lstStcInvoiceDetails[0].MenuId == FormBot.Helper.SystemEnums.MenuId.JobView.GetHashCode())
            {
                for (int i = 0; i < Model.lstStcInvoiceDetails.Count; i++)
                {
                    <li class="collection-item" data-columnid="@Model.lstStcInvoiceDetails[i].ColumnID" data-columndisplay="@Model.lstStcInvoiceDetails[i].DisplayName">
                        <span class="accept">
                            <i class="border-btn sprite-img"></i>
                        </span>
                        <span class="dynamic-column-cat">@Model.lstStcInvoiceDetails[i].EditColDisplayName <span>  STC Invoice Details</span></span>
                    </li>
                }
            }

        }
    </ul>
</div>

