@model FormBot.Entity.CreateJob
@using FormBot.Helper;

<div class="form-box">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                @for (int i = 0; i < Model.lstCustomField.Count; i = i + 3)
                {
                    <label class="control-label">@Model.lstCustomField[i].FieldName :</label>
                    <input type="text" class="form-control" maxlength="500" value="@Model.lstCustomField[i].FieldValue" visitchecklistitemid="@Model.lstCustomField[i].VisitCheckListItemId" />
                }
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @for (int i = 1; i < Model.lstCustomField.Count; i = i + 3)
                {   
                    <label class="control-label">@Model.lstCustomField[i].FieldName :</label>
                    <input type="text" class="form-control" maxlength="500" value="@Model.lstCustomField[i].FieldValue" visitchecklistitemid="@Model.lstCustomField[i].VisitCheckListItemId" />
                }
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @for (int i = 2; i < Model.lstCustomField.Count; i = i + 3)
                {
                    <label class="control-label">@Model.lstCustomField[i].FieldName :</label>
                    <input type="text" class="form-control" maxlength="500" value="@Model.lstCustomField[i].FieldValue" visitchecklistitemid="@Model.lstCustomField[i].VisitCheckListItemId" />
                }
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn primary save_ic" onclick="SaveCustomField()" tabindex="100">Save</button>
        <button type="button" class="btn default cancel_ic" onclick="ClearCustomField()" tabindex="101">Clear</button>
    </div>
</div>

