@model FormBot.Entity.SolarElectrician.InstallerDesignerView

@*Popup Installer/Designer Detail *@
<div class="modal fade popupInstallerDesigner" tabindex="-1" role="dialog" id="popupInstallerDesigner">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close sprite-img" aria-label="Close" data-dismiss="modal"></button>
                    <h4 class="modal-title">Find Installer/Designer</h4>
                </div>
                <div class="modal-body">
                    <form class="form-block" id="frmInstallerDesigner">
                        <div class="container-fluid">
                            <div class="alert alert-danger alert-dismissible" role="alert" id="errorMsgRegionInstallerDesignerPopup" style="display: none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            </div>
                            <div class="alert alert-success alert-dismissible" role="alert" id="successMsgRegionInstallerDesignerPopup" style="display: none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            </div>
                            <div class="alert alert-danger alert-dismissible" id="InstallerDesignerView_LocationValidation" style="display: none;">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                "Please enter valid state,town and postcode."
                            </div>

                            @Html.HiddenFor(m => m.InstallerDesignerId, new { @id = "InstallerDesignerView_InstallerDesignerId" })
                            @Html.HiddenFor(m => m.UserId, new { @id = "InstallerDesignerView_UserId" })
                            @Html.HiddenFor(m => m.IsVisitScheduled, new { @id = "InstallerDesignerView_IsVisitScheduled" })

                            <div class="row FindInstaller">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CECAccreditationNumber, new { @class = "control-label required", @for = "InstallerDesignerView_CECAccreditationNumber" })
                                        @Html.TextBoxFor(m => m.CECAccreditationNumber, new { @id = "FindInstaller_CECAccreditationNumber", @class = "form-control", @maxlength = 20, @onblur = "checkExistInstallerDesigner(this,'InstallerDesigner AccreditationNumber',true)" })
                                        @Html.ValidationMessageFor(m => m.CECAccreditationNumber)
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.FindInstallerDesignerFirstName, new { @class = "control-label required", @for = "InstallerDesignerView_FindInstallerDesignerFirstName" })
                                        @Html.TextBoxFor(m => m.FindInstallerDesignerFirstName, new { @id = "FindInstaller_FirstName", @class = "form-control", @maxlength = 50, @autofocus = "autofocus" })
                                        @Html.ValidationMessageFor(m => m.FindInstallerDesignerFirstName)
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.FindInstallerDesignerLastName, new { @class = "control-label required", @for = "InstallerDesignerView_FindInstallerDesignerLastName" })
                                        @Html.TextBoxFor(m => m.FindInstallerDesignerLastName, new { @id = "FindInstaller_LastName", @class = "form-control", @maxlength = 50, @autofocus = "autofocus" })
                                        @Html.ValidationMessageFor(m => m.FindInstallerDesignerLastName)
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label required">SE Role:</label>
                                        <div class="checkbox-box" style="color:#494949;">
                                            @Html.RadioButton("InstallerDesignerView_SEDesignRoleId", "2", true, new { @name = "InstallerDesignerView_SEDesignRoleId", @tabindex = 18 }) Design
                                            @Html.RadioButton("InstallerDesignerView_SEDesignRoleId", "1", false, new { @name = "InstallerDesignerView_SEDesignRoleId", @tabindex = 19 }) Install
                                            @Html.RadioButton("InstallerDesignerView_SEDesignRoleId", "3", false, new { @name = "InstallerDesignerView_SEDesignRoleId", @tabindex = 20 }) Design & Install
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="AddEditInstaller">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CECAccreditationNumber, new { @class = "control-label required" })
                                            @Html.TextBoxFor(m => m.CECAccreditationNumber, new { @id = "InstallerDesignerView_CECAccreditationNumber", @class = "form-control", @maxlength = 20, @onblur = "checkExistInstallerDesigner(this,'InstallerDesigner AccreditationNumber')", @readonly = "readonly", @idClass = "installerDesignerRequired" })
                                            @Html.ValidationMessageFor(m => m.CECAccreditationNumber)
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label required">SE Role:</label>
                                            <div class="checkbox-box" style="color:#494949;">
                                                @Html.RadioButton("SEDesignRoleId", "2", true, new { @name = "SEDesignRoleId", @tabindex = 18 }) Design
                                                @Html.RadioButton("SEDesignRoleId", "1", false, new { @name = "SEDesignRoleId", @tabindex = 19 }) Install
                                                @Html.RadioButton("SEDesignRoleId", "3", false, new { @name = "SEDesignRoleId", @tabindex = 20 }) Design & Install
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.FirstName, new { @class = "control-label required" })
                                            @Html.TextBoxFor(m => m.FirstName, new { @id = "InstallerDesignerView_FirstName", @class = "form-control", @maxlength = 50, @autofocus = "autofocus", @readonly = "readonly", @idClass = "installerDesignerRequired" })
                                            @Html.ValidationMessageFor(m => m.FirstName)
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.LastName, new { @class = "control-label required" })
                                            @Html.TextBoxFor(m => m.LastName, new { @id = "InstallerDesignerView_LastName", @class = "form-control", @maxlength = 50, @readonly = "readonly", @idClass = "installerDesignerRequired" })
                                            @Html.ValidationMessageFor(m => m.LastName)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.Email, new { @id = "InstallerDesignerView_Email", @class = "form-control", @maxlength = 50, @readonly = "readonly", @idClass = "installerDesignerNotRequired" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Phone, new { @class = "control-label required" })
                                            @Html.TextBoxFor(m => m.Phone, new { @id = "InstallerDesignerView_Phone", @class = "form-control", @maxlength = 16, onkeypress = "return isValidPhone(event,this);", @idClass = "installerDesignerNotRequired" })
                                            @Html.ValidationMessageFor(m => m.Phone)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Mobile, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.Mobile, new { @id = "InstallerDesignerView_Mobile", @class = "form-control", @maxlength = 16, onkeypress = "return isValidPhone(event,this);", @idClass = "installerDesignerNotRequired" })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ElectricalContractorsLicenseNumber, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.ElectricalContractorsLicenseNumber, new { @id = "InstallerDesignerView_ElectricalContractorsLicenseNumber", @class = "form-control", @maxlength = 20, @readonly = "readonly", @idClass = "installerDesignerNotRequired" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label required">Postal Address Type :</label>
                                            @Html.DropDownListFor(m => m.AddressID, new SelectList((ViewBag.PostalAddressType) as SelectList, "Value", "Text"), new { @id = "InstallerDesignerView_AddressID", @class = "form-control", @idClass = "installerDesignerNotRequired" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4 PDA" style="display:none">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.PostalAddressID, new { @class = "control-label required", @for = "InstallerDesignerView_PostalAddressID" })
                                            @Html.DropDownListFor(model => model.PostalAddressID, new List<SelectListItem>(), new { @id = "InstallerDesignerView_PostalAddressID", @class = "form-control", @idClass = "installerDesignerNotRequired" })
                                            @Html.ValidationMessageFor(m => m.PostalAddressID)
                                        </div>
                                    </div>
                                    <div class="col-sm-4 PDA" style="display:none">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.PostalDeliveryNumber, new { @class = "control-label required", @for = "InstallerDesignerView_PostalDeliveryNumber" })
                                            @Html.TextBoxFor(m => m.PostalDeliveryNumber, new { @id = "InstallerDesignerView_PostalDeliveryNumber", @class = "form-control", @maxlength = 50, @idClass = "installerDesignerNotRequired" })
                                            @Html.ValidationMessageFor(m => m.PostalDeliveryNumber)
                                        </div>
                                    </div>

                                    <div class="col-sm-4 DPA">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.UnitTypeID, new { @class = "control-label", @for = "InstallerDesignerView_UnitTypeID" })
                                            @Html.DropDownListFor(model => model.UnitTypeID, new List<SelectListItem>(), new { @id = "InstallerDesignerView_UnitTypeID", @class = "form-control", @idClass = "installerDesignerNotRequired" })
                                            @Html.ValidationMessageFor(m => m.UnitTypeID)
                                        </div>
                                    </div>
                                    <div class="col-sm-4 DPA">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.UnitNumber, new { @class = "control-label", @for = "InstallerDesignerView_UnitNumber" })
                                            @Html.TextBoxFor(m => m.UnitNumber, new { @id = "InstallerDesignerView_UnitNumber", @class = "form-control", @maxlength = 10, @idClass = "installerDesignerNotRequired" })
                                            @Html.ValidationMessageFor(m => m.UnitNumber)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 DPA">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.StreetNumber, new { @class = "control-label required", @for = "InstallerDesignerView_StreetNumber" })
                                            @Html.TextBoxFor(m => m.StreetNumber, new { @id = "InstallerDesignerView_StreetNumber", @class = "form-control", @maxlength = 15, @idClass = "installerDesignerNotRequired" })
                                            @Html.ValidationMessageFor(m => m.StreetNumber)
                                        </div>
                                    </div>
                                    <div class="col-sm-4 DPA">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.StreetName, new { @class = "control-label required", @for = "InstallerDesignerView_StreetName" })
                                            @Html.TextBoxFor(m => m.StreetName, new { @id = "InstallerDesignerView_StreetName", @class = "form-control", @maxlength = 45, @idClass = "installerDesignerNotRequired" })
                                            @Html.ValidationMessageFor(m => m.StreetName)
                                        </div>
                                    </div>
                                    <div class="col-sm-4 DPA">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.StreetTypeID, new { @class = "control-label required", @for = "InstallerDesignerView_StreetTypeID" })
                                            @Html.DropDownListFor(model => model.StreetTypeID, new List<SelectListItem>(), new { @id = "InstallerDesignerView_StreetTypeID", @class = "form-control", @idClass = "installerDesignerNotRequired" })
                                            @Html.ValidationMessageFor(m => m.StreetTypeID)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Town, new { @class = "control-label required" })
                                            @Html.TextBoxFor(m => m.Town, new { @id = "InstallerDesignerView_Town", @class = "form-control", @maxlength = 80, @idClass = "installerDesignerNotRequired" })
                                            @Html.ValidationMessageFor(m => m.Town)
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.State, new { @class = "control-label required" })
                                            @Html.TextBoxFor(m => m.State, new { @id = "InstallerDesignerView_State", @class = "form-control", @maxlength = 3, @readonly = "readonly", @idClass = "installerDesignerNotRequired" })
                                            @Html.ValidationMessageFor(m => m.State)
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.PostCode, new { @class = "control-label required" })
                                            @Html.TextBoxFor(m => m.PostCode, new { @id = "InstallerDesignerView_PostCode", @class = "form-control", @maxlength = 8, @idClass = "installerDesignerNotRequired" })
                                            @Html.ValidationMessageFor(m => m.PostCode)
                                        </div>
                                    </div>
                                    @*<div class="alert" id="InstallerDesignerView_LocationValidation" style="display: none;color: #a94442;">
                    "Please enter valid state,town and postcode."
                </div>*@
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.SESignature, new { @class = "control-label", @name = "InstallerDesignerView_SESignature" })
                                            <table class="uf" style="margin-left:-10px;">
                                                <tr>
                                                    <td width="70" style="vertical-align:top;">
                                                        <div class="fileUpload primary upload_ic">
                                                            <span>Upload</span>
                                                            <input id="uploadBtnSignatureInstallerDesigner" type="file" class="upload fileUpload" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="bxcont" style="margin-top:7px;">
                                                            <a id="imgSignatureInstallerDesigner" href="javascript:void(0)" style="display:none;text-decoration:none;">&nbsp; &nbsp; View Image</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" id="IsInstaller" />
                                <div class="btn default icon-btn AddEditInstaller">
                                    <span class="sprite-img reset_ic"></span>
                                    <input type="button" id="btnResetInstaller" value="Reset" onclick="ResetInstallerDesigner();">
                                </div>
                                <button type="button" name="btnResetFindInstaller" class="btn default icon-btn FindInstaller" id="btnResetFindInstaller" style="width:100px;"><span class="sprite-img reset_ic"></span>Clear</button>
                                <button type="button" name="addInstallerDesigner" class="btn primary icon-btn" id="addInstallerDesigner"><span class="sprite-img save_ic"></span>Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

@*Popup Installer/Designer view image*@
<div class="modal fade" id="popupboxInsallerDesigner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close sprite-img" aria-label="Close" id="btnClosePopUpBoxInsallerDesigner"></button>
                <h4 class="modal-title" id="myModalLabel">Signature</h4>
            </div>

            <div class="modal-body">
                <div class="form-border">
                    <div id="signMyProfile">
                        <img src="@Model.SESignature" id="imgSignInstallerDesigner" class="" style="display:inline;" />
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="remove_ic" onclick="deleteSignature($('#IsInstaller').val());"><a class="sprite-img delete" href="#" id="signDelete"></a>Remove</p>
                </div>
            </div>
        </div>
    </div>
</div>