
    <div class="Profitability">        
        <table id="invoceDetailSummary2" border="0" collapse="0">
            <tbody>
                <tr>
                    <td class="label">Job Profitability</td>
                    <td><span class="total">Total</span></td>
                </tr>
                <tr>
                    <td class="label">Billable</td>
                    <td>@ViewBag.SubTotal</td>
                </tr>
                <tr>
                    <td class="label">Actual Cost</td>
                    <td>@ViewBag.Cost</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="label">Profit</td>
                    <td>@ViewBag.Profit / @ViewBag.Margin %</td>
                </tr>
            </tfoot>

        </table>

        <table id="invoceDetailSummary3" border="0" collapse="0">
            <tbody>
                <tr>
                    <td></td>
                    <td><span class="total">Total</span></td>
                </tr>
                <tr>
                    <td class="label">Billable</td>
                    <td id=""> <label class="clslblSubTotal">@ViewBag.SubTotal </label></td>
                </tr>
                <tr>
                    <td class="label">Tax</td>
                    <td id=""><label class="clslblTax"> @ViewBag.Tax </label></td>
                </tr>
                <tr>
                    <td class="label">Total</td>
                    <td id=""><label class="clslblSummaryTotal"> @ViewBag.SummaryTotal </label></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="label">Payments</td>
                    <td id=""><label class="clslblPayments"> @ViewBag.Payments </label></td>
                </tr>
                <tr>
                    <td class="label">Remaining</td>
                    <td id=""> <label class="clslblTotalRemaining"> @ViewBag.Ramaning </label></td>
                </tr>
            </tfoot>
        </table>
    </div>
