<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="grid_topbar">
                <p class="job_result" id="invoiceNumRecords"></p>
            </div>
        </div>
        <div class="col-sm-2">
            <a id="AddInvoice" href="javascript:void(0)" class="primary pull-right ic_plus" style="margin-bottom:2px;">Create New Invoice</a>
        </div>
    </div>

    <div class="row">
        <div id="grid" class="col-xs-12">
            <!-- Grid start -->
            <div class="table-responsive">
                <table id="datatable" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:5% !important"><span>@Html.DisplayName("Incoming/Outgoing") </span></th>
                            <th width="10%"><span>@Html.DisplayName("Invoice Number") </span></th>
                            <th width="10%"><span>@Html.DisplayName("Invoiced Date") </span></th>
                            <th width="10%"><span>@Html.DisplayName("Created By")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Invoiced To")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Status")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Total")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Amount Due")</span></th>
                            <th width="10%"><span>@Html.DisplayName("Invoice | Sent | Actions")</span></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
#grid .table-responsive td:first-child {
    text-align:center;
}
</style >
