@model FormBot.Entity.Job.JobRetailerSetting
@using FormBot.Helper;
@{ Layout = "~/Views/Shared/_SignUpLayout.cshtml"; }


<section id="content" class="container signature-outer">

    <h1 class="title">Retailer written statement</h1>

    <p>
        I <label>@(Model.RepresentativeName)</label> am the authorised representative of <label>@(ViewData.ContainsKey("CompanyName") ? ViewData["CompanyName"] : "") with ABN: @(ViewData.ContainsKey("CompanyABN") ? ViewData["CompanyABN"] : "")</label> that sold the solar PV system to
        <label>@(ViewData.ContainsKey("OwnerName") ? ViewData["OwnerName"] : "")</label> and verify that:
    </p><br />

    <p>
        •	<label>@(ViewData.ContainsKey("InstallerName") ? ViewData["InstallerName"] : "")</label> installed the unit at <label>@(ViewData.ContainsKey("InstallationAddress") ? ViewData["InstallationAddress"] : "")</label> and they are <label>@(Model.strIsEmployee) </label> of <label>@(ViewData.ContainsKey("CompanyName") ? ViewData["CompanyName"] : "")</label>
    </p><br />
    <p>
        •	that the unit will perform in accordance with the contract (or the quote accepted) for the sale of the unit to the owner of the unit, except to the extent that that performance is prevented by circumstances outside the solar retailer’s control
    </p><br />
    <p>
        •	that the unit is complete and generating electricity or capable of generating electricity
    </p><br />
    <p>
        •	that if grid connected the unit is connected to the grid or <label>@(ViewData.ContainsKey("CompanyName") ? ViewData["CompanyName"] : "")</label> has completed its obligations under the contract (or quote accepted) relating to the connection of the unit to the grid
    </p><br />
    <p>
        •	<label>@(ViewData.ContainsKey("CompanyName") ? ViewData["CompanyName"] : "")</label> provided information in writing to <label>@(ViewData.ContainsKey("OwnerName") ? ViewData["OwnerName"] : "")</label> about feed in tariffs and export limits for the unit and it is true, correct and complete
    </p><br />
    <p>
        •	<label>@(ViewData.ContainsKey("CompanyName") ? ViewData["CompanyName"] : "")</label> provided information in writing to the owner of the unit about one or more of the following of the unit, expected payback period or expected energy savings or expected cost savings and that information is true, correct and complete.
    </p><br />
    <p>
        •	any actual or potential conflicts of interest of <label>@(ViewData.ContainsKey("CompanyName") ? ViewData["CompanyName"] : "")</label> relating to the sale or installation of the unit, or the creation of certificates for the unit, including any conflicts of interest in relation to persons or entities related to <label>@(ViewData.ContainsKey("CompanyName") ? ViewData["CompanyName"] : "")</label>, have been disclosed to <label>@(ViewData.ContainsKey("OwnerName") ? ViewData["OwnerName"] : "")</label> and managed appropriately.
    </p><br />
    <p>
        •	a declaration deeming <label>@(ViewData.ContainsKey("CompanyName") ? ViewData["CompanyName"] : "")</label> ineligible to make statement under regulation 20AH is not in effect on the day the statement is given.
    </p><br />
    <p>
        I declare that the above statements are true, correct and complete and understand that penalties apply under the Renewable Energy (Electricity) Act 2000 and Renewable Energy (Electricity) Regulations 2001 for providing false or misleading information. I understand that giving false or misleading information is a serious offence under the Criminal Code Act 1995.
    </p><br />
        <table>
            <tr>
                <td>
                    <div style="width:200px;">
                        <img class="img-responsive" id="imgModalInstallerSign" alt="" src="@(ViewData.ContainsKey("Signature") ? ViewData["Signature"] : "")" style="margin-bottom:7px;">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Retailer representative full name</td>
            </tr>
            <tr>
                <td>
                    <label id="lblRepresentativeName"><strong> @Model.RepresentativeName </strong> </label>
                </td>
            </tr>
            <tr>
                <td>Retailer representative position</td>
            </tr>
            <tr>
                <td>
                    <label id="lblPosition"><strong> @Model.PositionHeld  </strong> </label>
                </td>
            </tr>
            <tr>
                <td>Signature date</td>
            </tr>
            <tr>
                <td>
                    <label id="signatureDate"><strong> @Model.SignedDate  </strong> </label>
                </td>
            </tr>
        </table>

</section>

@*@section Scripts
{

    <script type="text/javascript">
    var signatureURL = '@FormBot.Helper.ProjectSession.UploadedDocumentPath';
    $(document).ready(function () {        
        var modelRetailerSignURL = "UserDocuments/" + @Model.JobRetailerUserId + "/" + @Model.Signature;
        alert(modelRetailerSignURL);
        if (@Model.Signature != null && @Model.Signature != '' && @Model.Signature != undefined) {
            $("#imgModalInstallerSign").attr('src', signatureURL + modelRetailerSignURL);
        }
    });
    </script>

}*@