@model FormBot.Entity.Job.STCJobHistory
@using FormBot.Helper;

<div class="job-history">
    <div class="mCustomScrollbar _mCS_1 mCS_no_scrollbar">

        <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0" style="max-height:300px;overflow:auto">

            <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">

                <ul class="history-listing">

                    @foreach (var STCJobHistory in Model.lstSTCJobHistory)
                    {
                        <li class="@STCJobHistory.Color">
                            <div class="heading">
                                <h4 style="float:left">Status: @STCJobHistory.Status</h4>
                                <h4 style="float:right;margin-left:20px">Changed By: @STCJobHistory.changedBy</h4>
                                @*@if (STCJobHistory.StcStatusId == 22 || STCJobHistory.StcStatusId == 14)
                                {
                                    <h4 style="float:right;margin-left:20px">Changed By : System</h4>
                                }
                                else
                                {
                                    <h4 style="float:right;margin-left:20px">Changed By: @STCJobHistory.changedBy</h4>
                                }*@
                                <h4 style="float:right">@STCJobHistory.CreatedDate.ToString(ProjectConfiguration.GetDateFormat.Replace('m', 'M')), @STCJobHistory.CreatedDate.ToString("hh:mm tt")</h4>
                            </div>

                            <div class="description" style="clear:both">
                                <p>@Html.Raw(HttpUtility.HtmlDecode(STCJobHistory.Desc))</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>

        </div>

    </div>
</div>                                                                           