@model FormBot.Entity.CreateJob
@using FormBot.Helper;

@Scripts.Render("~/bundles/jqueryval")


@*<div class="row">*@
    <div id="grid" class="col-xs-12">
        <div class="table-responsive">
            <table id="datatableSWHInstaller" class="table table-hover datatableSWHInstaller" style="width:100%">
                <thead>
                    <tr>
                        @*<th style="background-image:none !important;"><input type="radio"></th>*@
                        <th style="background-image:none !important;"></th>
                        <th><span>@Html.DisplayName("FullName")</span></th>
                        <th><span>@Html.DisplayName("Acreditation Number")</span></th>
                        @*<th><span>@Html.DisplayName("Status")</span></th>
                        <th><span>@Html.DisplayName("Expiry Date")</span></th>*@
                        @*<th><span>@Html.DisplayName("IsPVD")</span></th>
                        <th><span>@Html.DisplayName("IsSWH")</span></th>*@
                        <th><span>@Html.DisplayName("Adress")</span></th>
                        <th><span>@Html.DisplayName("Phone")</span></th>
                        <th><span>@Html.DisplayName("Email")</span></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
@*</div>*@

