@model FormBot.Entity.CreateJob
@{
    //ViewBag.Title = "Error";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
<!DOCTYPE html>
<html lang="">
<head>
    @Scripts.Render("~/bundles/CommonJS")
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GreenBot</title>
</head>
<body style="margin:0px auto; padding:0px;">
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="786">
        <tr>
            <td height="15px;"></td>
        </tr>
        <!-- ======================================================================================== -->
        <tr>
            <td>
                <table border="0" cellspacing="0" align="center" bgcolor="#f8f8f8" style="width:100%; background-color:#f8f8f8;margin-bottom:20px;">
                    <tr>
                        <td style="font-size:13px;line-height:0px;font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#595858;  font-weight:normal; vertical-align:top;">
                            @*<p style="font-size:20px;  color:#373737;font-weight: bold;float:left">JOB SUMMARY DETAILS </p>
                            <p style ="font-size:20px;  color:#373737;font-weight: bold;float:right">@Model.BasicDetails.RefNumber</p>*@
                            <span style="font-size:20px;  color:#373737;font-weight: bold;float:left">JOB SUMMARY DETAILS</span>
                            <span style="font-size:20px;  color:#373737;font-weight: bold;float:right">@Model.BasicDetails.RefNumber</span>
                        </td>
                    </tr>
                </table>

                <table border="0" cellpadding="5" cellspacing="0" align="center" bgcolor="#f8f8f8" style="width:100%; background-color:#f8f8f8;border:1px solid #e6e6e6;">
                    <tr>
                        <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#595858;  font-weight:normal; vertical-align:top;">
                            @Model.JobOwnerDetails.Fullname, @Model.JobInstallationDetails.AddressDisplay  <br />
                            <b>System Size: </b> @Model.JobSystemDetails.SystemSize | <b> STC value: </b> @Model.JobSystemDetails.CalculatedSTC <br />
                            Job Sent from @Model.BasicDetails.CompanyName | @Model.BasicDetails.CompanyUserName @Model.BasicDetails.SolarCompanyPhone | @Model.BasicDetails.SolarCompanyMobile
                        </td>
                        <td width="100px" bgcolor="#ffffff" style="background-color:#ffffff;"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td height="15"></td>
        </tr>
        <!-- ======================================================================================== -->
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                    <tr>
                        <!-- left -->
                        <td width="388" style="vertical-align: top;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">

                                <!-- =Basic Details================================ -->
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:100%; border:1px solid #e6e6e6;">
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="5" cellspacing="0" align="center" bgcolor="#e9e9e9" style="width:100%; background-color:#e9e9e9;">
                                                        <tr>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:bold; text-transform:uppercase;">Basic Details</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="3" cellspacing="0" align="center" style="width:100%;">
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Job Type</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*PVD*@
                                                                @((FormBot.Helper.SystemEnums.JobType)(Convert.ToInt32(Model.BasicDetails.JobType)))
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Reference Number</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*S1215*@
                                                                @Model.BasicDetails.RefNumber
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Job Stage</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*New Installation*@
                                                                @Model.BasicDetails.StageName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Installation Date</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*11/02/2017*@
                                                                @Convert.ToDateTime(Model.BasicDetails.InstallationDate).ToShortDateString()
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>


                                <tr>
                                    <td height="10"></td>
                                </tr>

                                <!-- =Description=========================== -->
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:100%; border:1px solid #e6e6e6;">
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="5" cellspacing="0" align="center" bgcolor="#e9e9e9" style="width:100%; background-color:#e9e9e9;">
                                                        <tr>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:bold; text-transform:uppercase;">Job Description</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="3" cellspacing="0" align="center" style="width:100%;">
                                                        <tr>
                                                            <td collection="2" width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @Model.BasicDetails.Description
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="10"></td>
                                </tr>

                                <!-- ===================== -->

                                <!-- ==Owner Details================================= -->
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:100%; border:1px solid #e6e6e6;">
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="5" cellspacing="0" align="center" bgcolor="#e9e9e9" style="width:100%; background-color:#e9e9e9;">
                                                        <tr>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:bold; text-transform:uppercase;">
                                                                Owner Details
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="3" cellspacing="0" align="center" style="width:100%;">
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Owner Name</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Evelyn Johnson*@
                                                                @Model.JobOwnerDetails.Fullname
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Contact Number</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*0395966561*@
                                                                @Model.JobOwnerDetails.Phone
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Job Mobile</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*0411000000*@
                                                                @Model.JobOwnerDetails.Mobile
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Email</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*eJon@hotmail.com*@
                                                                @Model.JobOwnerDetails.Email
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="10"></td>
                                </tr>
                                <!-- =Installation Details=========================== -->
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:100%; border:1px solid #e6e6e6;">
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="5" cellspacing="0" align="center" bgcolor="#e9e9e9" style="width:100%; background-color:#e9e9e9;">
                                                        <tr>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:bold; text-transform:uppercase;">Installation Details</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="3" cellspacing="0" align="center" style="width:100%;">
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Address</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Block 12/1 Secondary Street,EAST MELBOURNE VIC 3002*@
                                                                @Model.JobInstallationDetails.AddressDisplay
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">NMI</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*5461532132132*@
                                                                @Model.JobInstallationDetails.NMI
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Meter Number</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*56468132156*@
                                                                @Model.JobInstallationDetails.MeterNumber
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Electricity Provider</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Energy Australia*@
                                                                @Model.JobInstallationDetails.ElectricityProvider
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Distributor</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*SP AUSNET`*@
                                                                @Model.JobInstallationDetails.DistributorName
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="10"></td>
                                </tr>
                                <!-- =Installer Details=========================== -->
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:100%; border:1px solid #e6e6e6;">
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="5" cellspacing="0" align="center" bgcolor="#e9e9e9" style="width:100%; background-color:#e9e9e9;">
                                                        <tr>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:bold; text-transform:uppercase;">Installer Details</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="3" cellspacing="0" align="center" style="width:100%;">
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Installer</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Mahmoud Khan*@
                                                                @Model.BasicDetails.installerName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Designer</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Mahmoud Khan*@
                                                                @Model.BasicDetails.designerName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Electrician</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Mahmoud Khan*@
                                                                @Model.BasicDetails.electricianName
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>


                                <tr>
                                    <td height="10"></td>
                                </tr>

                                <!-- =Additional Installation Information=========================== -->
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:100%; border:1px solid #e6e6e6;">
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="5" cellspacing="0" align="center" bgcolor="#e9e9e9" style="width:100%; background-color:#e9e9e9;">
                                                        <tr>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:bold; text-transform:uppercase;">Additional Installation Information</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="3" cellspacing="0" align="center" style="width:100%;">
                                                        <tr>
                                                            <td collection="2" width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Brackets and tilts required for installation. Don’t forget from warehouse*@
                                                                @Model.JobInstallationDetails.AdditionalInstallationInformation
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- ===================== -->

                            </table>
                        </td>
                        <td width="10"></td>
                        <!-- right -->
                        <td width="388" align="right" style="vertical-align: top;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                <!-- =map=========================== -->
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:100%; border:1px solid #e6e6e6;">
                                            <tr>
                                                <td>
                                                    @*<iframe id="iframeMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.957880103107!2d77.43984771483767!3d13.10185489077054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae245c1300095b%3A0x82ea4bd765e7c585!2sTata+Value+Homes+New+Haven!5e0!3m2!1sen!2sin!4v1491912753254" frameborder="0" style="border:0;  width:488px; height:400px; " allowfullscreen></iframe>*@
                                                    <img id="imgMAp" style="display:none" />
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="10"></td>
                                </tr>
                                <!-- =System Details=========================== -->
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:100%; border:1px solid #e6e6e6;">
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="5" cellspacing="0" align="center" bgcolor="#e9e9e9" style="width:100%; background-color:#e9e9e9;">
                                                        <tr>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:bold; text-transform:uppercase;">System Details</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="3" cellspacing="0" align="center" style="width:100%;">
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">System Size</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*5.2kW*@
                                                                @Model.JobSystemDetails.SystemSize
                                                            </td>
                                                        </tr>

                                                        @for (int i = 0; i < Model.lstJobPanelDetails.Count; i++)
                                                        {
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Panel Brand</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Hanover GmbH, Jinko*@
                                                                @Model.lstJobPanelDetails[i].Brand
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Panel Model</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*HS255P-60, JKM250p*@
                                                                @Model.lstJobPanelDetails[i].Model
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Total Number of Panels</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*20*@
                                                                @Model.lstJobPanelDetails[i].NoOfPanel
                                                            </td>
                                                        </tr>
                                                        }

                                                        @for (int i = 0; i < Model.lstJobInverterDetails.Count; i++)
                                                        {
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Inverter Brand</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Shenzhou Growatt New Technology Co Ltd*@
                                                                @Model.lstJobInverterDetails[i].Brand
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Inverter Series</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Growatt*@
                                                                @Model.lstJobInverterDetails[i].Series
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Inverter Model</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Sungrow 5000MTL*@
                                                                @Model.lstJobInverterDetails[i].Model
                                                            </td>
                                                        </tr>
                                                        }

                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="10"></td>
                                </tr>

                                <!-- =Installer Details=========================== -->
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:100%; border:1px solid #e6e6e6;">
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="5" cellspacing="0" align="center" bgcolor="#e9e9e9" style="width:100%; background-color:#e9e9e9;">
                                                        <tr>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:bold; text-transform:uppercase;">Scheduling</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="3" cellspacing="0" align="center" style="width:100%;">
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Electrician</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Mahmoud Khan*@
                                                                @Model.JobScheduling.SESCName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Scheduled date</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*11/02/2017*@
                                                                @Convert.ToDateTime(Model.JobScheduling.visitStartDate).ToShortDateString()
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">Visit Label</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Install 5Kw System and Metering*@
                                                                @Model.JobScheduling.Label
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td width="140" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;vertical-align:top; ">Visit Details</td>
                                                            <td width="5" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal; vertical-align:top;">:</td>
                                                            <td style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#373737;  font-weight:normal;">
                                                                @*Can you please install on the left hand side of the property. South Side. -Vox*@
                                                                @Model.JobScheduling.Detail
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- ===================== -->

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="10"></td>
                    </tr>

                </table>
            </td>
        </tr>

        <!-- ======================================================================================== -->
        <tr>
            <td>
                <table border="0" cellpadding="3" cellspacing="0" align="center" bgcolor="#f8f8f8" style="width:100%; background-color:#f8f8f8;border:1px solid #e6e6e6;">
                    <tr>
                        <td colspan="4" style="font-size:13px;line-height:20px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#595858;  font-weight:normal; vertical-align:top;">

                            <span style="font-size:13px;  color:#373737;font-weight: bold;float:left">BALANCE PAYMENT AMOUNT: $@Model.BasicDetails.RemainingAmount</span>
                            <span style="font-size:13px;  color:#373737;font-weight: bold;float:right">
                                PAYMENT METHOD: &nbsp;&nbsp;CASH<input style="width:17px;height:17px;vertical-align:top" type="checkbox" name="PaymentType" value="CASH" /> &nbsp;&nbsp;CHEQUE<input style="width:17px;height:17px;vertical-align:top" type="checkbox" name="PaymentType" value="CHEQUE" />&nbsp;&nbsp;EFT<input style="width:17px;height:17px;vertical-align:top" type="checkbox" name="PaymentType" value="EFT" />&nbsp;&nbsp;CREDIT<input style="width:17px;height:17px;vertical-align:top" type="checkbox" name="PaymentType" value="CREDIT" />
                            </span>
                            <span align="justify" style="float:left;width:100%;text-align:justify">
                                I acknowledge that it is my responsibility to collect outstanding balance payment from the customer at the time of installation. If customer is paying by Cheque I will collect bank cheque. In case of credit card payment, I will ring office to process the payment and if it is EFT, I will collect receipt of fund transfer. I understand that I will be liable for any loss to the company (failure to collect payments) in case, a job is installed without collecting payment.
                            </span>

                            @*<p style="font-size:13px;  color:#373737;font-weight: bold;float:left">BALANCE PAYMENT AMOUNT: $@Model.BasicDetails.RemainingAmount</p>
                            <p style="font-size:13px;  color:#373737;font-weight: bold;float:right">
                                PAYMENT METHOD: &nbsp;&nbsp;CASH<input style="width:17px;height:17px;vertical-align:top" type="checkbox" name="PaymentType" value="CASH" /> &nbsp;&nbsp;CHEQUE<input style="width:17px;height:17px;vertical-align:top" type="checkbox" name="PaymentType" value="CHEQUE" />&nbsp;&nbsp;EFT<input style="width:17px;height:17px;vertical-align:top" type="checkbox" name="PaymentType" value="EFT" />&nbsp;&nbsp;CREDIT<input style="width:17px;height:17px;vertical-align:top" type="checkbox" name="PaymentType" value="CREDIT" />
                            </p>

                            <p align="justify" style="float:left;width:100%">
                                I acknowledge that it is my responsibility to collect outstanding balance payment from the customer at the time of installation. If customer is paying by Cheque I will collect bank cheque. In case of credit card payment, I will ring office to process the payment and if it is EFT, I will collect receipt of fund transfer. I understand that I will be liable for any loss to the company (failure to collect payments) in case, a job is installed without collecting payment.
                            </p>*@
                        </td>
                    </tr>
                    <tr>
                        <td style="float:left;width:36%">
                            &nbsp;
                        </td>
                        <td style="float:left;width:20%;font-size:13px;line-height:0px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#595858;  font-weight:normal; vertical-align:top;">
                            @*<span style="float:left">_____________________</span>*@
                            <hr />
                            <br /><span style="float:right;font-size:10px;">INSTALLER SIGNATURE</span>
                        </td>
                        <td style="float:left;width:30%;font-size:13px;line-height:0px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#595858;  font-weight:normal; vertical-align:top;">
                            @*<span style="float:left">_________________________________</span>*@
                            <hr />
                            <br /><span style="float:right;font-size:10px;">PRINT NAME</span>
                        </td>
                        <td style="float:left;width:10%;font-size:13px;line-height:0px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; color:#595858;  font-weight:normal; vertical-align:top;">
                           @*<span style="float:left">_________________</span>*@
                            <hr />
                            <br /><span style="float:right;font-size:10px;">DATE</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {
        var img1 = document.querySelector('#imgMAp');

        @*var src = '@FormBot.Helper.ProjectSession.JobStaticMapKeyUrl' + '@Model.JobInstallationDetails.AddressDisplay' + "&amp;&size=388x300&amp;&key=" + "@FormBot.Helper.ProjectSession.mapKey" + "&markers=" + '@Model.JobInstallationDetails.AddressDisplay'; // + '@FormBot.Helper.ProjectSession.mapKey';
        $("#imgMAp").attr("src", src);*@

        var src = '@FormBot.Helper.ProjectSession.JobStaticMapKeyUrl' + '&center=' + '@Model.JobInstallationDetails.AddressDisplay' + '&size=488x400' + '&markers=' + '@Model.JobInstallationDetails.AddressDisplay';
        $("#imgMAp").attr("src", src);

        if (img1.complete) {
            loaded();
        }
        else {
            img1.addEventListener('load', loaded);
        }

        img1.addEventListener('error', function () {
            alert('Failed to load map');
        });

    });

    function loaded() {
        $("#imgMAp").show();
        $("#imgMAp").css("width", '100%');
        $("#imgMAp").css("height", '300px;');

    }


</script>
