@model FormBot.Entity.CreateJob
@using FormBot.Helper;
@using System.Web.Script.Serialization;

@{
    ////Todo

    IEnumerable<FormBot.Entity.CreateJob> users = new List<FormBot.Entity.CreateJob>();
    ViewBag.OwnerCompany = new SelectList(users, string.Empty, string.Empty);
}

<style type="text/css">
    .calculus-input {
        max-width: 200px;
        position: relative;
        display: inline-block;
    }

        .calculus-input .input-group-addon {
            padding: 8px;
            width: auto;
            position: absolute;
            right: 0;
            top: 0;
        }

    .job-com-box {
        padding: 30px !important;
    }

    .system-title {
        font-size: 16px !important;
        color: #222 !important;
        display: inline-block;
        vertical-align: middle;
        font-weight: 400 !important;
        font-family: OpenSansSemibold !important;
        text-transform: uppercase;
    }
</style>

<script type="text/javascript">
    var panelBrandList = [];
    var panelModelList = [];
    var PanelXml = [];
    var OldPanelXml = [];
    var OldInverterXml = [];
    var InverterXml = [];
    var inverterBrandList = [];
    var inverterSeriesList = [];
    var inverterModelList = [];
    var systemBrandList = [];
    var systemModelList = [];
    var systemXml = [];
    var batteryManufacturerList = [];
    var batteryModelList = [];
    var batteryXml = [];
    var BasicDetails_JobType = @Model.BasicDetails.JobType,
        ProjectConfiguration_GetDateFormat = '@ProjectConfiguration.GetDateFormat',
        urlCalculateSTC = '@Url.Action("CalculateSTC", "Job")',
        urlCalculateSWHSTC = '@Url.Action("CalculateSWHSTC", "Job")',
        urlGetPanelBrand = '@Url.Action("GetPanelBrand", "Job")?Mode=',
        urlGetPanelModel = '@Url.Action("GetPanelModel", "Job")?Mode=',
        urlGetInverterModel = '@Url.Action("GetInverterModel", "Job")?Mode=Series&Search=',
        urlGetInverterSeries = '@Url.Action("GetInverterSeries", "Job")?Mode=Model&Search=',
        urlGetInverterBrand = '@Url.Action("GetInverterBrand", "Job")?Mode=Manufacturer&Search=';
    urlGetBatteryManufacturer = '@Url.Action("GetBatteryManufacturer", "Job")';
    urlGetBatteryModel = '@Url.Action("GetBatteryModel", "Job")?manufacturer=';
    urlgetStartEndDateForPanel = '@Url.Action("GetStartEndDateForPanel","Job")';
     urlgetStartEndDateForInverter = '@Url.Action("GetStartEndDateForInverter", "Job")';
    urlgetStartEndDateForSWHBrandModel = '@Url.Action("GetStartEndDateForSWHBrandModel", "Job")';
    var modelBasicJobType = '@Model.BasicDetails.JobType';
    var modelSTCVolumetricCapacity = '@Model.JobSTCDetails.VolumetricCapacity';
    var modelBasicInstallerID = '@Model.BasicDetails.InstallerID';
    var jobId = '@Model.BasicDetails.JobID';
    var urlGetSupplierByManufacturer = '@Url.Action("GetSupplierByManufacturer", "Job")';
    var JOBType = '@Model.BasicDetails.JobType';
    var USERType = '@Model.UserType';
    var closeButton = '<button type="button" class="close" onclick="$(this).parent().hide();" aria-hidden="true">&times;</button>';
    if (InstallationPostcodeFromjson == undefined ||InstallationPostcodeFromjson == '') {
        InstallationPostcodeFromjson = '@Model.JobInstallationDetails.PostCode';
    }

    if ($("#JobSTCDetails_batterySystemPartOfAnAggregatedControl").val() != undefined && $("#JobSTCDetails_batterySystemPartOfAnAggregatedControl").val() != '') {
        batterySystemPartOfAnAggregatedControl_Glbl = $("#JobSTCDetails_batterySystemPartOfAnAggregatedControl").val();
    }
    else {
        batterySystemPartOfAnAggregatedControl_Glbl = '@Model.JobSTCDetails.batterySystemPartOfAnAggregatedControl';
    }

    if ($("#JobSTCDetails_changedSettingOfBatteryStorageSystem").val() != undefined && $("#JobSTCDetails_changedSettingOfBatteryStorageSystem").val() != '') {
        changedSettingOfBatteryStorageSystem_Glbl = $("#JobSTCDetails_changedSettingOfBatteryStorageSystem").val();
    }
    else {
        changedSettingOfBatteryStorageSystem_Glbl = '@Model.JobSTCDetails.changedSettingOfBatteryStorageSystem';
    }
</script>
@*<script src="~/Scripts/View/Job/_JobSystemDetailsTabular.dev.js"></script>*@
<script src="~/Scripts/View/Job/_JobSystemDetailsTabular.min.js"></script>
<script>
    $(document).ready(function () {
        ShowHideSWHPVDField();

        /* In original tab it was loaded after job save*/
    });
    function ShowHideSWHPVDField() {
        //PVD job
        if (modelBasicJobType == '1') {
            $(".gridPVD").show();
            $(".gridSWH").hide();
            FillDropDownOfPanelBrandModel();
            FillDropDownOfInverterBrandModel();
            FillDropDownOfBatteryManufacturerModel();
            $("#TypeOfConnection,#JobSTCDetails_TypeOfConnection,#SystemMountingType,#JobSTCDetails_SystemMountingType").show();
            $("#DeemingPeriod,#JobSTCDetails_DeemingPeriod,#InstallerID,#BasicDetails_InstallerID,#DesignerID,#BasicDetails_DesignerID").show();
            $("#NMI,#JobInstallationDetails_NMI,#InstallingNewPanel,#InstallingNewPanel,#InstallingNewPanel,#JobInstallationDetails_InstallingNewPanel,#MeterNumber,#JobInstallationDetails_MeterNumber,#PhaseProperty,#JobInstallationDetails_PhaseProperty,#ElectricityProviderID,#JobInstallationDetails_ElectricityProviderID,#ExistingSystem1,#JobInstallationDetails_ExistingSystem").show();
            $(".lblPVD").show();
            $("#ExistingSystem1,#JobInstallationDetails_ExistingSystem,#ExistingSystem").show();
            $('.addInfo').removeClass('col-md-12');
            $('.addInfo').addClass('col-md-6');
            $("#MultipleSGUAddress").html("Is there more than one SGU at this address?:");
            $("#CertificateCreated").html("Are you creating certificates for a system that has previously been failed by the Clean Energy Regulator?:");
            $("#divVolumetricCapacity").hide();
            $("#divStatutoryToStringoStringringtringclarations").hide();
            $("#divSecondhandWaterHeater").hide();
            var insatallerid = modelBasicInstallerID || 0;
            var eleParam = [{ JobID: $("#BasicDetails_JobID").val(), solarCompanyId: $("#BasicDetails_SolarCompanyId").val() }];
            var installerParam = [{ isInstaller: true, existUserId: insatallerid, solarCompanyId: $("#BasicDetails_SolarCompanyId").val(), jobId: jobId }];
            dropDownData.push({ id: 'JobElectricians_InstallerID', key: "", value: insatallerid, hasSelect: true, callback: null, defaultText: null, proc: 'InstallerDesignerEle', param: installerParam, bText: 'Text', bValue: 'Value' });
            $("#jobSSCID").show();
        }
        //SWH job
        else if (modelBasicJobType == '2') {
            $(".gridSWH").show();
            $(".gridPVD").hide();
            FillDropDownOfSystemBrandModel();
            $("#TypeOfConnection,#JobSTCDetails_TypeOfConnection,#SystemMountingType,#JobSTCDetails_SystemMountingType").hide();
            $("#DeemingPeriod,#JobSTCDetails_DeemingPeriod,#InstallerID,#BasicDetails_InstallerID,#DesignerID,#BasicDetails_DesignerID").hide();
            $("#NMI,#JobInstallationDetails_NMI,#InstallingNewPanel,#InstallingNewPanel,#InstallingNewPanel,#JobInstallationDetails_InstallingNewPanel,#MeterNumber,#JobInstallationDetails_MeterNumber,#PhaseProperty,#JobInstallationDetails_PhaseProperty,#ElectricityProviderID,#JobInstallationDetails_ElectricityProviderID,#ExistingSystem1,#JobInstallationDetails_ExistingSystem,#ExistingSystem").hide();
            $(".lblPVD").hide();
            $("#ExistingSystem1,#JobInstallationDetails_ExistingSystem,#ExistingSystem").hide();
            $('.addInfo').removeClass('col-md-6');
            $('.addInfo').addClass('col-md-12');
            $("#MultipleSGUAddress").html("Is there more than one SWH/ASHP at this address:");
            $("#CertificateCreated").html("Creating certificates for previously failed SWH:");
            $("#divVolumetricCapacity").show();
            if (modelSTCVolumetricCapacity == 'Yes') {
                $("#divStatutoryDeclarations").show();
            }
            $("#divSecondhandWaterHeater").show();
            $("#jobSSCID").hide();
        }
    }


    $("#JobSTCDetails_batterySystemPartOfAnAggregatedControl").change(function (e) {
        batterySystemPartOfAnAggregatedControl_Glbl = $("#JobSTCDetails_batterySystemPartOfAnAggregatedControl").val();
    });

    $("#JobSTCDetails_changedSettingOfBatteryStorageSystem").change(function (e) {
        changedSettingOfBatteryStorageSystem_Glbl = $("#JobSTCDetails_changedSettingOfBatteryStorageSystem").val();
    });

</script>

@Html.Hidden("OldPanelDetails")
@Html.Hidden("NewPanelDetails")
@Html.Hidden("OldInverterDetails")
@Html.Hidden("NewInverterDetails")
@Html.Hidden("NewInverterDetails")

<form id="frmSystemDetail">
    @Html.HiddenFor(m => m.JobSystemDetails.jobTypeTab)
    @Html.HiddenFor(m => m.JobSystemDetails.JobID)
    <div class="installer-details">
        <div class="row">
            <div class="sub-title">
                <h4>System Details</h4>
            </div>
            <div class="col-md-4">
                <div class="details-block details-mag-0">
                    <p class="form-inline gridPVD">
                        <label>System Size (KW) : </label>
                        @Html.Hidden("OldSystemSize", Model.JobSystemDetails.SystemSize)
                        @Html.TextBoxFor(m => m.JobSystemDetails.SystemSize, new { @class = "form-control ", @maxlength = 7, @onkeypress = "return isDecimal(event,10,3,this);" })
                    </p>
                    <div class="form-inline gridPVD">
                        <label>STC Value :</label>
                        @Html.Hidden("OldStcValue", Model.JobSystemDetails.CalculatedSTC)
                        <div class="calculus-input">
                            @Html.TextBoxFor(m => m.JobSystemDetails.CalculatedSTC, new { @class = "form-control " })
                            <span class="input-group-addon">
                                <a id="btnCalculatedSTC" onclick="CalculateSTC()" style="cursor:pointer" class="ic-calculator sprite-img"></a>
                            </span>
                        </div>
                    </div>
                    <p class="gridPVD"><span id="spanJobSystemDetails_CalculatedSTC" class="" style="color: #b94a48;display:none"></span></p>
                    <div class="form-inline gridSWH">
                        <label>STC Value :</label>
                        <div class="calculus-input">
                            @Html.TextBoxFor(m => m.JobSystemDetails.CalculatedSTCForSWH, new { @class = "form-control " })
                            @*<span class="input-group-addon"><button type="button" id="btnCalculatedSTC" onclick="CalculateSTC()" >
                                    <img src='@Url.Content("~/images/ic-calculator.png")' alt="" title="Calculate STC"></button>
                                </span>*@
                            <span class="input-group-addon">
                                <a id="btnCalculatedSTC" onclick="CalculateSTC()" style="cursor:pointer" class="ic-calculator sprite-img"></a>
                            </span>
                        </div>
                    </div>
                    <p class="gridSWH"><span id="spanJobSystemDetails_CalculatedSTCForSWH" class="" style="color: #b94a48;display:none"></span></p>

                    <p><strong>Total Panels :</strong> <span id="JobSystemDetails_NoOfPanel">@Model.JobSystemDetails.NoOfPanel</span> </p>
                    <span id="JobSystemDetails_NoOfInverter" hidden>@Model.JobSystemDetails.NoOfInverter</span>
                    @*@if (Model.UserType != 2 && Model.UserType != 5)
                        {*@
                    <p class="btn-group">
                        <button type="button" class="btn primary icon-btn gridSWH" id="btnSystemBrandAdd">
                            <span class="sprite-img add_ic"></span> Add System Brand
                        </button>
                        @*<button type="button" class="btn primary icon-btn gridPVD" id="btnBatteryManufactureAdd">
                                <span class="sprite-img add_ic"></span> Add Battery Manufacturer
                            </button>
                            <button type="button" class="btn primary icon-btn gridPVD" id="btnInverterBrandAdd">
                                <span class="sprite-img add_ic"></span> Add Inverter Brand
                            </button>
                            <button type="button" class="btn primary icon-btn gridPVD" id="btnPanelBrandadd">
                                <span class="sprite-img add_ic"></span> Add Panel Brand
                            </button>*@
                    </p>
                    @*}*@
                </div>
            </div>
            <div class="col-md-8">
                <div id="grid">
                    <div class="system-title" style="font-size: 16px !important; color: #222 !important; font-weight: 400 !important; font-family: OpenSansSemibold !important; padding-top: 1%; padding-bottom: 1%">
                        <h4>Solar Panels</h4>
                    </div>
                    <div class="table-responsive gridPVD">
                        <table id="Paneldatatable" class="table table-hover">
                            <thead>
                                @if (Model.BasicDetails.JobID != 0)
                                {
                                    <tr>
                                        <th width="40%">@Html.DisplayName("Brand")</th>
                                        <th width="40%">@Html.DisplayName("Model")</th>
                                        <th width="7%">@Html.DisplayName("ApprovedDate")</th>
                                        <th width="7%">@Html.DisplayName("ExpiryDate")</th>
                                        <th width="7%">#</th>
                                        @if (Model.UserType == 4 || Model.UserType == 8 || Model.UserType == 3 || Model.UserType == 1 || Model.UserType == 2 || Model.UserType == 5)
                                        {
                                            <th class="action" id="tdAction" width="15%">@Html.DisplayName("Action")</th>
                                        }
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <th width="40%">@Html.DisplayName("Brand")</th>
                                        <th width="40%">@Html.DisplayName("Model")</th>
                                        <th width="7%">@Html.DisplayName("ApprovedDate")</th>
                                        <th width="7%">@Html.DisplayName("ExpiryDate")</th>
                                        <th width="7%">#</th>
                                        <th class="action" id="tdAction" width="15%">@Html.DisplayName("Action")</th>
                                    </tr>
                                }
                            </thead>
                            <tbody id="tblPanel">
                                @if (Model.BasicDetails.JobID != 0)
                                {
                                    if (Model.lstJobPanelDetails != null)
                                    {
                                        foreach (var lstUserDocument in Model.lstJobPanelDetails)
                                        {
                                            <tr id=@lstUserDocument.JobPanelID>
                                                <td class="@lstUserDocument.Brand" width="40%" style="text-align:left">@lstUserDocument.Brand</td>
                                                <td class="@lstUserDocument.Model" width="40%">@lstUserDocument.Model</td>
                                                <td class="@lstUserDocument.CECApprovedDate" width="7%">@lstUserDocument.CECApprovedDate</td>
                                                <td class="@lstUserDocument.ExpiryDate" width="7%">@lstUserDocument.ExpiryDate</td>
                                                <td class="@lstUserDocument.NoOfPanel" width="7%">@lstUserDocument.NoOfPanel</td>
                                                @if (Model.UserType == 4 || Model.UserType == 8 || Model.UserType == 3 || Model.UserType == 1 || Model.UserType == 2 || Model.UserType == 5)
                                                {
                                                    <td class="action" id="tdAction" width="15%" data-supplier="@lstUserDocument.Supplier" rowid="@lstUserDocument.JobPanelID">
                                                        <a class="edit sprite-img" title="Edit" id="signEdit" href="javascript:void(0)" style="cursor: pointer" onclick="editPanel(@lstUserDocument.JobPanelID)"></a>&nbsp;&nbsp;
                                                        <a class="delete sprite-img" title="Delete" id="signDelete" style="cursor: pointer" onclick="DeletePanelFromGrid(@lstUserDocument.JobPanelID)"></a>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <button type="button" class="btn primary icon-btn gridPVD" id="btnPanelBrandadd">
                            <span class="sprite-img add_ic"></span> Add Panel Brand
                        </button>
                    </div>
                    <div class="system-title" style="font-size: 16px !important; color: #222 !important; font-weight: 400 !important; font-family: OpenSansSemibold !important; padding-top: 1%; padding-bottom: 1% ">
                        <h4>Inverters</h4>
                    </div>
                    <div class="table-responsive gridPVD">
                        <table id="Inverterdatatable" class="table table-hover">
                            <thead>
                                @if (Model.BasicDetails.JobID != 0)
                                {
                                    <tr>
                                        <th width="30%">@Html.DisplayName("Brand")</th>
                                        <th width="28%">@Html.DisplayName("Series")</th>
                                        <th width="28%">@Html.DisplayName("Model")</th>
                                        <th width="5%">@Html.DisplayName("ApprovedDate")</th>
                                        <th width="5%">@Html.DisplayName("ExpiryDate")</th>
                                        <th width="5%">@Html.DisplayName("#")</th>
                                        @if (Model.UserType == 4 || Model.UserType == 8 || Model.UserType == 3 || Model.UserType == 1 || Model.UserType == 2 || Model.UserType == 5)
                                        {
                                            <th class="action" id="tdAction" width="5%">@Html.DisplayName("Action")</th>
                                        }
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <th width="30%">@Html.DisplayName("Brand")</th>
                                        <th width="28%">@Html.DisplayName("Series")</th>
                                        <th width="28%">@Html.DisplayName("Model")</th>
                                        <th width="5%">@Html.DisplayName("ApprovedDate")</th>
                                        <th width="5%">@Html.DisplayName("ExpiryDate")</th>
                                        <th width="5%">@Html.DisplayName("#")</th>
                                        <th class="action" id="tdAction" width="5%">@Html.DisplayName("Action")</th>
                                    </tr>
                                }
                            </thead>
                            <tbody id="tblInverter">
                                @if (Model.BasicDetails.JobID != 0)
                                {
                                    if (Model.lstJobInverterDetails != null)
                                    {
                                        foreach (var lstJobInverterDetails in Model.lstJobInverterDetails)
                                        {
                                            <tr id=@lstJobInverterDetails.JobInverterID>
                                                <td class="@lstJobInverterDetails.Brand" width="30%" style="text-align:left">@lstJobInverterDetails.Brand</td>
                                                <td class="@lstJobInverterDetails.Series" width="28%">@lstJobInverterDetails.Series</td>
                                                <td class="@lstJobInverterDetails.Model" width="28%">@lstJobInverterDetails.Model</td>
                                                <td class="@lstJobInverterDetails.CECApprovedDate" width="5%">@lstJobInverterDetails.CECApprovedDate</td>
                                                <td class="@lstJobInverterDetails.ExpiryDate" width="5%">@lstJobInverterDetails.ExpiryDate</td>
                                                <td class="@lstJobInverterDetails.NoOfInverter" width="5%">@lstJobInverterDetails.NoOfInverter</td>
                                                @if (Model.UserType == 4 || Model.UserType == 8 || Model.UserType == 3 || Model.UserType == 1 || Model.UserType == 2 || Model.UserType == 5)
                                                {
                                                    <td class="action" rowid=@lstJobInverterDetails.JobInverterID id="tdAction" width="5%">
                                                        <a class="edit sprite-img" title="Edit" id="signEdit" style="cursor: pointer" href="javascript:void(0)" onclick="editInverter(@lstJobInverterDetails.JobInverterID)"></a>&nbsp;&nbsp;
                                                        <a class="delete sprite-img" title="Delete" id="signDelete" style="cursor: pointer" onclick="DeleteInverterFromGrid(@lstJobInverterDetails.JobInverterID)"></a>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <button type="button" class="btn primary icon-btn gridPVD" id="btnInverterBrandAdd">
                            <span class="sprite-img add_ic"></span> Add Inverter Brand
                        </button>
                    </div>
                    <div class="system-title" style="font-size: 16px !important; color: #222 !important; font-weight: 400!important; font-family: OpenSansSemibold !important; padding-top: 1%; padding-bottom: 1% ">
                        <h4>Batteries</h4>
                    </div>
                    <div class="table-responsive gridPVD">
                        <table id="BatteryManufacturerdatatable" class="table table-hover">
                            <thead>
                                @if (Model.BasicDetails.JobID != 0)
                                {
                                    <tr>
                                        <th width="35%">@Html.DisplayName("Manufacturer")</th>
                                        <th width="25%">@Html.DisplayName("Model Number")</th>
                                        @if (Model.UserType == 4 || Model.UserType == 8 || Model.UserType == 3 || Model.UserType == 1 || Model.UserType == 2 || Model.UserType == 5)
                                        {
                                            <th class="action" id="tdAction" width="15%">@Html.DisplayName("Action")</th>
                                        }
                                    </tr>
                                }
                            </thead>
                            <tbody id="tblBatteryManufacturer">
                                @if (Model.BasicDetails.JobID != 0)
                                {
                                    if (Model.lstJobBatteryManufacturer != null)
                                    {
                                        foreach (var lstJobBattery in Model.lstJobBatteryManufacturer)
                                        {
                                            <tr id=@lstJobBattery.JobBatteryManufacturerId>
                                                <td class="@lstJobBattery.Manufacturer" width="35%" style="text-align:left">@lstJobBattery.Manufacturer</td>
                                                <td class="@lstJobBattery.ModelNumber" width="25%">@lstJobBattery.ModelNumber</td>
                                                @if (Model.UserType == 4 || Model.UserType == 8 || Model.UserType == 3 || Model.UserType == 1 || Model.UserType == 2 || Model.UserType == 5)
                                                {
                                                    <td class="action" rowid=@lstJobBattery.JobBatteryManufacturerId id="tdAction" width="15%">
                                                        <a class="edit sprite-img" title="Edit" id="signEdit" style="cursor: pointer" href="javascript:void(0)" onclick="editBatteryManufacturer(@lstJobBattery.JobBatteryManufacturerId)"></a>&nbsp;&nbsp;
                                                        <a class="delete sprite-img" title="Delete" id="signDelete" style="cursor: pointer" onclick="DeleteBatteryManufacturerFromGrid(@lstJobBattery.JobBatteryManufacturerId)"></a>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive gridSWH">
                        <table id="Systemdatatable" class="table table-hover">
                            <thead>
                                @if (Model.BasicDetails.JobID != 0)
                                {
                                    <tr>
                                        <th width="40%">@Html.DisplayName("Brand")</th>
                                        <th width="35%">@Html.DisplayName("Model")</th>
                                        <th width="10%">@Html.DisplayName("ApprovedDate")</th>
                                        <th width="10%">@Html.DisplayName("ExpiryDate")</th>
                                        <th width="10%">#</th>
                                        @if (Model.UserType == 4 || Model.UserType == 8 || Model.UserType == 3 || Model.UserType == 1 || Model.UserType == 2 || Model.UserType == 5)
                                        {
                                            <th class="action" id="tdAction" width="15%">@Html.DisplayName("Action")</th>
                                        }
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <th width="40%">@Html.DisplayName("Brand ")</th>
                                        <th width="35%">@Html.DisplayName("Model")</th>
                                        <th width="10%">@Html.DisplayName("ApprovedDate")</th>
                                        <th width="10%">@Html.DisplayName("ExpiryDate")</th>
                                        <th width="10%">#</th>
                                        <th class="action" id="tdAction" width="15%">@Html.DisplayName("Action")</th>
                                    </tr>
                                }
                            </thead>
                            <tbody id="tblSystem">
                                @if (Model.BasicDetails.JobID != 0)
                                {
                                    if (Model.lstJobPanelDetails != null)
                                    {
                                        foreach (var lstUserDocument in Model.lstJobPanelDetails)
                                        {
                                            <tr id=@lstUserDocument.JobPanelID>
                                                <td class="@lstUserDocument.Brand" width="40%" style="text-align:left">@lstUserDocument.Brand</td>
                                                <td class="@lstUserDocument.Model" width="35%">@lstUserDocument.Model</td>
                                                <td class="@lstUserDocument.CECApprovedDate" width="10%">@lstUserDocument.CECApprovedDate</td>
                                                <td class="@lstUserDocument.ExpiryDate" width="10%">@lstUserDocument.ExpiryDate</td>
                                                <td class="@lstUserDocument.NoOfPanel" width="10%">@lstUserDocument.NoOfPanel</td>
                                                @if (Model.UserType == 4 || Model.UserType == 8 || Model.UserType == 3 || Model.UserType == 1 || Model.UserType == 2 || Model.UserType == 5)
                                                {
                                                    <td class="action" rowid="@lstUserDocument.JobPanelID" data-supplier="@lstUserDocument.Supplier" id="tdAction" width="15%">
                                                        <a class="edit sprite-img" title="Edit" id="signEdit" href="javascript:void(0)" style="cursor: pointer" onclick="editSystem(@lstUserDocument.JobPanelID)"></a>&nbsp;&nbsp;
                                                        <a class="delete sprite-img" title="Delete" id="signDelete" style="cursor: pointer" onclick="DeleteSystemFromGrid(@lstUserDocument.JobPanelID)"></a>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <button type="button" class="btn primary icon-btn gridPVD" id="btnBatteryManufactureAdd">
                            <span class="sprite-img add_ic"></span> Add Battery Manufacturer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@*popup System brand*@
<div class="modal fade" id="popupboxSystemBrand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <input type="hidden" id="hdnSystemRowId" />

                    <button type="button" class="close sprite-img" aria-label="Close" id="btnClosepopupboxSystemBrand"></button>
                    <h4 class="modal-title" id="myModalLabel">System Brand</h4>
                </div>
                <div class="modal-body">


                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label" id="JobSystemDetailsSystemModel">System Model:</label>
                            <input type="hidden" id="hdnSystemModel" />
                            <input type="text" id="searchSystemModel" name="searchSystemModel" class="form-control" maxlength="50" />
                            <span id="spanJobSystemDetails_Model" style="color: #b94a48;display:none">System Model is required.</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label" id="JobSystemDetailsSystemBrand">System Brand:</label>
                            <input type="hidden" id="hdnSystemBrand" />
                            <input type="text" id="searchSystemBrand" name="searchSystemBrand" class="form-control" maxlength="50" disabled="disabled" />
                            <span id="spanJobSystemDetails_Brand" style="color: #b94a48;display:none">System Brand is required.</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 job-swhpanel-StartDate">
                        <div class="form-group">
                            <label class="control-label" id="SWHPanelStartDate">CECApprovedDate:</label>
                            <input type="text" id="txtSWHpanelStartDate" class="form-control" disabled />
                            <span id="spanJobSystemDetails_CECApprovedDate" style="color: #b94a48;display:none">CECApprovedDate is required.</span>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg- job-swhpanel-EndDate">
                        <div class="form-group">
                            <label class="control-label" id="SWHPanelEndDate">ExpiryDate:</label>
                            <input type="text" id="txtSWHpanelEndDate" class="form-control" disabled />
                            <span id="spanJobSystemDetails_ExpiryDate" style="color: #b94a48;display:none">ExpiryDate is required.</span>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label" id="JobSystemDetailsNumberOfPanel">Number Of Panel:</label>
                            @Html.TextBoxFor(m => m.JobSystemDetails.NoOfPanel, new { @id = "JobSystemDetails_NoOfPanel1", @class = "form-control", @data_val = "false", @maxlength = 5, @onkeypress = "return isNumber(event);", @tabindex = 72, @disabled = "disabled" })
                            <span id="spanJobSystemDetails_NoOfPanel" class="" style="color: #b94a48;display:none">Number Of Panel is required.</span>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn default icon-btn" id="resetSystemBrand"><span class="sprite-img reset_ic"></span>Reset</button>
                    <button type="button" class="btn primary icon-btn" id="btnAddSystem"><span class="sprite-img save_ic"></span>Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*popup Battery Manufacturer*@
<div class="modal fade" id="popupboxBatteryManufacturer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <input type="hidden" id="hdnBatteryManufacturerRowId" />

                    <button type="button" class="close sprite-img" aria-label="Close" id="btnClosepopupboxBatteryManufacturer"></button>
                    <h4 class="modal-title" id="myModalLabel">Battery Manufacturer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Manufacturer:</label>
                            <input type="hidden" id="hdnBatteryManufacturer" />
                            <input type="text" id="searchBatteryManufacturer" name="searchBatteryManufacturer" class="form-control" maxlength="200" />
                            <span id="spanJobBatteryManufacturer" style="color: #b94a48;display:none">Manufacturer is required.</span>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Model Number:</label>
                            <input type="hidden" id="hdnBatteryModelNumber" />
                            <input type="text" id="searchBatteryModelNumber" name="searchBatteryModelNumber" class="form-control" maxlength="200" disabled="disabled" />
                            <span id="spanJobBatteryModelNumber" style="color: #b94a48;display:none">Model Number is required.</span>
                        </div>
                    </div>

                    <div class="batteryManufacturerDetails">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.JobSTCDetails.batterySystemPartOfAnAggregatedControl, new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.JobSTCDetails.batterySystemPartOfAnAggregatedControl, new List<SelectListItem> { new SelectListItem() { Text = "Select", Value = "" }, new SelectListItem() { Text = "Yes", Value = "Yes" }, new SelectListItem() { Text = "No", Value = "No" } }, new { @class = "form-control", @tabindex = 66 })
                                <span id="spanBatterySystemPartOfAnAggregatedControl" style="color: #b94a48;display:none">Please select Yes or No.</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.JobSTCDetails.changedSettingOfBatteryStorageSystem, new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.JobSTCDetails.changedSettingOfBatteryStorageSystem, new List<SelectListItem> { new SelectListItem() { Text = "Select", Value = "" }, new SelectListItem() { Text = "Yes", Value = "Yes" }, new SelectListItem() { Text = "No", Value = "No" } }, new { @class = "form-control", @tabindex = 67 })
                                <span id="spanChangedSettingOfBatteryStorageSystem" style="color: #b94a48;display:none">Please select Yes or No.</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default icon-btn" id="resetBatteryManfacturer"><span class="sprite-img reset_ic"></span>Reset</button>
                    <button type="button" class="btn primary icon-btn" id="btnAddBatteryManfacturer"><span class="sprite-img save_ic"></span>Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*popup Inverter brand*@
<div class="modal fade" id="popupboxInverterBrand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <input type="hidden" id="hdnInverterRowId" />

                    <button type="button" class="close sprite-img" aria-label="Close" id="btnClosepopupboxInverterBrand"></button>
                    <h4 class="modal-title" id="myModalLabel">Inverter Brand</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Inverter Model:</label>
                            <input type="hidden" id="hdnInverterModel" />
                            <input type="text" id="searchInverterModel" name="searchInverterModel" class="form-control" maxlength="50" />
                            <span id="spanJobInverterDetails_Model" style="color: #b94a48;display:none">Inverter model is required.</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Inverter Brand:</label>
                            <input type="hidden" id="hdnInverterBrand" />
                            <input type="text" id="searchInverterBrand" name="searchInverterBrand" class="form-control" maxlength="50" disabled="disabled" />
                            <span id="spanJobInverterDetails_Brand" style="color: #b94a48;display:none">Inverter Brand is required.</span>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Inverter Series:</label>
                            <input type="hidden" id="hdnInverterSeries" />
                            <input type="text" id="searchInverterSeries" name="searchInverterSeries" class="form-control" maxlength="50" disabled="disabled" />
                            <span id="spanJobInverterDetails_Series" style="color: #b94a48;display:none">Inverter Series is required.</span>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-6 col-lg-6 job-inverter-StartDate">
                        <div class="form-group">
                            <label class="control-label" id="inverterStartDate">CECApprovedDate:</label>
                            <input type="text" id="txtInverterStartDate" class="form-control" disabled />
                            <span id="spanJobInverterDetails_CECApprovedDate" style="color: #b94a48;display:none">CECApprovedDate is required.</span>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg- job-inverter-EndDate">
                        <div class="form-group">
                            <label class="control-label" id="inverterEndDate">ExpiryDate:</label>
                            <input type="text" id="txtInverterEndDate" class="form-control" disabled />
                            <span id="spanJobInverterDetails_ExpiryDate" style="color: #b94a48;display:none">ExpiryDate is required.</span>

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">No of Inverter:</label>
                            <input type="text" id="searchInverterNumber" name="searchInverterNumber" class="form-control" maxlength="50" disabled="disabled" onkeypress="return isNumber(event);" />
                            <span id="spanNoOfInverterValue" class="" style="color: #b94a48;display:none">Number Of Inverter is between 1 to 10000</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default icon-btn" id="resetInverterBrand"><span class="sprite-img reset_ic"></span>Reset</button>
                    <button type="button" class="btn primary icon-btn" id="btnAddInverter"><span class="sprite-img save_ic"></span>Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*popup Panel brand*@
<div class="modal fade" id="popupboxPanelBrand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <input type="hidden" id="hdnPanelRowId" />

                    <button type="button" class="close sprite-img" aria-label="Close" id="btnClosepopupboxPanelBrand"></button>
                    <h4 class="modal-title" id="myModalLabel">Panel Brand</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label" id="JobSystemDetailsPanelModel">Panel Model:</label>
                            <input type="hidden" id="hdnPanelModel" />
                            <input type="text" id="searchPanelModel" name="searchPanelModel" class="form-control" maxlength="50" />
                            <span id="spanJobPanelDetails_Model" style="color: #b94a48;display:none">Panel Model is required.</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label" id="JobSystemDetailsPanelBrand">Panel Brand:</label>
                            <input type="hidden" id="hdnPanelBrand" />
                            <input type="text" id="searchPanelBrand" name="searchPanelBrand" disabled="disabled" class="form-control" maxlength="50" />
                            <span id="spanJobPanelDetails_Brand" style="color: #b94a48;display:none">Panel Brand is required.</span>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-12 col-lg-12 job-panel-supplier-popup-drpsupplier" style="display:none;">
                        <div class="form-group">
                            <label class="control-label" id="JobSystemDetailsSupllier">Supplier:</label>
                            <select id="drpSupplier" class="form-control" disabled></select>
                            <span id="spanJobPanelDetails_Supplier" style="color: #b94a48;display:none">Supplier is required.</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 job-panel-StartDate">
                        <div class="form-group">
                            <label class="control-label" id="PanelStartDate">CECApprovedDate:</label>
                            <input type="text" id="txtpanelStartDate" class="form-control" disabled />
                            <span id="spanJobPanelDetails_CECApprovedDate" style="color: #b94a48;display:none">CECApprovedDate is requires.</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg- job-panel-EndDate">
                        <div class="form-group">
                            <label class="control-label" id="PanelEndDate">ExpiryDate:</label>
                            <input type="text" id="txtpanelEndDate" class="form-control" disabled />
                            <span id="spanJobPanelDetails_ExpiryDate" style="color: #b94a48;display:none">ExpiryDate is requires.</span>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label" id="JobSystemDetailsNumberOfPanel">Number Of Panel:</label>
                            @Html.TextBoxFor(m => m.JobPanelDetails.NoOfPanel, new { @class = "form-control", @data_val = "false", @maxlength = 5, @onkeypress = "return isNumber(event);", @disabled = "disabled" })
                            <span id="spanJobPanelDetails_NoOfPanel" class="" style="color: #b94a48;display:none">Number Of Panel is required.</span>
                            <span id="spanNoOfPanelValue" class="" style="color: #b94a48;display:none">Number Of panel is between 1 to 10000</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default icon-btn" id="resetPanelBrand"><span class="sprite-img reset_ic"></span>Reset</button>
                    <button type="button" class="btn primary icon-btn" id="btnAddPanel"><span class="sprite-img save_ic"></span>Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
