@model FormBot.Entity.SolarElectricianView
@{
    ViewBag.Title = "Send Request";
    int temUserTypeId = FormBot.Helper.ProjectSession.UserTypeId;
    bool isActiveDiv = @Model.IsActiveDiv;
}

<div id="msgSection">
    @Html.RenderMessages()
</div>

@using (Html.BeginForm("SendRequest", "User", FormMethod.Post, new { id = "UserDetails" }))
{
    @Html.ValidationSummary(true)
    @*@Html.AntiForgeryToken()*@

    <div class="container-fluid">
        <div class="title">
            @if (Model.SendBy == 1)
            {
                <h1>Send Request By Solar Company</h1>
            }
            else
            {
                <h1>Send Request By Solar Sub Contractor</h1>
            }

            <a href="@Url.Action("RequestedSE", "User", new { Id = string.Empty })" title="Back" class="back-btn pull-right"><img src="~/Images/back-icon.png" alt="" />Back</a>
        </div>
        <div class="alert alert-danger alert-dismissible" role="alert" id="errorMsgRegion" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
        @if (isActiveDiv)
        {
            <div id="ValidationSummary" style="background-color: #f2dede; border-color: #ebccd1;color: #a94442;padding-right: 35px;border: 1px solid transparent;border-radius: 4px;margin-bottom: 20px;padding: 15px;" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <div>
                    <ul style="list-style:circle">
                        <li><b>@ViewBag.FieldList</b></li>
                        <li>@ViewBag.FirstName</li>
                        <li>@ViewBag.LastName</li>
                        <li>@ViewBag.Email</li>
                        <li>@ViewBag.PostalType</li>
                        <li>@ViewBag.PostalNumber</li>
                        <li>@ViewBag.UnitType</li>
                        <li>@ViewBag.UnitNumber</li>
                        <li>@ViewBag.StreetNumber</li>
                        <li>@ViewBag.StreetName</li>
                        <li>@ViewBag.StreetType</li>
                        <li>@ViewBag.StateName</li>
                        <li>@ViewBag.PostCode</li>
                        <li>@ViewBag.AccreditationNumber</li>
                        <li>@ViewBag.CECAccreditationNumber</li>
                        <li>@ViewBag.LicensedNumber</li>
                        <li>@ViewBag.CECDesignerNumber</li>
                        <li>@ViewBag.SEDesignRole</li>
                    </ul>
                </div>
            </div>
        }
        @Html.Partial("_SendRequestDetails", Model)
    </div>
}
@section Scripts
    {
    @*<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script src="~/Scripts/jquery-1.11.0.min.js"></script>
        <link href="~/Content/jquery-ui.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/jquery-ui-1.0.js"></script>
        <link href="~/Content/jquery-ui.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/Scripts/easyResponsiveTabs.js" type="text/javascript"></script>
    @*@Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery.fileupload.js"></script>
        @Scripts.Render("~/Scripts/FormBot.js")*@
    <script type="text/javascript">
        var activeTab = 't1';
        var chkUserName = true;
        var chkCompanyABN = true;
        var chkCECAccreditationNumber = true;
        var BaseURL = '@FormBot.Helper.ProjectConfiguration.ProjectImagePath' + 'User/';
        var resellerID = null;
        var userID = '@Model.UserId';
        var valueSE = $("#UserTypeID").val();
        $('.SE').show();
        $('.SWH').show();

        $(document).ready(function () {
            FillDropDown('UnitTypeId', '@Url.Action("GetUnitType", "UnitType")', '@Model.UnitTypeID' ? '@Model.UnitTypeID' : 0, true, null);
            FillDropDown('StreetTypeId', '@Url.Action("GetStreetType", "StreetType")', '@Model.StreetTypeID' ? '@Model.StreetTypeID' : 0, true, null);
            FillDropDown('PostalAddressID', '@Url.Action("GetPostalAddress", "User")', '@Model.PostalAddressID' ? '@Model.PostalAddressID' : 0, true, null);
            $('.PDA').hide();
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    addRules();
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });

            addressID = @Model.AddressID;
            POAddress(addressID);

            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });

            //$('#UserTypeID').change(function () {
            //    valueSE = $('#UserTypeID').val();
            //    //if($('#UserTypeID').val() == 7)
            //    //{
            //    //    $('.SE').show();
            //    //    $('.SWH').hide();
            //    //}
            //    //else if($('#UserTypeID').val() == 10)
            //    //{
            //    //    $('.SE').hide();
            //    //    $('.SWH').show();
            //    //}
            //});

        });

        function validateForm() {
            
            if($('#CECAccreditationNumber').val() == '' && $('#SWHLicenseNumber').val() == ''){
                showErrorMessage("Please Enter accreditation number or license number.");
                return false;
            }
            if($('#SWHLicenseNumber').val() != ''){
                $("#Email").rules("add", {
                    required: true,
                    messages: {
                        required: "Email is required."
                    }
                });
                $("label[for~='Email']").addClass("required");
            }
            else{
                $("#Email").rules("add", {
                    required: false
                });
                $("label[for~='Email']").removeClass("required");
            }
            addRules();
            $.validator.unobtrusive.parse("#UserDetails");

            if ($("#UserDetails").valid() && CheckShowMessages()) {
                return true;
            }
            else {
                return false;
            }
        }

        $(document).ready(function () {
            $('#txtTown').autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("ProcessRequest","User")',
                        dataType: 'json',
                        data: {
                            excludePostBoxFlag: true,
                            q: request.term
                        },
                        success: function (data) {
                            var data1 = JSON.parse(data);
                            if (data1.localities.locality instanceof Array)
                                response($.map(data1.localities.locality, function (item) {
                                    return {
                                        label: item.location + ', ' + item.state + ', ' + item.postcode,
                                        value: item.location,
                                        state: item.state,
                                        postcode: item.postcode
                                    }
                                }));
                            else
                                response($.map(data1.localities, function (item) {
                                    return {
                                        label: item.location + ', ' + item.state + ', ' + item.postcode,
                                        value: item.location,
                                        state: item.state,
                                        postcode: item.postcode
                                    }
                                }));
                        }
                    })
                },
                select: function (event, ui) {
                    $('#txtState').val(ui.item.state);
                    $('#txtPostCode').val(ui.item.postcode);
                }
            });

            $('#btnCancel').click(function () {
                window.location.href = '@Url.Action("RequestedSE", "User", new { Id=string.Empty})';
            });

            $('#txtPostCode').autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("ProcessRequest","User")',
                        dataType: 'json',
                        data: {
                            excludePostBoxFlag: true,
                            q: request.term
                        },
                        success: function (data) {
                            var data1 = JSON.parse(data);
                            if (data1.localities.locality instanceof Array)
                                response($.map(data1.localities.locality, function (item) {
                                    return {
                                        label: item.location + ', ' + item.state + ', ' + item.postcode,
                                        value: item.postcode,
                                        state: item.state,
                                        location: item.location
                                    }
                                }));
                            else
                                response($.map(data1.localities, function (item) {
                                    return {
                                        label: item.location + ', ' + item.state + ', ' + item.postcode,
                                        value: item.postcode,
                                        state: item.state,
                                        location: item.location
                                    }
                                }));
                        }
                    })
                },
                select: function (event, ui) {
                    $('#txtState').val(ui.item.state);
                    $('#txtTown').val(ui.item.location);
                }
            });
        });

        function POAddress(addressID){
            $(".POID").find('input[type=text]').each(function () {
                $(this).val('');
                $(this).attr('class', 'form-control valid');
            });
            $(".POID").find('.field-validation-error').attr('class', 'field-validation-valid');

            if (addressID == 1) {
                $('.DPA').show();
                $('.PDA').hide();
                $('#PostalAddressID').val('');
                $('#PostalDeliveryNumber').val('');
                $('#PostalAddressID').attr('class', 'form-control valid');
                $('#PostalDeliveryNumber').attr('class', 'form-control valid');
            }
            else if (addressID == 0) {
                $('.DPA').show();
                $('.PDA').hide();
                $('#PostalAddressID').val('');
                $('#PostalDeliveryNumber').val('');
                $('#PostalAddressID').attr('class', 'form-control valid');
                $('#PostalDeliveryNumber').attr('class', 'form-control valid');
            }
            else {
                $('.DPA').hide();
                $('.PDA').show();
                $('#UnitTypeId').val('');
                $('#UnitNumber').val('');
                $('#StreetNumber').val('');
                $('#StreetName').val('');
                $('#StreetTypeId').val('');
                $('#UnitTypeId').attr('class', 'form-control valid');
                $('#UnitNumber').attr('class', 'form-control valid');
                $('#StreetNumber').attr('class', 'form-control valid');
                $('#StreetTypeId').attr('class', 'form-control valid');
                $('#UnitTypeId').attr('class', 'form-control valid');
            }
        }

        $("#AddressID").change(function () {
            var addressID = $('#AddressID option:selected').val();
            POAddress(addressID);
        });

        $('.close').click(function(){
            $("#ValidationSummary").hide();
        });

        function addRules() {
            $("#UnitTypeId").rules("add", {
                required: false,
            });
            $("#UnitNumber").rules("add", {
                required: false,
            });
            if ($("#UnitTypeId").val() == "" && $("#UnitNumber").val() == "") {
                $('#lblUnitNumber').removeClass("required");
                $('#lblUnitTypeID').removeClass("required");
                $("#UnitNumber").rules("add", {
                    required: false,
                });
                $("#UnitTypeId").rules("add", {
                    required: false,
                });
                $("#UnitNumber").next("span").attr('class', 'field-validation-valid');
                $('#lblStreetNumber').addClass("required");
                $("#StreetNumber").rules("add", {
                    required: true,
                    messages: {
                        required: "Street Number is required."
                    }
                });
            }

            if ($("#UnitTypeId").val() > 0 && $("#UnitNumber").val() != "") {
                $('#lblStreetNumber').removeClass("required");
                $("#StreetNumber").rules("add", {
                    required: false,
                });
                $('#lblUnitNumber').removeClass("required");
                $('#lblUnitTypeID').removeClass("required");
                $("#UnitNumber").rules("add", {
                    required: false,
                });
                $("#UnitTypeId").rules("add", {
                    required: false,
                });
            }
            if ($("#UnitTypeId").val() > 0 && $("#UnitNumber").val() == "") {
                $("#UnitNumber").rules("add", {
                    required: true,
                    messages: {
                        required: "Unit Number is required."
                    }
                });
                $('#lblUnitNumber').addClass("required");
                $('#lblStreetNumber').removeClass("required");
                $("#StreetNumber").rules("add", {
                    required: false,
                });
            }
            if ($("#UnitTypeId").val() == "" && $("#UnitNumber").val() != "") {
                $('#lblUnitNumber').removeClass("required");
                $('#lblUnitTypeID').removeClass("required");
                $("#UnitNumber").rules("add", {
                    required: false,
                });
                $("#UnitTypeId").rules("add", {
                    required: false,
                });
                $('#lblStreetNumber').addClass("required");
                $("#StreetNumber").rules("add", {
                    required: true,
                    messages: {
                        required: "Street Number is required."
                    }
                });
            }
        }

        function getDropDownValue() {
            
            if (validateForm()) {
                return true;
            }
            else {
                return false;
            }
        };
    </script>
}
